/*
██████╗  █████╗ ███████╗██╗ ██████╗███████╗
██╔══██╗██╔══██╗██╔════╝██║██╔════╝██╔════╝
██████╔╝███████║███████╗██║██║     ███████╗
██╔══██╗██╔══██║╚════██║██║██║     ╚════██║
██████╔╝██║  ██║███████║██║╚██████╗███████║
╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝╚══════╝
*/

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ebeced;
	color: $ecolor2;
	line-height: 1.4;
	font-family: $font;
	font-size: 14px;
	text-align: left;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: none;
	-webkit-user-select: none;    	
	}	
	

:focus { 
	outline: none !important; 
	border: 0 !important 
	}

.z999999 {
	z-index: 99999999999;
}	
/* Internet explorer puts an "X" to clear input fields...*/
input::-ms-clear {
    display: none;
	}	
	
label {
	margin-bottom: 0px !important;
	}

h3, h4 {
	color: black;
	cursor: default;
	}	
	
h5 {
	position: relative;
	font-size: 150%;
	color: white;
	margin-top: 0;
	font-weight: $fat;
	width: 100%;
	text-align: left;
	}

tr {
	background: rgba(63, 70, 82, 1);
	}
	
/* table */
thead tr, thead tr th {
	border: none;
	background: transparent !important;
	}	

tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.15);
	}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.075);
	}

tr.new {
	background-color: rgb(0,255,255) !important;
	}

th {
	background: $ecolor2;
	cursor: pointer;
	font-size: 100%;
	font-weight: $lean;
	width: 10%;
	padding: 10px;
	letter-spacing: 1px;
	padding-left: 6px;
	padding-bottom: 2px;
	}
	
td {
	padding: 5px;
	vertical-align: top;
	}
		
th.thirtyp {
	/*width: 30%;*/
	width: 170px;
	}

td.name {
	width: 170px;
	}

th.fivep { 
	width: 25px;
	padding-left: 9px;
	padding-bottom: 0;
	padding-top: 22px;
	}

article {
	color: #333;
	margin-top: 20px;
	}

hr {
	border-top: 1px solid #333;
	}	

/* Main name (in table) */
.dln {
	margin-left: 30px;
	font-family: $font;
	background: none;
	border: none;
	font-size : 130%;
	margin: 0px 10px 0px 0px;
	padding-bottom: 0;
	width: 100%;
	font-weight: 400;
	color: #333;
	}

.dln:hover {
	color: black;
	}

/* file description */
.dld {
	font-weight: 400;
	font-size: 100%;
	margin: 0 10px 0 0;
	font-family: $font;
	color: #333;
	background: none;
	border: none;
	resize: none;
	width: 100%; 
	height: 24px;
	opacity: 0.5;
	position: relative;
	top: -3px;	
	font-style: italic;
	overflow-y: hidden;
	}

/* table cell */
.tdcont {
	opacity: 1;
	font-size: 14px;
	font-weight: $lean;
	letter-spacing: 0.5px;
	line-height: 1.2;
	padding-top: 10px;
	border-left: 1px dashed rgba(255, 255, 255, 0.15);	
	padding-left: 9px;
	color: #333;
	}
	

.tdcont.company {}
.tdcont.position {}
.tdcont.phone {}

/*.tdcont.company input {
	background: red !important;
	}

.tdcont.position input {
	background: red !important;
	}

.tdcont.phone input {
	background: red !important;
	}
*/




.tdcont:hover {
	color: black;
	}

/*.tdcont.access:hover {
	background: rgb(146, 240, 229);
	}
*/

.manage-access-button-done,
.manage-access-current-role,
.user-projects-button {
	background: rgba(0, 0, 0, 0.65);
	padding: 10px 4px 10px 4px;
	text-align: center;
	line-height: 1;
	margin-right: 4px;
	color: white;
	font-weight: 500;
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
	}

.manage-access-button-done:hover,
.manage-access-current-role:hover,
.user-projects-button:hover {
	/*background: #66a7a0;*/
	/*background: #218777;*/
	background: black;
	}
	
.defaultCursor {
	cursor: default !important;
	}

.smallerText {
	font-size: 100%;
	}	
	
a {
	font-weight: $median;
	}

.active a {
	color: cadetblue !important;
	font-weight: 900 !important;
	}	

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: white !important;
	background: white !important;
	}

/*SVG*/

path {
	stroke-width: 1.5px;
	}
		
path:hover {
	fill-opacity: .7;
	}


/* FOR IPHONE */
/* FOR IPHONE */
/* FOR IPHONE */

ul#checked {
	width: 100px;
	list-style: none;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	height: 40px;
	float: right;
	}

ul#checked li p {
	display: block;
	margin-bottom: 20px;
	background: -moz-linear-gradient(19% 75% 90deg,#3095C7, #14539C); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14539C), to(#3095C7));
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #555555;
	width: 90px;
	position: relative;
	height: 22px;
	}

ul#checked p:before {
	content: "Vector";
	padding-left: 5px;
	color: #fff;
	font-size: 12px;
	}

ul#checked p:after {
	content: "Raster";
	padding-left: 6px;
	line-height: 23px;
	color: #fff;
	font-size: 12px;
	}

.check { 
	display: block;
	width: 45px;
	height: 20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: -moz-linear-gradient(19% 75% 90deg,#FFFFFF, #A1A1A1);
	background: #fff -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1A1A1), to(#FFFFFF));
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0px;
	left: 0px;
	}

input[type=checkbox] {
	display: none;
	}

input[type=checkbox]:checked + label.check {
	top: 0px;
	left: 44px;
	}

input[type=checkbox] + label.check {
	top: 0px;
	left: 0px;
	}

label.info {
	position: absolute;
	color: #000;
	top:0px;
	left: 100px;
	line-height: 32px;
	width: 200px;
	}	

/* This holds tooltop etc. */
.g-body {
	z-index: 35000;	
	top: 5px;
	left: -17px;
	position: relative;
	top: 42px;
	left: -31px;
	position: absolute;	
	}


/* Hide select all users button, because it doesn't work, and it's not really needed */
.users-squaredThree-checkbox-all {
	visibility: hidden;
	}

/*
██╗   ██╗███╗   ██╗██╗██╗   ██╗███████╗██████╗ ███████╗ █████╗ ██╗     ███████╗
██║   ██║████╗  ██║██║██║   ██║██╔════╝██╔══██╗██╔════╝██╔══██╗██║     ██╔════╝
██║   ██║██╔██╗ ██║██║██║   ██║█████╗  ██████╔╝███████╗███████║██║     ███████╗
██║   ██║██║╚██╗██║██║╚██╗ ██╔╝██╔══╝  ██╔══██╗╚════██║██╔══██║██║     ╚════██║
╚██████╔╝██║ ╚████║██║ ╚████╔╝ ███████╗██║  ██║███████║██║  ██║███████╗███████║
 ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝
*/


.unselectable { 
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
	}

.box {
	margin: 4px !important;
	}	

.die {
	display: none !important;
	}

.show {
	display: block;
	}

.relative {
	position: relative;
	}	

.inline {
	display: inline-block;
	vertical-align: top;
	}
	
.inliner {
	position: absolute;
	right: 1px;
	top: 8px;
	}

.underline {
	text-decoration: underline;
	}				

/* Search fields */
.search {
	margin: 0px;
	border: none;
	font-family: $font;
	font-weight: $lean;
	color: black;
	background: white;
	font-size: 120%;
	width: 171px;
	text-align: left;
	position: relative;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.4) inset;
	padding: 4px;
	}		
	
/* Often used in tables */
.eightyWidth {
	background: rgba(0, 0, 0, 0.3);
	color: white !important;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	padding: 6px !important;
	height: 30px !important;
	margin-bottom: 10px;
	margin-top: 0 !important;
	}

/* Button */
.dropdown-button {
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: 4px 8px;
	position: absolute;
	right: 15px;
	top: 50px;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	z-index: 99999;
	}

.smap-button-white {
	height: 30px;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	padding: 0px 10px 0px 10px;
	border: 0px;
	border-radius: 0;
	line-height: 2.1;
	font-family: $font;
	font-size: 110%;
	font-weight: $median;
	cursor: pointer;
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: rgba(255,255,255,0.75);
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	color: #666;
	}

.smap-button-gray {	
	@extend .smap-button-white;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	font-weight: 500;
	margin-left: 5px;
	}	

/* Button */
.smap-button-white:active,
.smap-button-gray:active {
	box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.0);
	}
	
/* Button */
.smap-button-white:hover {
	background: white;
	color: #333;
	}

/* Button */
.smap-button-gray:hover {
	background: black;
	color: white;
	}	

/* Button */	
.smap-button-white.small {
	height: 26px;
	font-size: 13px;
	line-height: 2;
	}	

/* Button */
.smap-button-white.small.red {
	color: white !important;
	background: #B80077 !important;
	box-shadow: 0 0 0 1px white inset;
	}

/* Input field (gray bg – see bounds in Options) */
.editor-inner-wrapper input,
.input-box {
	padding: 7px;
	color: white;	
	font-weight: $lean;
	background: rgba(0, 0, 0, 0.7);
	}

.input-box {
	float: left;
	width: 170px;
	border: 0;
	}

.form-control {
	border-radius: 0px;
	border: 0px;
	}	
	
.displayNone {
	display: none !important;
	}

.fadeOut {
	opacity: 0;
	}

.valid {
	background: rgb(108, 255, 135);
	}

.invalid {
	background: rgb(255, 108, 108);
	}

.collapsed {
	display: none;
	}

.expand {
	display: block !important;
	}


/* A bit annoying, but center most headlines */
/*#editor-client-item-new h5, */
.editor-client-title h5,
.editor-inner-wrapper h5, 
#select-basic-themes, 
#advanced-color-header, 
.editor-wrapper h4 {
	font-weight: 400;
	text-align: center;
	}

/* Titles in the "Options" menu */
.editor-wrapper h4 {
	cursor: pointer;
	}	

/* Background for the titles in the "Options" menu */
/* Used for help tooltip hovering */
.editor-wrapper h4:before {
	content: '';
	width: 100%;
	height: 58px;
	position: absolute;
	left: 0;
	opacity: 0.3;
	top: 0px;
	}

.status-progress-bar {
	position: absolute;
	width: 0%;
	top: 0px;
	left: 0px;
	z-index: 99999999999;
	margin-left: 0px;
	background: white;
	float: left;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	/*height: 5px;*/
	/*-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);*/
	/*box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);*/

	background-color: red;
	box-shadow: none;
	height: 2px;
	z-index: 1000000000000; 	
	}

.disabled {
	opacity: 0.1;
	height: 0px !important;
	}	

.disabled a {
	opacity: 0;
	}

.dragging {
	background: #92f0e5 !important;
	/*cursor: pointer;*/
	cursor: -webkit-grabbing !important;
	cursor:    -moz-grabbing !important;
	}


/* SWITCH */
/* SWITCH */
/* SWITCH */

/*toggle switches Options/Settings*/
.switch {
	margin-top: 9px;
	margin-left: 144px;
	position: absolute;
	}

input.cmn-toggle-round-flat + label {
	padding: 2px;
	width: 64px;
	height: 25px;
	background-color: #C7C7C7;
	border-radius: 60px;
	transition: background 0.1s;
	margin-top: -19px;
	cursor: pointer;
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	}

input.cmn-toggle-round-flat + label:active {
	cursor: pointer;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
	}

input.cmn-toggle-round-flat + label:before {
	top: 0px;
	left: 0px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	border-radius: 60px;
	transition: background 0.1s;
	width: 60px;
	height: 21px;
	position: relative;
	}

input.cmn-toggle-round-flat + label:after {
	top: -19px;
	left: -7px;
	bottom: 4px;
	width: 22px;
	background-color: #dddddd;
	border-radius: 52px;
	transition: margin 0.1s, background 0.1s;
	height: 17px;
	margin-left: 10px;
	position: relative;
	}

input.cmn-toggle-round-flat:checked + label {
	background-color: #8ce196;
	}

input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 42px;
	background-color: #8ce196;
	}

.settings-item {
	position: relative !important;
	height: 31px !important;
	background: rgba(255,255,255,0.5) !important;
	width: 210px !important;
	margin-bottom: 1px !important;
	left: 0px !important;
	padding-top: 2px !important;
	}

.settings-item-title {
	color: #333 !important;
	font-weight: 400 !important;
	line-height: 1.6 !important;
	}

.switch {
	margin-left: 160px !important;
	}

.controls-switch {
	top: -27px;
	right: -1px;
	z-index: 1;
	position: relative;
	}

.carto-switch-tooltip {
	top: 4px;
	right: 6px;
	z-index: 1;
	position: absolute;
	}

.carto-switch-legend {
	top: 3px;
	right: 6px;
	z-index: 1;
	position: absolute;
	}


/* Switch overriders */
input.cmn-toggle-round-flat:checked + label,
input.cmn-toggle-round-flat:checked + label:after {
	background-color: #666 !important;
	}

input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 28px !important;
	}

input.cmn-toggle-round-flat + label:after {
	left: -22px !important;
	top: -16px !important;
	width: 18px !important;
	height: 14px !important;
	left: -8px !important;
	}

input.cmn-toggle-round-flat + label {
	padding: 1px !important;
	height: 20px !important;
	width: 42px !important;	
	}

input.cmn-toggle-round-flat + label:before { 
	height: 18px !important;
	width: 40px !important;
	}


/*	
██╗      ██████╗  ██████╗ ██╗███╗   ██╗    ██████╗  █████╗  ██████╗ ███████╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║    ██╔══██╗██╔══██╗██╔════╝ ██╔════╝
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║    ██████╔╝███████║██║  ███╗█████╗  
██║     ██║   ██║██║   ██║██║██║╚██╗██║    ██╔═══╝ ██╔══██║██║   ██║██╔══╝  
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║    ██║     ██║  ██║╚██████╔╝███████╗
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;	
	background: #3F4652;
	color: #FAFAFA;
	}

.jumbotron {
	height: 100%;
	background: #3F4652;
	color: #FAFAFA;
	padding-top: 170px;
	}

.col-sm-6.col-sm-offset-3 {
	width: 400px;
	margin: auto;
	float: none;
	margin-top: 150px;	
	}

#login-logo {
	width: 390px;
	height: 324px;
	background-image: url(images/ruppellsgriffon_logo.png);
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	}

#login-button {
	top: -3px;
	position: relative;
	}	

#forgot-password {
	background: none;
	border: none;
	float: right;
	color: white;
	font-size: 15px;
	vertical-align: bottom;
	position: relative;
	text-align: right;
	right: -7px;
	cursor: pointer;
	text-decoration: underline;
	}

.secure-logn-symbol {
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: -469px 1px;
	width: 26px;
	height: 25px;
	position: relative;
	display: inline-block;
	top: 5px;
	}	


/*
 █████╗ ██████╗ ██████╗   ██╗███╗   ███╗ █████╗ ██████╗ 
██╔══██╗██╔══██╗██╔══██╗ ██╔╝████╗ ████║██╔══██╗██╔══██╗
███████║██████╔╝██████╔╝██╔╝ ██╔████╔██║███████║██████╔╝
██╔══██║██╔═══╝ ██╔═══╝██╔╝  ██║╚██╔╝██║██╔══██║██╔═══╝ 
██║  ██║██║     ██║   ██╔╝   ██║ ╚═╝ ██║██║  ██║██║     
╚═╝  ╚═╝╚═╝     ╚═╝   ╚═╝    ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     
*/


/* Absolute outer wrapper */
#app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;

	min-width: 650px; /* For desktop only */
	}
	
/* Map container */
#map {
	position: absolute;
	width: 100%;
	height: 100%;
	height: 100%;
	left: 0px;

	min-width: 650px; /* For desktop only */
	}

/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/
	
#header {
	position: absolute;
	height: 77px;
	z-index: 10;
	top: 6px;
	left: 104px;
	width: 100%;
	padding-right: 110px;
	display: inline-block;
	}

#header .header-logo-container {
	position: relative;
	z-index: 1000;
	color: white;	
	float: left;
	max-height: inherit;
	/*padding: 5px;*/
	margin-right: 10px;
	position: absolute;	
	background-repeat: no-repeat;
	background-position: center;
	left: 3px;
	background-color: transparent;
	background-size: 100% 100%;
	top: 3px;
	height: 71px;
	margin-right: 10px;
	width: 105px;
	overflow: hidden;
	}



.header-logo-container.editable:hover {
	cursor: copy;
	opacity: 0.7;
	}	

/*.header-logo img {
	max-height: 100%;
	padding-bottom: 10px;
	width: auto;
	}*/


.header-logo {
	height: 100%;
	}

.header-logo img {
	/*max-height: 100%;*/
	/*padding-bottom: 10px;*/
	/*width: auto;*/
	position: relative;
	}

.header-title-wrap {
	background: rgba(255, 255, 255, 0.93);
	height: 100%;
	width: 100%;
	top: 0;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	border: 0px;
	font-size: 30px;
	font-weight: 200;
	float: left;
	padding-right: 22px;
	cursor: default;	
	}

.header-title {
	border: 0px;
	background: transparent;
	font-size: 30px;
	font-weight: $lean;
	padding-left: 120px;
	height: 45px;
	overflow: hidden;
	}

.header-title input {
	padding: 0;
	width: 100%;
	}

.header-subtitle {
	border: 0px;
	background: transparent;
	display: block;
	font-style: italic;
	color: #666;
	font-size: 16px;
	font-weight: 400;
	float: left;
	height: 16px;
	word-wrap: break-word;
	position: relative;
	left: inherit;
	top: 0;
	line-height: 15px;
	overflow: hidden;
	max-height: 31px;
	padding-right: 14px;
	padding-left: 120px;
	}

.header-subtitle input {
	width: 300px;
	color: black;
	width: 400px;
	margin: 0 !important;
	padding: 0 !important;
	left: inherit;
	position: relative;
	top: -9px !important;
	}	

#header input {
	outline: none;
	}
 
#header input:focus  {
	border: 1px solid rgb(81, 203, 238);
	}





/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗     ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗ ██╗███╗   ██╗███████╗██████╗ 
██║  ██║██╔═══██╗████╗ ████║██╔════╝    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██║████╗  ██║██╔════╝██╔══██╗
███████║██║   ██║██╔████╔██║█████╗      ██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║██╔██╗ ██║█████╗  ██████╔╝
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝      ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║██║╚██╗██║██╔══╝  ██╔══██╗
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║██║ ╚████║███████╗██║  ██║
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝
*/

.home-container {
	width: 90px;
	margin: 4px;
	height: 77px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 999;
	margin: 6px;
	left: 0px;
	overflow: hidden;	
	}

.home-logo {
	background: none;
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 50px;
	width: 100%;
	background-position: -180px -229px;
	opacity: 0.5;
	}

.home-container:hover > .home-logo {
	opacity: 0.7;
	}

.home-status {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 0px;
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 110%;
	cursor: pointer;
	color: black;
	opacity: 0;
	overflow: hidden;	
	}

.status-in {
	opacity: 0.9;
	height: 27px;
	}

.home-status-inner {
	position: absolute;
	bottom: 5px;
	width: 100%;
	}	


/*HELP TOOLTIP CHANGES*/

.opentip-container {
	z-index: 9999999 !important;
	}

.style-systip .opentip {
	color: white !important;
	text-shadow: none !important;
	}


