/* C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 */
/* C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 */
/* C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 */


.c3 svg {
    position: relative;
    left: -7px;
    }
    
/* HEADER */
.c3-header-wrapper {
    position: relative;
    margin-bottom: 7px;
    max-width: 400px;
    }

#c3-header-metacontainer {
    background: white;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
    }

.c3-header-layer-name {
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    vertical-align: top; 
    text-transform: uppercase;  
    margin-bottom: 5px; 
    }

.c3-point-count {
    font-size: 15px;
    font-style: italic;
    color: #999;
    position: relative;
    top: -3px;
    margin-bottom: -1px;
    }

.c3-header-metapair {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: 900;
    width: 33%;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #DADADA !important;
    padding-bottom: 2px !important;
    height: 18px;
    }


.metapair-1,
.metapair-2,
.metapair-3 {
    padding-top: 0px !important;
    border-top: 0px !important;
    }


.small-pop-up .c3-header-metapair {
    display: block;
    width: 100%;
    }

.small-pop-up .metapair-1,
.small-pop-up .metapair-2,
.small-pop-up .metapair-3 {
    border-top: none !important;
    }

.c3-header-metapair,
.c3-header-metakey {
    background: none;
    border: none;
    padding: 0;
    }

.c3-header-metakey,
.c3-header-metaval {
    background: none;
    border: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    }

.c3-header-metakey {
    color: #999;
    }

.c3-header-metaval {
    padding: 0px 0px 0px 5px;
    }

#c3-container {
    max-height: 247px !important;
    margin-right: 15px;
    }

#c3-container:before {
    content: 'Scroll to zoom';
    position: absolute;
    bottom: 11px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #999;
    font-style: italic; 
    }

#c3-container:after {
    content: 'mm';
    position: absolute;
    color: #999;
    left: 9px;
    bottom: 19px;
    font-size: 11px;
    }    

#c3-header-metacontainer {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0px;
    line-height: 1.2;
    position: relative;
    max-width: 444px;    
    }

.c3-header-metapair {
    }

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: 2 2 !important;
    stroke: rgba(255,255,255,0.2) !important;
    }

.c3 text { 
    fill: black;
    font-size: 12px;    
    }   

.c3 path, .c3 line {
    stroke: black;
    fill: none;
    }   

.c3 line {
    stroke: #DADADA !important;
    }

.c3-chart-line {
    opacity: 1 !important;
    }

g.c3-event-rects.c3-event-rects-multiple rect {
    stroke-width: 0.5;
    stroke: black;
    }

.c3-target-avgX {
    stroke-width: 2px;
    stroke: black;
    }

.c3-zoom-rect {
    fill: white;
    fill-opacity: 1;
    opacity: 1 !important; 
    }

.c3-tooltip-container {
    width: 150px;
    }

.c3-tooltip-name--field-y .name {
    display: none;
    }

.c3-tooltip td.value {
    text-align: center;
    font-weight: 900;
    padding: 4px 4px 2px 5px;
    font-size: 12px;    

    }

.c3-tooltip th {
    font-size: 11px;
    padding: 2px 5px;
    background: white;
    font-weight: 600;
    width: 20px;
    background-color: #666;
    color: white;
    text-align: center;    
    }

.leaflet-popup-move-button {
    background-color: rgba(255, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 39px;
    cursor: pointer;
    z-index: 99999999999;
    pointer-events: all;
    }    

.leflet-container.leaflet-popup {
    max-width: 468px;
    min-width: 200px;
    }

.leflet-container.leaflet-popup.tiny-pop-up {
    max-width: 200px;
    }


.c3-footer {
    font-size: 12px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    bottom: 26px;
    width: 100%;
    float: right;
    margin: 0;
    height: auto;
    }    

.end-date {
    float: right;
    }    

td.name {
    width: auto;
    }    

.regression-button-wrapper {
    position: relative;
    top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin: 0;
    }    

input.chart-regression-button {
    display: inline-block;
    }    