/* STYLER */
/* STYLER */
/* STYLER */

.chrome-pane.styler {

	.chrome-field-line {
	  	padding-left: 0px;	
		}

	.select-field-wrap {
		margin-top: 1px;
		float: right;
		position: relative;	
		}

	.chrome-color-ball {
		position: absolute;
		}

	.select-field-wrap {
		position: absolute;
	  	top: 6px;
		}

	.sub-line:last-child {
		border-bottom: none !important;
		}

	.chrome-switch-container {
		top: 10px;
		}


	/* CHROME => STYLER => SAVE TEMPLATE */
	/* CHROME => STYLER => SAVE TEMPLATE */

	.save-as-template-button {
		position: absolute;
		bottom: 80px;
		color: #1E638E;
		width: 100%;
		text-align: center;
		font-style: italic;
		text-decoration: underline;
		cursor: pointer;
		}

	.save-as-template-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		background: white;
		top: 0;   
		padding: 35px;
		-webkit-transition: top 500ms ease;
		transition: top 500ms ease;
		}

	.hidden-template-dialogue {
		top: 120px;
		}

	.save-as-template-input-name {
		border: none;
		background-color: #DCDCDC;
		border-radius: 2px;
		font-size: 17px;
		padding: 2px;
		height: 38px;
		margin-right: 6px;
		width: 315px;
		padding-left: 10px;
		padding-right: 10px;
		}

	.error-template-input {
	    	border: 1px solid #C80000;
		}    

	.save-as-template-error {
		color: #C80000;
		position: absolute;
		top: 12px;
		}

	.save-as-template-OK-button {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		}

	.save-as-template-cancel-button {
		color: #C80000;
		font-style: italic;
		text-decoration: underline;    
		cursor: pointer;
		}


}