.chrome-pane.extras .chrome-metafield-line {
	height: 32px;
	}

.chrome-pane.extras .chrome-field-mini-input, 
.chrome-pane.extras .chrome-field-mini-input:focus {
	height: 21px;	
	}

.chrome-pane.extras .chrome-field-line {
	padding-top: 2px;
	padding-bottom: 2px;	
	}

.chrome-content.chrome-pane.extras .chrome-field-line, 
.chrome-content.chrome-pane.extras .chrome-field-input {
	padding-left: 0;
	}

.globesar-extras-ref-point-dropdown {
	top: 6px;
	left: 110px;
	}

.globesar-extras-input,
.globesar-extras-input:focus {
  	width: 53px;	
	}

.globesar-extras-ref-point-dropdown.full-width {
  	width: 181px;	
	}