/*
 ██████╗       ███████╗██████╗ ██╗████████╗ ██████╗ ██████╗ 
██╔═══██╗      ██╔════╝██╔══██╗██║╚══██╔══╝██╔═══██╗██╔══██╗
██║   ██║█████╗█████╗  ██║  ██║██║   ██║   ██║   ██║██████╔╝
██║▄▄ ██║╚════╝██╔══╝  ██║  ██║██║   ██║   ██║   ██║██╔══██╗
╚██████╔╝      ███████╗██████╔╝██║   ██║   ╚██████╔╝██║  ██║
 ╚══▀▀═╝       ╚══════╝╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝
*/


.active-project {
	background: rgba(255, 255, 255, 0.5);
	}

.active-project:hover {
	background: rgba(255, 255, 255, 0.8);
	}

.project-edit-textarea {
	background: rgba(0,0,0,0);
	border: none;
	height: 43px;
	width: 116px;
	overflow: hidden;
	resize: none;
	margin-left: -2px;
	margin-top: -2px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;
	}

.drop-meta-wrapper {
	position: relative;
	padding: 20px;
	padding-left: 30px;
	font-size: 220%;
	color: #dadada;
	width: 400px;
	margin: auto;
	top: 40%;
	white-space: nowrap;
	}

.drop-meta-title {
	left: -30px;
	}

.drop-meta-wrapper {
	padding-left: 0px;
	font-size: 150%;
	}	
#collapse-descripton {
	font-size: 120%;
	font-weight: 500;
	cursor: default;
	}

/* Outer wrapper */
.q-editor-container {
	position: absolute;
	overflow: hidden;
	z-index: 2000;	
	background-color: rgba(255,255,255,0.0);
	box-shadow: none;
	top: 84px;
	left: 4px;
	height: 0px;
	width: 100px;
	padding-top: 0px;
	overflow: visible;
	}

/* Menu to the left */
.q-editor-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.3);
	height: auto;
	left: 2px;
	width: 90px;	
	background-color: rgba(255, 255, 255, 0.95);
	top: 79px;
	top: 6px;
	margin-top: 0px;
	overflow: hidden;
	height: 0;	
	}

.q-editor-menu-item {
	text-align: center;
	height: 70px;
	position: relative;
	cursor: pointer;
	z-index: 200;
	}

.q-editor-content-item.show {
	opacity: 1;
	}

.hide-menu .q-editor-content-item {
	opacity: 0;
	}	

.q-editor-menu-item a {
	width: 100%;
	font-size: 90%;
	text-transform: uppercase;
	font-weight: $fat;
	bottom: 0px;
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	text-decoration: none;
	color: #666;
	padding-top: 26px;
	line-height: 18px;
	}

.q-editor-menu-item a:hover {
	color: #333;
	}

.q-editor-menu-item .dataLibrary {
	padding-top: 18px;
	}

.q-editor-menu-item .users {
	padding-top: 25px;
	}

/* Menuslider with arrow */
#menuslider {
	height: 70px;
	top: 0px;
	position: absolute;	
	width: 90px;
	background-color: rgba(0, 0, 0, 0.05);
	}

#menuslider-arrow {
	position: absolute;
	right: -9px;
	width: 9px;
	height: 72px;
	overflow: hidden;
	}

#menuslider-arrow:before { 
	content: '';
	position: absolute;
	height: 30px;
	width: 30px;
	top: 21px;
	background-color: #e9e9e9;
	left: -29px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.075);
	z-index: 999;
	}

.q-editor-content-item {
	position: absolute;
	left: 100px;
	display: none;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 1;
	background-color: rgba(255,255,255,0.90);
	margin-top: 20px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	height: auto;
	width: 250px;
	max-height: 70%;
	top: 6px;
	margin: 0px;
	}

/* SCROLL WRAPPER (insisde q-editor-content-item) */
.editor-scroll-wrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
	position: relative;
	width: 111%;
	}

 /* Goes inside editor-scroll-wrapper */
.editor-wrapper {
	height: 100%;
	overflow-y: scroll;
	padding-top: 0;
	padding-bottom: 7px;
	padding-left: 0px;
	color: black;
	width: 260px;
	padding-right: 0px;
	}

.editor-inner-wrapper {
	padding: 5px;
	margin-bottom: 3px;
	position: relative;
	margin-top: 8px;
	border-radius: 0px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(55, 55, 75, 0.15);
	width: 230px;	
	}	

.editor-inner-wrapper:hover {
	background-color: rgba(55, 55, 75, 0.25);
	}


/*
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌─┐┬  ┬┌─┐┌┐┌┌┬┐┌─┐  ┌─┐┌┐┌┌┬┐  ┌─┐┬─┐┌─┐ ┬┌─┐┌─┐┌┬┐┌─┐
│  │  │├┤ │││ │ └─┐  ├─┤│││ ││  ├─┘├┬┘│ │ │├┤ │   │ └─┐
└─┘┴─┘┴└─┘┘└┘ ┴ └─┘  ┴ ┴┘└┘─┴┘  ┴  ┴└─└─┘└┘└─┘└─┘ ┴ └─┘
*/

/* Remove opacity and z-index sliders for now */
.baselayer-range-slider-opacity,
.baselayer-range-slider-zindex,
.layermenu-range-slider-opacity, 
.layermenu-range-slider-zindex {
	display: none;
	}

.editor-clients {
	position: relative;
	}

.editor-clients-container {
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 1px 0px;
	height: 80px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	background-color: rgba(55, 55, 75, 0.15);
	width: 230px !important;	
	}

.editor-clients-container:hover {
	background-color: rgba(55, 55, 75, 0.09);
	}

.editor-clients-container:hover > .client-kill {
	display: block;
	}	

.client-title {
	padding: 5px;
	/*text-transform: uppercase;*/
	font-size: 17px;
	font-weight: 400;
	color: #333;	
	width: 150px;
	line-height: 1.2;
	}

.client-title input {
	padding: 0;
	width: 150px;
	background: transparent;
	/*text-transform: uppercase;*/
	font-size: 17px;
	font-weight: 400;

	width: 135px !important;
	min-width: 135px !important;
	max-width: 135px !important;		
	}

.client-description {
	font-size: 12px;
	color: #666;
	width: 134px;
	text-indent: 0;
	left: 5px;
	position: relative;
	font-weight: 500;
	}

.client-description input {
	background: transparent;
	}	

.client-logo-container {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 5px;
	right: 5px;
	overflow: hidden;	
	}

.client-logo {
	position: relative;
	/*box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);*/
	}

.client-logo.editable:hover {
	opacity: 0.7;
	cursor: copy;
	}

.client-kill {
	bottom: 4px;
	right: 5px;
	position: absolute;
	padding: 1px 5px 2px 5px;
	display: none;
	font-weight: 900;
	border-radius: 1px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	}	

.client-kill:hover {
	background: #C80000;
	color: white;
	}

#new-client-button {
	margin: 0;
	margin-bottom: 10px;
	padding: 2px 12px 2px 4px;
	border: 0px;
	border-radius: 0;
	font-family: $font;
	font-weight: $lean;
	cursor: pointer;
	display: inline-block;
	bottom: -10px;
	color: #666;
	line-height: 0.5;
	background: rgba(55, 55, 75, 0.075);
	right: -201px;
	top: 7px !important;
	width: 26px;
	height: 26px;
	font-size: 220%;
	}	

#new-client-button:hover {
	background: white;
	color: #333;
	}	

/* Project in client */
.projects-container {
	position: absolute;
	top: 78px;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 10px;
	}

.project-item {
	background: rgba(0, 0, 0, 0.15);
	opacity: 1;
	margin-bottom: 5px;
	position: relative;
	color: #333;
	height: 111px;
	overflow: hidden;
	}

.project-item:hover {
	background: rgba(0, 0, 0, 0.25);
	}	

.project-item:hover > .project-kill {
	display: block;
	}

.project-title {
	position: relative;
	left: 10px;
	top: 6px;
	font-size: 110%;
	text-shadow: none;
	font-weight: 500;
	/*text-transform: uppercase;*/
	line-height: 1;
	overflow: hidden;
	max-height: 30px;
	min-height: 15px;
	height: auto;
	width: 192px;
	display: inline-block;
	vertical-align: bottom;
	padding-right: 20px;
	overflow: visible;
	}

.project-title input {
	position: absolute;
	left: 0;
	top: -2px;
	font-size: 100%;
	text-shadow: none;
	font-weight: 500;
	/*text-transform: uppercase;*/
	line-height: 0.9;
	padding: 0;
	background-color: transparent;
	width: 192px;
	height: 100%;
	}

.project-description {
	top: 39px;
	color: #333;
	text-shadow: none;
	border-top: 1px dotted rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 8px;
	height: 50px;
	overflow: hidden;
	width: 197px;
	background: rgba(255, 255, 255, 0);
	font-size: 12px;
	padding: 0px;
	font-weight: 500;
	line-height: 1.2;
	padding-top: 6px;
	padding-right: 73px;
	}

.project-description input {
	background-color: transparent;
	width: 189px;
	}	
	

.project-logo-container {
	position: absolute;
	background-repeat: no-repeat;
	width: 75px;
	height: 60px;
	right: 6px;
	top: 45px;
	overflow: hidden;
	text-align: center;
	}

.project-logo {
	position: relative;
	/*width: 100%;*/
	height: 100%;
	}

.project-logo.editable:hover {
	opacity: 0.7;
	cursor: copy;
	}

.project-logo-wrap img {
	height: 100%;
	}

/* Project info pop-up */
.project-item:hover > .project-users-wrap {
	opacity: 1;
	}

/* Square box with the "i" symbol */
.project-users-wrap {
	opacity: 0;
	height: 16px;
	width: 16px;
	z-index: 100000;
	position: absolute;
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: -118px -203px;
	top: 5px;
	right: 5px;
	border-radius: 1px;
	background-color: rgba(255,255,255,0.7);	
	}

.project-users-wrap:hover {
	opacity: 1;
	}



.active-project-user-button {
	display: block !important;
	opacity: 1 !important;
	}


/* Project info tooltip */
.project-users-inner-wrapper {
	width: 220px;
	/*position: absolute;*/
	/*top: 29px;*/
	/*right: -11px;*/
	/*background: white;*/
	/*display: none;*/
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);*/
	padding: 10px;
	/*margin-bottom: 10px;*/

	/* ••••••• */
	padding-top: 20px;
	position: relative;
	top: 82px;
	width: 210px;
	/* ••••••• */

	}

.project-users-inner-wrapper:before {
	content: '';
	position: absolute;
	left: 0;
	top: 12px;
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.3);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}	



/* Project tooltip arrow */
/*.project-users-inner-wrapper:before {	
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	top: -7px;
	right: 12px;
	background-color: white;
	}*/

/* Pseudo element to keep tooltip alive on hover */
.project-users-inner-wrapper:after {
	content: '';
	height: 32px;
	position: absolute;
	top: -30px;
	right: -1px;
	width: 75px;
	}

/* "Project status" header */
.project-stats {
	font-size: 12px;
	font-weight: 900;
	border-bottom: 1px dotted rgba(0,0,0,0.3);	
	margin-bottom: 3px;
	padding-bottom: 2px;	
	}

/* Tooltip project users */
.project-users {
	margin-top: 8px;
	line-height: 1.7;
	}

.project-users-header {
	font-size: 12px;
	font-weight: 900;
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	}

.project-users p {
	font-size: 11px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	}

 /* Text lines in the tooltip */
.project-createdby,
.project-lastupdated,
.update-header,
.project-createddate {
	/*color: #666;*/
	font-size: 11px;
	font-weight: 500;
	height: 16px;
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	margin-bottom: 2px;
	}

/* Left and right side in the tooltip */
.project-info-left,
.project-info-right { 
	vertical-align: top;
	position: relative;
	top: -2px;	
	}

.project-info-left {
	float: left;
	}

.project-info-right {
	float: right;
	}

.new-project-thumb {
	font-size: 11px;
	font-weight: 900;
	margin-top: 10px;
	background: #CCC;
	width: 100%;
	text-align: center;
	border-radius: 2px;
	height: 17px;
	/*float: right;	*/
	position: relative;
	cursor: pointer;
	}

.new-project-thumb:hover {
	background: #EEE;
	}


.project-delete {
	font-size: 11px;
	font-weight: 900;
	margin-top: 10px;
	background: #CCC;
	width: 100px;
	text-align: center;
	border-radius: 2px;
	height: 17px;
	/*float: right;*/
	
	}



.project-delete:hover {
	background: #C80000;
	color: white;
	}

/* New project button */
.new-project-button {
	margin: 0;
	margin-bottom: 10px;
	padding: 2px 12px 2px 5px;
	border: 0px;
	border-radius: 0;
	line-height: 0.55;
	font-family: $font;
	font-weight: 200;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, 0.15);
	right: 0px;
	bottom: -5px;	
	color: #666;
	font-size: 220%;
	height: 28px;
	width: 28px;	
	}

.new-project-button:hover {
	background: white;
	}

/* Is this one being used? */
.project-kill {
	color: white;
	background: rgba(0, 0, 0, 0.2);
	padding: 1px 5px 2px 5px;
	bottom: 87px;
	right: 83px;
	}

/* New Client title */
#editor-client-item-new h5 {
	padding: 0;
	position: relative;
	display: block;
	text-align: center;
	padding-top: 10px;
	font-size: 215%;
	color: black;	
	}



/*
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
│││├─┤├─┘  │ │├─┘ │ ││ ││││└─┐
┴ ┴┴ ┴┴    └─┘┴   ┴ ┴└─┘┘└┘└─┘
*/

/* Each box in the pane – overrides: .editor-inner-wrapper */
.editor-map-item-wrap {
	padding: 10px !important;
	margin-bottom: 1px !important;
	margin-top: 1px !important;
	min-height: 40px !important;
	}	
	
.editor-map-item-wrap:last-child {
	margin-top: 10px;
	}

.editor-map-item-wrap:last-child {
	margin-top: 1px;
	}

/* "DataLibray" / "MapBox" headers in the "Base Layer" and "Layer Menu" panes */
.item-list-header {
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: 600;
	font-size: 14px;
	color: #666;	
	}

/* Layer list button */
.item-list {
	height: 32px;
	margin-bottom: 10px;
	color: rgba(255,255,255,1);
	cursor: pointer;
	border: 0px;
	line-height: 1;
	border-radius: 0;
	font-family: $font;
	font-size: 100%;
	font-weight: $lean;
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	padding: 0px;
	opacity: .7;
	background: rgba(0, 0, 0, 0.70);
	}

.item-list:hover {
	opacity: 1;
	background: rgba(255, 255, 255, 0.5);
	color: black;
	}

/* Layer name */
.item-list-inner-text {
	position: absolute;
	width: 100%;
	vertical-align: top;
	display: inline-block;
	margin: auto;
	line-height: 1;
	top: 0;
	bottom: 0;
	font-size: 12px;
	font-weight: 500;
	padding: 0px;
	overflow: hidden;
	max-height: 25px;
	padding-left: 8px;
	padding-right: 8px;
	word-break: break-all;
	}	

/* List buttons (layers) */
.item-list, 
.layer-item, 
.layers-mapbox-item {
	color: #333;
	color: #666;
	background: rgba(255, 255, 255, 0.4);
	opacity: 1;
	}

/* List buttons active (layers) */
.item-list.active,
.layer-item.active,
.active .layers-mapbox-item {
	background-color: white;
	color: black;
	font-weight: 400;	
	opacity: 1;
	}

/* Remove layers that are selected in Baselayer / Layermenu to not have overlap */
.deactivated {
	background: red !important;
	display: none;
	}


/* 
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
│││├─┤├─┘  │ │├─┘ │ ││ ││││└─┐
┴ ┴┴ ┴┴    └─┘┴   ┴ ┴└─┘┘└┘└─┘
┌┐ ┌─┐┌─┐┌─┐┬  ┌─┐┬ ┬┌─┐┬─┐
├┴┐├─┤└─┐├┤ │  ├─┤└┬┘├┤ ├┬┘
└─┘┴ ┴└─┘└─┘┴─┘┴ ┴ ┴ └─┘┴└─
*/

/* Baselayer wrap :: not the best name? */
.select-elems {
	height: 0;
	display: block;
	overflow: hidden;
	margin-top: 8px;
	}


/* 
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
│││├─┤├─┘  │ │├─┘ │ ││ ││││└─┐
┴ ┴┴ ┴┴    └─┘┴   ┴ ┴└─┘┘└┘└─┘
┬  ┌─┐┬ ┬┌─┐┬─┐┌┬┐┌─┐┌┐┌┬ ┬
│  ├─┤└┬┘├┤ ├┬┘│││├┤ ││││ │
┴─┘┴ ┴ ┴ └─┘┴└─┴ ┴└─┘┘└┘└─┘
*/

.map-layermenu-outer {
	height: 0px;
	overflow: hidden;
	}


/* 
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
│││├─┤├─┘  │ │├─┘ │ ││ ││││└─┐
┴ ┴┴ ┴┴    └─┘┴   ┴ ┴└─┘┘└┘└─┘
┌┐ ┌─┐┬ ┬┌┐┌┌┬┐┌─┐  ┌─┐┌┐┌┌┬┐  ┌─┐┌─┐┌─┐┬┌┬┐┬┌─┐┌┐┌
├┴┐│ ││ ││││ ││└─┐  ├─┤│││ ││  ├─┘│ │└─┐│ │ ││ ││││
└─┘└─┘└─┘┘└┘─┴┘└─┘  ┴ ┴┘└┘─┴┘  ┴  └─┘└─┘┴ ┴ ┴└─┘┘└┘
*/
	
#editor-map-initpos-coordinates,
#editor-map-bounds-coordinates {
	position: relative;
	top: 15px;
	height: 0;
	overflow: hidden;	
	}

#map-initpos-inner,
#map-bounds-inner {
	padding-left: 3px;
	padding-right: 3px;
	}	

#map-initpos-inner label {
	font-weight: 600;
	font-size: 14px;
	color: #666;
	}	

.bounds-zoom-h2 {
	position: absolute;
	top: 3px;
	width: 50%;
	font-weight: 600;
	font-size: 13px;
	color: #666;
	}




.bounds-zoom-half.left .bounds-zoom-h2 {
	text-align: left;	
	}

.bounds-zoom-half.right .bounds-zoom-h2 {
	text-align: right;
	padding-right: 5px;
	}


/*The bounds inner wrappers*/
.bounds-wrapper {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px dotted rgba(0,0,0,0.3);	
	position: relative;
	}

.bounds-wrapper.zoom {
	padding-top: 25px;
	}

/*Bounds - Zoom halves*/
.bounds-zoom-half {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	}

.bounds-zoom-half input {
	width: 36px !important;
	text-align: center;
	}	

/*Left Bounds - Zoom half*/
.bounds-zoom-half.left {
	box-shadow: 1px 0px 0 0 gray;
	}

/* Left Bounds - Zoom half */
.bounds-zoom-half.left input {
	float: right;
	margin-right: 3px !important;
	}

#map-bounds-inner input {
	width: 49%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 0 !important;
	margin: 0;
	padding-top: 0px !important;
	width: 100%;
	margin-bottom: 1px;
	}

#map-bounds-inner input, 
#map-initpos-inner input {
	background-color: rgba(0, 0, 0, 0.55) !important;
	}	

/* "Set bounds" button */
#editor-map-bounds {
	width: 143px;
	}

/* Set North-East and South-West corner buttons */
#editor-map-bounds-NE,
#editor-map-bounds-SW {
	margin-bottom: 5px;
	}

#editor-map-bounds-NE,
#editor-map-bounds-SW {
	width: 100%;
	}

#editor-map-initpos-button {
	width: 225px;
	}	

/* Max zoom button */
#editor-map-bounds-set-maxZoom {
	width: 56px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	}

/* Max zoom value field */
#editor-map-bounds-max-zoom-value {
	width: 137px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}

/* Max zoom button */
#editor-map-bounds-set-minZoom {
	width: 56px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	}

/* Min zoom value field */
#editor-map-bounds-min-zoom-value {
	width: 137px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}


/* 
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
│││├─┤├─┘  │ │├─┘ │ ││ ││││└─┐
┴ ┴┴ ┴┴    └─┘┴   ┴ ┴└─┘┘└┘└─┘
┌─┐┌─┐┌┐┌┌┬┐┬─┐┌─┐┬  ┌─┐
│  │ ││││ │ ├┬┘│ ││  └─┐
└─┘└─┘┘└┘ ┴ ┴└─└─┘┴─┘└─┘
*/

#editor-map-controls-inner-wrap {
	overflow: hidden;
	height: 0px;
	}

#editor-map-controls-inner-wrap .item-list.active {
	background: rgba(255, 255, 255, 0.4) !important;
	}

#editor-map-controls-inner-wrap .item-list {
	color: #333;
	}


.controls-title {
	height: 32px;
	padding: 8px;
	font-weight: 500;
	z-index: 999;
	position: relative;	
	}	


/* 
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐  ┌─┐┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
│││├─┤├─┘  │ │├─┘ │ ││ ││││└─┐
┴ ┴┴ ┴┴    └─┘┴   ┴ ┴└─┘┘└┘└─┘
┌─┐┌─┐┌┐┌┌┐┌┌─┐┌─┐┌┬┐┌─┐┌┬┐  ┌─┐┌─┐┌─┐┌─┐┬ ┬┌┐┌┌┬┐┌─┐
│  │ │││││││├┤ │   │ ├┤  ││  ├─┤│  │  │ ││ ││││ │ └─┐
└─┘└─┘┘└┘┘└┘└─┘└─┘ ┴ └─┘─┴┘  ┴ ┴└─┘└─┘└─┘└─┘┘└┘ ┴ └─┘
*/

.connect-outer {
	overflow: hidden;
	height: 0px;
	}

.connect-mapbox-title {
	font-size: 14px;
	position: relative;
	text-align: left;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 0px;
	font-weight: 600 !important;
	color: #666;
	text-transform: uppercase;	
	}

.mapbox-connect-wrap {
	position: relative;
	color: white;
	margin: 0;
	height: 55px;
	padding: 0;
	padding-top: 8px;
	}

.import-mapbox-layers {
	width: 150px;
	margin-bottom: 5px;
	background: rgba(0, 0, 0, 0.3);
	color: white !important;
	font-weight: $lean;
	border: 0px;
	float: left;
	}

.import-mapbox-layers-button {
	height: 37px;
	width: 50px;
	margin-left: 7px;
	line-height: 2.4;
	}

/* List of connected MapBox accounts */
.mapbox-accounts {
	position: relative;
	color: #333;
	}

.mapbox-listed-account {
	top: 10px;
	color: #333;
	padding: 4px;
	font-size: 110%;
	height: 30px;
	position: relative;
	}

.mapbox-listed-account-title {
	text-indent: 20px;	
	position: absolute;
	left: 0;
	}

.mapbox-listed-account-kill {
	position: absolute;
	right: 0;
	color: red;
	font-weight: 900;
	}


/* Update or delete MapBox account */
.mapbox-listed-account-refresh {
	background-color: #4c4d4f;
	border: none !important;
	margin-right: 1px;
	}

.mapbox-listed-account-refresh:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(images/evil_sprite.png);
	background-position: -119px -155px;
	background-repeat: no-repeat;
	opacity: 0.5;
	}

.mapbox-listed-account-refresh:hover:before {
	opacity: 1;
	}

.mapbox-listed-account-delete {
	background-color: #4c4d4f;
	border: none !important;
	}	

.mapbox-listed-account-delete:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;	
	background-image: url(images/evil_sprite.png);
	background-position: -157px -155px;
	background-repeat: no-repeat;
	opacity: 0.5;
	}

.mapbox-listed-account-delete:hover:before {
	opacity: 1;
	}	


/*
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌─┐┬ ┬┬  ┬  ┌─┐┌─┐┌─┐┌─┐  ┬ ┬┌┐┌┬┬  ┬┌─┐┬─┐┌─┐┌─┐┬  ┌─┐
├┤ │ ││  │  ├─┘├─┤│ ┬├┤   │ │││││└┐┌┘├┤ ├┬┘└─┐├─┤│  └─┐
└  └─┘┴─┘┴─┘┴  ┴ ┴└─┘└─┘  └─┘┘└┘┴ └┘ └─┘┴└─└─┘┴ ┴┴─┘└─┘
*/

.fullpage-documents .editor-wrapper,
.data-library .editor-wrapper,
.fullpage-users .editor-wrapper,
#datalibrary-download-dialogue {
	width: auto;
	background-color: rgba(255,255,255,0.9);
	overflow: hidden;
	position: relative;
	}

.data-library .editor-wrapper,
.fullpage-users .editor-wrapper {
	overflow: auto;
	}	

.data-library .editor-wrapper {
	padding-bottom: 50px;
	}

.fullpage-documents,
.data-library,
.fullpage-users {	
	left: 104px;
	padding-left: 0px;
	padding-top: 1px;
	padding-right: 110px;
	padding-bottom: 7px;
	background: none;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	overflow: hidden;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	height: 100%;
	padding-right: 110px;
	padding-bottom: 95px;
	}


/*
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌─┐┬ ┬┌┬┐┌─┐┌┐┌┌┬┐┌─┐
 │││ ││  │ ││││├┤ │││ │ └─┐
─┴┘└─┘└─┘└─┘┴ ┴└─┘┘└┘ ┴ └─┘
*/

/* Outer wrapper */
.fullpage-documents {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3400;
	display: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

/* left wrapper */
#documents-container-leftpane {
	position: absolute;
	font-weight: $lean;
	margin: 10px;
	font-family: $font;
	width: 250px;
	top: 0px;
	}

/* right wrapper */
#documents-container-rightpane {
	position: absolute;
	font-weight: $lean;
	padding: 20px;
	font-family: $font;
	position: absolute;
	height: 100%;
	font-size: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	padding-right: 350px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	top: 0px;
	left: 250px;
	color: #333;
	padding-top: 0;	
	padding-bottom: 125px;
	}

/* folder list */
#documents-folder-list {
	margin-top: 30px;
	}

/* list items */
.documents-folder-item,
#documents-new-folder {
	background: none;
	border: none;
	margin: 4px;
	margin-left: 30px;
	font-family: $font;
	cursor: pointer;
	width: 90%;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 115%;
	padding-left: 10px;	
	}

.documents-folder-delete,
.documents-folder-item, 
#documents-new-folder {
	color: #333;
	padding-right: 0px;
	}

#documents-new-folder:hover,
.documents-folder-item:hover {
	color: #000;
	}

.documents-folder-item input {
	margin: 0;
	padding: 0;
	width: 100%;
	font-weight: 500;
	font-size: 100%;
	color: #C80000;
	}

.documents-folder-item {
	margin-left: 10px;
	font-size: 150%;
	}	

.documents-folder-delete {
	float: left;
	font-size: 150%;
	font-family: $font;
	visibility: hidden;
	color: #C8C8C8;
	cursor: pointer;
	position: absolute;
	line-height: 0.4;
	left: -2px;
	background: rgba(0,0,0,0.2);
	height: 18px;
	width: 10px;
	text-align: center;
	padding-right: 13px;
	padding-left: 4px;
	margin: 0;
	padding-top: 3px;
	border-radius: 2px;
	font-size: 19px;
	font-weight: 900;
	color: white;
	margin-top: 1px;	
	}

.documents-folder-delete:hover {
	color: white;
	background: #C80000;
	}

.tdcont {
	cursor: pointer;
	position: relative;
	}

.tdcont input {
	background-color: transparent !important;
	color: black;
	}

.tdcont.email {
	cursor: default;
	}

#documents-new-folder {
	margin-left: 10px;
	}






/* GRANDE STUFF */

.text-menu .options .url {
	color: transparent;
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: -64px -160px;
	}

blockquote {
	border-left: 5px solid #262625
	}

button.attachment {
	background-repeat: no-repeat;
	background-size: 14px 19px;
	background-position: 7px 5px;
	}

button.image-attachment {
	background-repeat: no-repeat;
	background-size: 22px 19px;
	background-position: 3px 5px;
	}

/* tooltip */
.text-menu .options {
	padding-top: 1px !important;
	width: 245px;
	}

.options.url-mode {
	width: 176px;
	}

.options.url-mode .grande-plugin {
	display: none;
	}

.text-menu.options.url-mode .file {
	display: none;
	}

.text-menu.active {
	z-index: 1500;
	}

/* tooltip select options menu */
.grande-project-files {
	width: 181px;
	top: 36px;
	position: absolute;
	left: 0px;
	}	
	
/* OK button for select tooltip */
.grande-project-files-btn {
	width: 30px !important;
	height: 16px !important;
	background-color: white !important;
	position: absolute !important;
	top: 37px !important;
	right: 0px !important;
	border-radius: 3px !important;	
	cursor: pointer;
	}
	
.grande-project-files-btn:before {
	content: 'OK';
	width: 100%;
	height: 100%;
	color: black;
	position: absolute;
	text-align: center;
	font-size: 11px;
	font-weight: $obese;
	}

.grande-project-files-wrap {
	height: auto;
	display: none;
	}	
	
.grande-sources-container {
	position: absolute;
	width: 300px;
	top: 37px;
	left: -24px;
	background: black;
	border-radius: 5px;
	cursor: pointer;
	background-color: #262625;
	box-shadow: 0 0 2px #262625;
	}

.grande-sources-topwrap {
	height: 0px;
	width: 100%;
	}

.grande-sources-source {
	position: relative;
	/*height: 50px;*/
	border-top: 1px dotted #666;
	width: 100%;
	overflow: hidden;
	padding-bottom: 3px;
	}


.grande-sources-container div:nth-child(2) {
	border-radius: 5px 5px 0px 0px;
	border-top: none;
	}

.grande-sources-container div:last-child {
	border-radius: 0px 0px 5px 5px;
	}

.grande-sources-source:hover {
	background: #60d778;
	}

.grande-sources-source-icon {
	width: 30px;
	height: 30px;
	}

.grande-sources-source-icon.image {
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: -187px -75px;
	height: 26px !important;
	width: 26px !important;	
	}

.grande-sources-source-icon.layer {
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: -144px -75px;
	height: 26px !important;
	width: 26px !important;	
	}

.grande-sources-source-title {
	color: white;
	position: absolute;
	top: 0px;
	left: 34px;
	font-size: 110%;
	padding: 2px;
	width: 190px;	
	line-height: 1;
	padding-top: 8px;
	}

.grande-sources-source-thumb {
	position: absolute;
	height: 39px;
	right: 5px;
	top: 5px;
	width: auto;
	max-width: 70px;
	}	

#documents-container-textarea {
	padding-top: 20px;
	}

#documents-container-textarea h1 {
	font-size: 200%;
	}

#documents-container-textarea h2 {
	color: #333;
	font-size: 120%;
	}

#documents-container-textarea p {
	color: #333;
	font-weight: 400;
	font-size: 90%;
	}

#document-container-textarea img {
	width: auto;
	height: 200px;
	float: left;
	margin: 10px;
	margin-left: 0px;
	}


/*
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┌┬┐┌─┐┌┬┐┌─┐  ┬  ┬┌┐ ┬─┐┌─┐┬─┐┬ ┬
 ││├─┤ │ ├─┤  │  │├┴┐├┬┘├─┤├┬┘└┬┘
─┴┘┴ ┴ ┴ ┴ ┴  ┴─┘┴└─┘┴└─┴ ┴┴└─ ┴ 
*/

/* To make progress bar visible */
.data-library {
	overflow: visible !important;
	padding-bottom: 155px;
	}

/* outer wrapper */
.data-library,
.fullpage-mediaLibrary {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3400;
	display: none;
	left: 104px;
	overflow-y: auto;	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;   
	}

/* Inner wrapper for users and data library */
#filelist,
#userlist {
	margin: 20px;
	}

/* The box with the file count */
.dataLibrary-file-popup-trigger {
	width: 25px;
	height: 25px;
	border-radius: 2px;
	text-align: center;
	font-weight: 900;
	line-height: 1.7;
	background-color: rgba(0,0,0,0.2);
	}

/* File list */
.dataLibrary-file-popup-list {
	display: none;
	position: absolute;
	background: white;
	padding: 15px;
	border-radius: 3px;
	margin-top: 5px;
	font-weight: 900;
	font-size: 15px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	}

/* The files in the file list */
.dataLibrary-file-popup-item {
	font-weight: 400;
	font-size: 12px;	
	}	

/* Show file list on hover */
.dataLibrary-file-popup-trigger:hover + .dataLibrary-file-popup-list {
	display: block;
	}

/* Controls wrapper (with upload, search field, etc) */
.datalibrary-controls,
.users-controls {
	height: 60px;
	position: relative;
	border-bottom: 1px solid;
	color: #666;
	top: 0px;
	width: 100%;
	padding-right: 129px;
	left: 0px;
	z-index: 999;
	padding-left: 20px;
	padding-top: 15px;
	box-sizing: border-box;
	}

.users-controls {
	background: #ebedef;		
	}	

.hide-top .users-controls,
.hide-top .datalibrary-controls {
	display: none;
	}

.hide-top {
	padding-bottom: 95px !important;
	}

.users-controls-inner div {
	margin-right: 5px;
	}

.datalibrary-controls-inner {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	background: #ebedef;	
	padding: 16px;
	padding-left: 20px;
	padding-top: 15px;
	}

#datalibrary-search {
	margin-left: 5px;
	}

/* Delete file button */
#datalibrary-delete-file {
	float: right;
	margin-left: 5px;
	}

/* Download file button */
#datalibrary-download-files {
	float: right;
	}

/* Datalibrary errors */
#datalibrary-errors {
	font-family: $font;
	width: 400px;
	height: 80px;
	position: absolute;
	right: 121px;
	background: white;
	top: 57px;
	color: rgb(255, 111, 111);
	font-size: 140%;
	font-weight: $lean;
	padding: 5px;
	background: rgba(86, 95, 111, 1);
	display: none;
	}

/* Main Table with file list */
#users-table,
#datalibrary-table {
	width: 100%;
	}

#users-table .fivep {
	/*width: 43px;*/
	/*min-width: 43px;*/
	}	
	
/* download dialogue box */
#datalibrary-download-dialogue {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	color: #333;
	font-family: $font;
	font-size: 120%;
	z-index: 1000;
	padding: 10px;
	}
	
/* download table head */
#datalibrary-download-table thead tr {
	font-size: 80%;
	}

/* download table head "Name" */
.download-name {
	font-size: 16px;
	}

/* unselect download check box in download window */
.download-remove .squaredThree {
	text-align: center;
	padding-left: 15px;
	}
	
/* download OK button "Download" */
#download-ok-button {
	width: 100px;
	position: relative;
	font-size: 17px;
	line-height: 1.7;
	vertical-align: top;
	top: 0;
	bottom: 0;
	float: right;
	margin-top: 10px;
	margin-right: 9px;
	height: 30px;
	}

/* dowload cancel button "Cancel" */
#download-cancel-button {
	position: relative;
	font-size: 17px;
	line-height: 1.7;
	vertical-align: top;
	top: 0;
	bottom: 0;
	float: right;
	margin-top: 10px;
	height: 30px;
	}

/* Download ready button */
#download-ready-button {
	width: 106px;
	color: white !important;
	height: 38px;
	position: relative;
	margin: auto;
	display: block;
	top: 170px;
	}

#download-ready-button a {
	color: white;
	text-decoration: none;
	}

#download-ready-button a:hover {
	color: gainsboro;
	text-decoration: none;
	}

/* Datalibrary upload progress bar : DropZone style */
.progress-bar {
	position: fixed;
	width: 0%;
	top: 0px;
	left: 0px;
	z-index: 20000;
	margin-left: 0px;
	background: white;
	height: 3px;	
	}

/* Fullscreen upload : DropZone style */
.fullscreen-drop {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(63, 70, 82, 1);
	top: 0;
	left: 0;
	z-index: -1000;
	margin-left: 100px;
	}

.fullscreen-dropped {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(255,255,255,0.9);
	top: 0;
	z-index: -1000;
	margin: 0;
	height: 100%;
	padding: 90px;
	overflow-y: scroll;
	}

.fullscreen-dropped::before {
	content: 'Uploading';
	color: #666;
	font-weight: $lean;
	font-family: $font;
	font-size: 400%;
	position: relative;
	padding: 20px;
	}

/* DropZone style */
.dz-details {
	top: 320px;
	left: 30%;
	position: fixed;
	height: 50px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	z-index: 20000;
	font-size: 120%;
	}

.dz-progress,
.dz-success-mark,
.dz-error-mark,
.dz-preview {
	display: none;
	}

#squaredThree-checkbox-all {
	top: -4px;
	}
		
.checkbox {
	width: 20px;
	padding: 0;
	top: 0px;
	position: relative;
	left: 10px;
	}	
	
.dropzone-pane {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999 !important;
	background-color: rgba(0, 0, 0, 0.69);
	background-image: url('images/bigcloud.png');
	background-position: center;
	background-repeat: no-repeat;
	border: none !important;
	}


/* Datalibrary category */
/*.datalibrary-category-wrapper {
	position:  absolute;
	border: 1px solid yellow;
	z-index: 1000;
	background-color: white;
	font-size: 120%;
	}

.datalibrary-category-line {
	font-size: 120%;
	padding: 5px;
	border-bottom: 1px solid gray;
	float: left;
	width: 85%;
	}

.datalibrary-category-line:hover {
	background: aqua;
	}

.datalibrary-category-new {
	border: 0px;
	background-color: white;
	}

.datalibrary-category-line-del {
	right: 0px;
	cursor: pointer;
	text-align: right;
	}

.datalibrary-category-line-del:hover {
	color: red;
	}

.datalibrary-category-line-wrap {
	height: auto;
	cursor: pointer;
	}
*/

.datalibrary-category-wrapper {		
	position:  absolute;
	z-index: 1000;
	background-color: white;
	font-size: 120%;
	padding: 10px;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	margin-top: 16px;
	}

.datalibrary-category-wrapper:before {
	content: '';
	background: white;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -3px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);		
	left: 24px;
	}	

.datalibrary-category-line-wrap {
	height: auto;
	cursor: pointer;
	}

.datalibrary-category-line {
	float: left;
	width: 85%;
	font-size: 80%;
	position: relative;
	padding: 0;
	margin-bottom: 2px;
	padding-left: 5px;
	background: rgba(0,0,0,0.1);
	border: none;
	border-radius: 2px 0px 0px 2px;
	height: 21px;
	}	

.datalibrary-category-line:hover {
	background: rgba(0,0,0,0.2);
	}	

.datalibrary-category-new {
	border: 0px;
	background-color: white;
	font-size: 14px;
	position: relative;
	cursor: pointer;
	top: 3px;
	}

.datalibrary-category-line-del {
	/*right: 0px;*/		
	width: 23px;
	height: 21px;
	border-radius: 0px 2px 2px 0px;
	top: 0px;
	position: relative;
	float: right;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	font-weight: 500;
	font-size: 14px;
	text-indent: 1px;
	text-align: center;
	line-height: 1.4;
	color: #999;
	opacity: 0.5;	
	}

.datalibrary-category-line-del:hover {
	opacity: 1;
	}	



/*download-dialog*/
.download-dialog {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 110px;
	padding-bottom: 94px;
	}

.download-dialog-inner {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 100px;
	background: rgba(255, 255, 255, 0.8);
	}

.download-dialog-button,
.download-dialog-cancel {
	@extend .smap-button-gray;
	position: relative;
	display: block;
	font-weight: 500;
	height: 40px;
	width: 150px;
	margin: auto;
	margin-bottom: 20px;
	line-height: 2.6
	}

.download-dialog-button a,
.download-dialog-button a:hover {
	color: white;
	text-decoration: none;
	font-weight: 500;
	}	

/* TABLE ADJUSTMENTS */
td.tdcont.keywords {
	max-width: 100px;
	width: 100px;
	min-width: 100px;
	}

td.tdcont.files {
	max-width: 100px;
	min-width: 100px;
	width: 100px;
	}

#datalibrary-insertrows tr .tdcont {
	padding-top: 20px;
	}

td.tdcont.files {
	padding-top: 18px !important;
	padding-left: 18px;
	}

td.tdcont.createdDate {
	font-size: 80%;
	}


/*
┌─┐    ┌─┐┌┬┐┬┌┬┐┌─┐┬─┐
│─┼┐───├┤  │││ │ │ │├┬┘
└─┘└   └─┘─┴┘┴ ┴ └─┘┴└─
┬ ┬┌─┐┌─┐┬─┐  ┌┬┐┌─┐┌┐┌┌─┐┌─┐┌─┐┌┬┐┌─┐┌┐┌┌┬┐
│ │└─┐├┤ ├┬┘  │││├─┤│││├─┤│ ┬├┤ │││├┤ │││ │ 
└─┘└─┘└─┘┴└─  ┴ ┴┴ ┴┘└┘┴ ┴└─┘└─┘┴ ┴└─┘┘└┘ ┴ 
*/

/* The first name part in the user list */
.dld.smallerText {
	color: #666;
	font-style: italic;	
	}	

.q-editor-menu-item .users {
	border-top: 1px solid #333;
	}
	
/* outer wrapper */
.fullpage-users {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3400;
	display: none;
	left: 104px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 155px;
	}
	
/* inner wrapper */
.fullpage-users .editor-wrapper {
	width: auto;
	}


.fullpage-users .backpane-container {
	overflow: hidden;
	}


/* CREATE NEW USER */
.backpane-container {
	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	}

.backpane-wrapper {
	padding-left: 40px;	
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	padding-bottom: 20px;
	margin: auto;
	width: 420px;
	}

.backpane-wrapper .backpane-title {
	color: #666;
	}

.backpane-wrapper .backpane-message {
	margin-bottom: 55px;
	}

/* USER MANAGEMENT, MANAGE USER PRIVILEGGES */
.backpane-projectTitle {
	margin-top: 20px;
	margin-bottom: 5px;
	font-style: italic;
	text-indent: 1px;
	font-weight: 900;
	}	

.backpane-confirm {
	margin: 5px;
	margin-left: 0px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 20px;
	line-height: 0;
	margin-top: 15px;
	}

.backpane-cancel {
	margin: 5px;
	margin-left: 0px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 20px;
	line-height: 0;
	margin-top: 15px;
	}

.backpane-input {
	margin: 0px;
	border: none;
	padding: 5px;
	font-family: $font;
	font-weight: 600;
	color: black;
	color: white;
	background: #333;
	font-size: 120%;
	padding-left: 11px;
	width: 171px;
	text-align: left;
	position: relative;
	margin-right: 100%;
	margin-top: 5px;
	width: 310px;
	}

.backpane-input.valid {
	background-color: rgb(0,110,0) !important;
	}

.backpane-input.invalid {
	background-color: rgb(110,0,0) !important;
	}

.backpane-message {
	padding: 5px;
	padding-left: 0px;
	font-size: 110%;
	margin-top: 25px;
	margin-bottom: 0px;
	}

/* Manage user outer wrapper */
.backpane-access-container {
	height: 100%;
	z-index: 5000;
	left: 0;
	top: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: rgba(255,255,255,0.9);
	color: #666;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	position: relative;
	right: 110px;
	padding-bottom: 150px;
	}

/* Manage user inner wrapper */
.backpane-access-wrapper {
	margin: 0 auto;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	height: auto;
	top: 50px;
	position: relative;
	left: 0px;
	}

/* Main title */
.backpane-title {
	font-size: 300%;
	font-weight: 900;
	}

/* Subtitle */
.backpane-subtitle {
	font-size: 150%;
	margin: 0px 0px 10px 0px;
	margin-left: 0;
	font-style: italic;
	font-weight: 200;
	}

/* The red flag that says "Admin" or "Super Admin" */
.backpane-admin-box.green, .backpane-superadmin-box.green {
	background: #C80000;
	position: absolute;
	padding: 5px;
	font-weight: 900;
	text-transform: uppercase;
	top: -35px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	left: 396px;
	z-index: 500;	
	color: white;
	}

.backpane-admin-box.green:before,
.backpane-superadmin-box.green:before {
	content: '';
	width: 20px;
	height: 20px;
	background-color: #C80000;
	position: absolute;
	top: 18px;
	left: 18px;
	z-index: -1;
	}	

.backpane-admin-box.red,
.backpane-superadmin-box.red {
	display: none;
	}

/* The little title that says "Projects" right over the table */
.backpane-projectTitle {
	text-shadow: none;
	}

/* Table with list of projects */
.backpane-projects-wrap {
	width: 100%;
	padding-right: 0px;
	}

/* Each project wrapper */
.access-projects-wrap {
	position: relative;
	height: 65px;
	margin-bottom: 1px;
	padding: 7px 0px 0px 10px;
	}	

.access-projects-wrap:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
	}

.access-projects-wrap:nth-child(even) {
	background: rgba(0, 0, 0, 0.1);
	}

/* Inner wrapper with Project name and description */
.access-projects-details-wrap {
	left: 0px;
	top: 0;
	padding-right: 270px;
	height: 40px;	
	}

/* Project title */
.access-projects-title {
	font-size: 130%;
	font-weight: 600;
	height: 25px;
	overflow: hidden;
	}

/* Project description */
.access-projects-description {
	font-size: 100%;
	font-style: italic;
	height: 20px;
	overflow: hidden;
	}

/* READ/EDIT/MANAGE buttons */
.access-projects-read,
.access-projects-write,
.access-projects-manage {
	height: 40px;
	position: absolute;
	top: 13px;
	/*background: #fe5757;*/
	background-color: #a84158;
	color: white;
	width: 75px;
	padding: 5px;
	font-size: 110%;
	text-align: center;
	cursor: pointer;
	float: right;
	font-weight: 900;
	line-height: 1.8;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	/*box-shadow: 0 0 2px 0 rgba(0,0,0,0.4);*/
	}

.access-projects-read:active,
.access-projects-write:active,
.access-projects-manage:active {
	/*box-shadow: 0 0 2px 0 rgba(0,0,0,0.0);*/
	}

.access-projects-read:hover,
.access-projects-write:hover,
.access-projects-manage:hover {
	/*background: rgb(0, 225, 255);*/
	background-color: #334d5c;
	}

/* READ access */
.access-projects-read {
	/*border-radius: 3px 0 0 3px;*/
	right: 162px;
	}

/* WRITE access */
.access-projects-write {
	right: 86px;
	}

/* MANAGE access */
.access-projects-manage {
	/*border-radius: 0 3px 3px 0;*/
	right: 10px;
	}

/* Color code for projects you've got access for */
.gotAccess {
	/*background-color: #33BB33;*/
	background-color: #218777;
	}

/* The description at the bottom ("The guide") */
.backpane-message {
	margin-bottom: 175px;
	}



/* SHARE */
/* SHARE */
/* SHARE */

.q-editor-content-item.share {
	min-height: 450px;
	}

.share-wrapper {
	height: 240px;
	cursor: default;
	}

.share-wrap {
	position: relative;
	cursor: pointer;
	}

.share-title {
	margin: 5px;
	height: 30px;
	padding: 4px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	position: absolute;
	}

.share-title {
	top: 0px;
	left: 66px;
	font-size: 120%;
	margin: 0px;
	}

.share-header {
	font-size: 170%;
	font-weight: 500;
	position: relative;
	text-align: left;
	padding-bottom: 10px;
	margin-top: 2px;
	padding-left: 11px;
	}

.share-subtitle {
	font-size: 100%;
	}

.share-subtitle {
	margin: 0px;
	height: 30px;
	padding: 4px;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 66px;
	font-size: 100%;
	}

.share-screenshot-button:hover {
	background: rgba(195, 195, 195, 0.2);
	}

.share-print-button {
	margin: 5px;
	height: 30px;
	padding: 4px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	}

.share-print-button:hover {
	background: rgba(195, 195, 195, 0.2);
	}

.share-icon-box {
	height: 50px;
	width: 50px;
	border: 1px solid gray;
	margin: 10px;
	}

.share-link-wrap {
	padding: 10px;
	text-align: center;
	}

.share-link-title {
	font-size: 120%;
	padding-top: 28px;
	border-top: 1px solid #999;
	}

.share-link-input,
.share-link-input:focus,
.share-link-input:active {
	border: 1px solid rgba(128, 128, 128, 0.32) !important;
	padding: 10px;
	width: 100%;
	background: rgba(255, 0, 0, 0);
	border-radius: 1px;
	color: gray;
	}

.share-image-wrap {
	position: absolute;
	left: 254px;
	width: 518px;
	height: 100%;
	top: 0;
	border-left: 1px solid #999;
	padding-left: 30px;
	padding-top: 20px;
	}

.share-image-wrap:before {
	content: '';
	background-image: url(images/systemapic-grinding.gif);
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	padding-top: 170px;
	background-position: center;
	top: 119px;
	position: absolute;
	left: 14px;
	}


.share-image-title {
	font-size: 22px;
	padding-bottom: 10px;
	font-weight: 900;
	}

.share-image-image {
	height: 328px;
	width: 100%;
	position: relative;
	/*top: 46px;*/
	background-repeat: no-repeat;
	}


.share-image-meta-wrap {
	bottom: 0;
	position: absolute;
	height: 50px;
	width: 100%;
	}

.share-image-download-button {
	bottom: 9px;
	position: absolute;
	right: 0px;
	padding: 10px;
	}

.share-image-download-button:hover {
	text-decoration: none;
	}

.expand-share-link {
	height: 350px;
	}

.expand-share-image {
	height: 450px;
	width: 800px;
	}


/* Share icons */
.share-icon-box.image,
.share-icon-box.print,
.share-icon-box.link {
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	overflow: hidden;
	border: none;
	opacity: 0.5;
	}

.share-wrap.link:hover > .share-icon-box.link,
.share-wrap.print:hover > .share-icon-box.print,
.share-wrap.image:hover > .share-icon-box.image {
	opacity: 1;
	}


.share-icon-box.image {
	background-position: -370px -53px;
	}

.share-icon-box.print {
	background-position: -370px -113px;
	}

.share-icon-box.link {
	background-position: -370px -172px;
	}

.share-print-download a,
.share-print-download-button {
	background-image: url(images/evil_sprite.png);
	background-repeat: no-repeat;
	background-position: -286px -243px;
	width: 93px;
	height: 58px;
	position: relative;
	margin: auto;
	color: transparent !important;
	opacity: 0.8;
	padding: 20px;
	top: 30px;
	}

.share-print-download-button:hover {	
	opacity: 1;
	color: transparent;
	}



	


/*
┌─┐┬─┐┬─┐┌─┐┬─┐  ┌─┐┌─┐┌┐┌┌─┐
├┤ ├┬┘├┬┘│ │├┬┘  ├─┘├─┤│││├┤ 
└─┘┴└─┴└─└─┘┴└─  ┴  ┴ ┴┘└┘└─┘
*/

.error-pane {
	position: absolute;
	top: 6px;
	left: 104px;
	width: 92%;
	height: 77px;
	z-index: 100;
	}

.error-pane-content {
	background: rgb(255, 122, 122);
	width: 100%;
	height: 100%;
	}

.error-pane-title {
	color: white;
	padding-left: 10px;
	font-weight: 900;
	font-size: 200%;
	}

.error-pane-description {
	color: white;
	padding-left: 10px;
	font-weight: 900;
	font-size: 120%;
	}
