.q-editor-container {
	/*overflow: visible;*/
	}	

.q-editor-menu {
/*	overflow: hidden;
	height: 0;*/
	}

.q-editor-content-item.show {
	/*opacity: 1;*/
	}

/*.hide-menu .q-editor-content-item {
	opacity: 0;
	}*/

#bhattan1 {
/*	right: 2px;
	top: 5px;*/
	}

#layer-menu-header {
/*	width: 280px;
	top: 0px;
	left: 5px;
	position: relative;*/
	}	

/*.leaflet-control-layermenu.leaflet-control {
	padding: 0;
	position: absolute;
	top: 90px;
	right: 0;
	height: auto;
	overflow: visible;
	}
*/
.leaflet-control-layermenu .scroller-frame {
/*	height: auto;
	padding: 0;*/
	}