.datalibrary-category-wrapper {
	position:  absolute;
	border: 1px solid yellow;
	z-index: 1000;
	background-color: white;
	font-size: 120%;
	}

.datalibrary-category-line {
	font-size: 120%;
	padding: 5px;
	border-bottom: 1px solid gray;
	float: left;
	width: 85%;
	}

.datalibrary-category-line:hover {
	background: aqua;
	}

.datalibrary-category-new {
	border: 0px;
	background-color: white;
	}

.datalibrary-category-line-del {
	right: 0px;
	cursor: pointer;
	text-align: right;
	}

.datalibrary-category-line-del:hover {
	color: red;
	}

.datalibrary-category-line-wrap {
	height: auto;
	cursor: pointer;
	}


/*bigger logos*/
.client-logo {
	height: 70px;
	}
.project-logo {
	height: 62px;
	}
.client-kill {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	}

/*less empty space experiment*/
/*.home-container {
	margin: 0;
}
#header {
	top: 0px;
	left: 94px;
	padding-right: 94px;
}
.q-editor-container {
	left: 0px;
	top: 75px;
}
.q-editor-menu {
	left: 0px;
}
.q-editor-content-item {
	left: 94px;
}
.leaflet-bottom.leaflet-right {
	padding-top: 79px;
	right: 0px;
}
.leaflet-top.leaflet-right {
	top: 79px;
}*/




/* error pane */

.error-pane {
	position: absolute;
	top: 6px;
	left: 104px;
	width: 92%;
	height: 77px;
	z-index: 100;
	}

.error-pane-content {
	background: rgb(255, 122, 122);
	width: 100%;
	height: 100%;
	}

.error-pane-title {
	color: white;
	padding-left: 10px;
	font-weight: 900;
	font-size: 200%;
	}

.error-pane-description {
	color: white;
	padding-left: 10px;
	font-weight: 900;
	font-size: 120%;
	}




/* dropzone */
.dropzone-pane {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	/*pointer-events: none;*/
	background-color: rgba(0, 0, 0, 0.69);
	background-image: url('images/bigcloud.png');
	background-position: center;
	background-repeat: no-repeat;
	border: none !important;
	}

/*download-dialog*/
.download-dialog {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: 110px;
	padding-bottom: 94px;
	}

.download-dialog-inner {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 100px;
	background: rgba(255, 255, 255, 0.8);
	}

.download-dialog-button,
.download-dialog-cancel {
	@extend .smap-button-gray;
	position: relative;
	display: block;
	font-weight: 500;
	height: 40px;
	width: 150px;
	margin: auto;
	margin-bottom: 20px;
	line-height: 2.6
	}

.download-dialog-button a,
.download-dialog-button a:hover {
	color: white;
	text-decoration: none;
	font-weight: 500;
	}	


/* Update or delete MapBox account */
.mapbox-listed-account-refresh {
	background-color: #4c4d4f;
	border: none !important;
	margin-right: 1px;
	}

.mapbox-listed-account-refresh:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(images/evil_sprite.png);
	background-position: -119px -155px;
	background-repeat: no-repeat;
	opacity: 0.5;
	}

.mapbox-listed-account-refresh:hover:before {
	opacity: 1;
	}

.mapbox-listed-account-delete {
	background-color: #4c4d4f;
	border: none !important;
	}	

.mapbox-listed-account-delete:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;	
	background-image: url(images/evil_sprite.png);
	background-position: -157px -155px;
	background-repeat: no-repeat;
	opacity: 0.5;
	}

.mapbox-listed-account-delete:hover:before {
	opacity: 1;
	}



.dragging {
	background: #92f0e5 !important;
	}
