.leaflet-styleeditor-mouseTooltip {
	z-index: 600;
	position: absolute;
	padding: 10px;
	height: auto;
	background: red;
}
	
.q-editor-container {
	-webkit-transition: height 250ms ease;
}

.q-editor-menu {
	box-shadow: 0 -1px 0 0 white;	
	margin-top: 1px;
	}