/*@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


#start-panne-spinning-canvas-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 12.5%;
	top: 50%;

	min-width: 700px;
	}

#start-panne-spinning-canvas {
	position: absolute;
	width: 3488px;
	height: 3488px;
	top: -1744px;
	left: -1744px;

	min-width: 700px;

	-webkit-animation: spin 360s;
	animation: spin 360s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}

#start-panne-bg-map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(images/spintest_lr.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	min-width: 700px;
	}

#start-panne-canvas-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;

	min-width: 700px;
	}

#start-panne-logo {
	background-image: url(images/griffon_logo_drop.png);
	background-repeat: no-repeat;
	width: 429px;
	height: 291px;
	position: relative;
	top: 9px;
	left: 9px;
	z-index: 999;
	}

#start-panne-circle-container {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 12.5%;
	}

#start-panne-circle {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 1000px;
	background-color: rgba(247,175,38,0.3);
	z-index: 999;
	top: -60px;
	left: -60px;
	border: 4px solid white;
	box-shadow: 0 0 25px 0 black;
	}

#start-panne-banner-container {
	height: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	padding-left: 25%
	}

#start-panne-banner {
	width: 100%;
	height: 310px;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	top: -155px;
	z-index: 666;
	}

#start-panne-recent-projects-container {
	width: 300px;
	top: 55px;
	position: absolute;
	right: 0%;
	padding-right: 70px;
	}

#start-panne-recent-projects-container h1 {
	color: white;
	font-family: helvetica neue;
	font-size: 16px;
	margin: 0;
	left: 10px;
	position: relative;
	top: -5px;
	width: 300px;
	}


 

*/








/* Start pane circle */
.startpane-circle-container {
position: absolute;
width: 0;
height: 0;
top: 50%;
left: 12.5%;
}

.startpane-circle {
position: relative;
width: 120px;
height: 120px;
border-radius: 1000px;
z-index: 999;
top: -60px;
left: -60px;
box-shadow: 0 0 25px 0 black;
opacity: 0.8;
cursor: pointer;
-webkit-transition: opacity 200ms ease;
transition: opacity 200ms ease;
}

.startpane-circle:hover {
opacity: 1;
}	

.startpane-circle:active {
box-shadow: none;
}



.startpane-spinning-content {
	height: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	}

.startpane-banner-container {
	/*width: 100%;*/
	width: 95%;
	height: 310px;
	/*background-color: rgba(0, 0, 0, 0.6);*/
	position: relative;
	top: -155px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	left: 25%;
	padding-right: 25%;
	}

.startpane-banner {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 445px;
	}

.startpane-logo {
	background-image: url(https://projects.ruppellsgriffon.com/css/images/griffon_logo_drop.png);
	background-repeat: no-repeat;
	width: 429px;
	height: 291px;
	position: absolute;
	top: 9px;
	left: 9px;
	z-index: 999;
	}

.startpane-recent-projects-container {
	width: 100%;
	left: 0;
	position: relative;
	height: 100%;
	padding-top: 55px;			
	}

.startpane-header-title {
	color: #fff;
	font-family: helvetica neue;
	font-size: 20px;
	max-width: 350px;
	margin: auto;
	}

.startpane-project-list {
	max-width: 350px;
	padding-right: 20px;
	margin: auto;
	}

.start-panne-recent-projects {
	width: 100%;
	height: 40px;
	margin: 10px 0px;
	background-color: white;
	font-family: helvetica neue;
	text-align: center;
	line-height: 1.6;
	font-weight: 900;
	font-size: 15px;
	cursor: pointer;
	}


@media screen and (max-width: 1020px) {

	.startpane-banner-container {
		padding-left: 30px;
		padding-top: 215px;
		height: 510px;
		top: -255px;
	}

	.startpane-recent-projects-container {
		position: absolute;		
		top: 245px;		
	}

	.startpane-banner-container {
		height: 500px;
		top: -250px;
		left: 0;
		width: 445px;
		margin: auto;
		padding: 0;
	}

	.startpane-header-title {
		text-align: center;
	}

	.startpane-project-list {
		padding: 0;
	}

}
