$font: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Open Sans';

$ecolor1: #0F1A1E;
$ecolor2: #3F4652;
$translight: rgba(255, 255, 255, 0.15);
$translighter: rgba(255, 255, 255, 0.075);


// FONT-WEIGHT
// Cannot be 100 as it renders too thin with fonth smoothing
// That's not a problem in Chrome or Firefox, but it fucks up
// in Safari and on PC... 

$lean: 200;
$median: 400;
$fat: 500;
$obese: 600;

@import 'basics';		// Contains Universal rules, App/Map, and Login Styling
@import 'controls';		// Everything that goes in the leaflet containers
@import 'panes';		// Leaflet Draw + Layer menu, Info box, Legends etc
@import 'custom_imported';	// Rules copied from 3rd party stylesheets
@import 'kits';			// All the webkit, moz, etc transitions and other properties
@import 'startPane';		// Twirling map...
@import 'shame';		// Basic shamefull CSS writing
@import 'pointer_events';	// For å rydde opp i pointer eventsa

/*@import 'mobile';*/


/* @import 'color_picker';	// Color picker */
/* @import 'mediaLibrary';	// Media Library */