#menuslider-arrow {
	border: 0px solid red;
	position: absolute;
	right: -9px;
	width: 9px;
	height: 72px;
	overflow: hidden;
}

#menuslider-arrow:before { 
	content: '';
	position: absolute;
	height: 30px;
	width: 30px;
	top: 21px;
	background-color: rgba(210,210,210,1);
	-webkit-transform: rotate(45deg);
	left: -29px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	z-index: 999;
	}

#documents-container-leftpane {
	width: 250px;
}

.editor-scroll-wrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
	position: relative;
	max-height: 500px;
	width: 110%;
	}

.project-kill, .client-kill {
	bottom: 5px;
	right: 5px;
}	

.backpane-access-container {
	top: 89px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: rgba(255,255,255,0.97);
	color: #666;
	border-top: 10px solid white;
	width: auto;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	position: absolute;
	right: 110px;
	}

.backpane-access-wrapper {
	height: auto;
	top: 50px;
	position: relative;
	left: 0px;
}

.backpane-projects-wrap {
	padding-right: 0px;
}

.backpane-admin-box.green, .backpane-superadmin-box.green {
	color: white;
}

.access-projects-wrap:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
}

.access-projects-wrap:nth-child(even) {
	background: rgba(0, 0, 0, 0.1);
}

.backpane-projectTitle {
	text-shadow: none;
}

.backpane-message {
	margin-bottom: 175px;
}


#map {
	-webkit-transition: -webkit-filter 250ms linear, opacity 250ms linear !important;
	}


.map-blur {
	/*-webkit-filter: grayscale(0.75) blur(3px);*/
	-webkit-filter: blur(3px) brightness(0.5) grayscale(0.5);
	opacity: 1;
}


.header-title {
	font-size: 30px;
}

.header-subtitle {
	top: 0;
}

.leaflet-styleeditor-mouseTooltip {
	z-index: 600;
	position: absolute;
	padding: 10px;
	height: auto;
	background: red;
}
	
.q-editor-container {
	-webkit-transition: height 250ms ease;
	/*overflow: visible;*/
	width: 95px;
}

.q-editor-menu {
	/*box-shadow: 0 -1px 0 0 white;	*/
	box-shadow: 0 0px 5px 0 #333;
	margin-top: 7px;
	height: auto;


	left: 2px;
	width: 90px;
	}


.middle-item:after {
	width: 280px;
	left: -10px;	
}

.layer-item-delete {
	height: 21px;
	background-position: 1px -42px;
}

.layer-item-up {
	height: 21px;
	background-position: 7px -76px;
}

.layer-item-down {
	height: 21px;
	background-position: -28px -76px;
}

/*// A NEW BEGINNING
// A NEW BEGINNING
// A NEW BEGINNING

// FROM KNUT
*/
/*baselayer toggle*/
.leaflet-control-baselayertoggle {
	height: 26px;
	width: 26px;
	background-image: url('');
	background-position: 4px 4px;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
	-moz-border-radius: 4px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	text-align: center;
	background-color: #FFFFFF;
	background-image: url('evil_sprite.png');
	background-repeat: no-repeat;
	background-position: 2px -233px;
}
.baselayertoggle-item {
	width: 150px;
	background: white;
	height: 25px;
	font-size: 120%;
	text-align: left;
	padding-left: 5px;
	cursor: pointer;
	padding: 13px 6px 13px 6px;
	line-height: 0;

	border-left: 6px solid white;
	border-right: 6px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;

	box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.3);

	background-color: #FAFAFA;

}

.baselayertoggle-item:first-child {
	border-top: 6px solid white;
}

.baselayertoggle-item:last-child {
	border-bottom: 6px solid white;
}

.baselayertoggle-item:hover {
	background: #DADADA;
}

.baselayertoggle-item.active {
	background: cadetblue;
	color: white;
}

.baselayertoggle-list {
	position: relative;
/*	left: 36px;
	top: -11px;
*/	/*background: white;*/

	left: 21px;
	top: -18px;

	position: relative;
	padding: 10px;
	width: 170px;	
	/*box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);*/
	border-radius: 2px;

	padding-left: 15px;
	box-sizing: border-box;
	}

.baselayertoggle-list:before {
	content: '';
	background-color: white;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 20px;
	left: 8px;
	-webkit-transform: rotate(45deg);
	z-index: -1;
	}

.collapsed {
	visibility: hidden;
}

.expand {
	display: block;
}


#documents-container-rightpane {
	top: 100px;
	left: 250px;
	color: #333;
	padding-top: 0;
	}

.documents-folder-delete,
.documents-folder-item, 
#documents-new-folder {
	color: #333;
	padding-right: 0px;
}

.documents-folder-item, 
#documents-new-folder {
	width: 90%;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 115%;
	padding-left: 10px;
}

.documents-folder-item input {
	margin: 0;
	padding: 0;

	width: 100%;
	font-weight: 500;
	font-size: 100%;
	color: #C80000;

	}

#documents-new-folder:hover, 
.documents-folder-item:hover {
	color: #000;
}

.documents-folder-delete {
	position: absolute;
	line-height: 0.4;
	left: -2px;
	background: rgba(0,0,0,0.2);
	height: 18px;
	width: 10px;
	text-align: center;
	padding-right: 13px;
	padding-left: 4px;
	margin: 0;
	padding-top: 3px;
	border-radius: 2px;
	font-size: 19px;
	font-weight: 900;
	color: white;
	text-shadow: -1px 1px 1px rgba(0,0,0,0.3);
	margin-top: 1px;
	}

.documents-folder-delete:hover {
	background: #C80000;

	}

#documents-new-folder {
	margin-left: 10px;
}

/*clients*/
.client-logo {
	width: 100px;
	height: 60px;
}

.client-logo.editable:hover {
	border: 1px solid yellow;
	cursor: copy;
}

.project-logo.editable:hover {
	border: 1px solid yellow;
	cursor: copy;
}

/*dropzone*/
.dz-preview {
	display: none;
}


/*connect accounts control*/
.mapbox-listed-account {
	color: white;
	padding: 4px;
	font-size: 110%;
	height: 30px;
	position: relative;
}
.mapbox-listed-account-title {
	position: absolute;
	left: 0;
}
.mapbox-listed-account-kill {
	position: absolute;
	right: 0;
	color: red;
	font-weight: 900;
}


/*sidepane bounds*/
#editor-map-bounds-set-maxZoom {
	width: 60px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#editor-map-bounds-max-zoom-value {
	width: 195px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#editor-map-bounds-set-minZoom {
	width: 60px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#editor-map-bounds-min-zoom-value {
	width: 195px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

/*sidepane documents*/
#documents-container-textarea h2 {
	color: red;
	font-size: 200%;
}

#documents-container-textarea h1 {
	font-size: 300%;
}

#documents-container-textarea p {
	font-size: 120%;
	color: yellow;
}

/*grande plugin attachments*/
.grande-sources-container {
	position: absolute;
	width: 300px;
	top: 30px;
	background: black;
	border-radius: 5px;
}

.grande-sources-topwrap {
	height: 0px;
	width: 100%;

}

.grande-sources-source {
	position: relative;
	height: 50px;
	border-top: 1px solid #0C4818;
	width: 100%;
	overflow: hidden;
}

.grande-sources-container div:nth-child(2) {
	border-radius: 5px 5px 0px 0px;
}

.grande-sources-container div:last-child {
	border-radius: 0px 0px 5px 5px;
}

.grande-sources-source:hover {
	background: #60d778;
}

.grande-sources-source-icon {
	width: 30px;
	height: 30px;
}

.grande-sources-source-title {
	color: white;
	position: absolute;
	top: 0px;
	left: 34px;
	font-size: 110%;
	padding: 2px;

}

.grande-sources-source-thumb {
	position: absolute;
	width: 30px;
	height: 100%;
	right: 0px;
	top: 0px;
}

.text-menu .options {
	padding-top: 1px !important;
	width: 245px !important;
}



/*home button*/
.home-container {
	width: 90px;
	height: 80px;
	left: 2px;
}





/*status message pane*/
.home-logo {
	background: none;
	background-image: url("evil_sprite.png") !important;
	background-repeat: no-repeat !important;
	background-position: -59px -229px !important;
	cursor: pointer;
	height: 50px;
	width: 100%;
}

.home-container {
	position: relative;
	/*background-color: rgba(15, 26, 30, 0.55) !important;*/
}
.home-status {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0px;
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 110%;
	cursor: pointer;
}


/*// FINISHED FROM KNUT*/


.leaflet-control-container {
	padding-top: 0 !important;
}

.leaflet-control-layermenu {
	max-height: 100%;
	/*height: auto;*/
	
	position: relative;
	height: 100%;

	box-shadow: none !important;

	position: relative;
	float: none !important;	
}

.inner-scroller {
	min-height: auto;
	padding-left: 5px;
	padding-right: 5px;
	left: -5px;
}

#layer-menu-inner-content {
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
	}

.scroller-frame {
	height: 100%;
	overflow: scroll;
	position: absolute;
	padding-bottom: 27px;
	left: 2px;
	}	

.leaflet-control-inspect {
	top: -14px;
	border-top: none;
	max-height: 187px;
	height: auto;

	box-shadow: none !important;
	background-color: transparent !important;
}	


#inspect-control-inner-content {
	background: rgba(255, 255, 255, 0.93);
}

#inspector-header {
	border-top: none;
	top: 0 !important;
	overflow: hidden;
}

#inspector-list {
	max-height: 160px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 1px;

	padding: 0;
	top: 0;
}

.inspect-layer:first-child {
	margin-top: 10px;
	}

.inspect-layer:last-child {
	margin-bottom: 10px;
}

#header {
	top: 5px;
	left: 104px;
	width: 300px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

h3, h4 {
	color: black;
	}

.q-editor-container {
	background-color: rgba(255,255,255,0.0);
	box-shadow: none;
	top: 3px;
	left: 4px;
	padding-top: 2px;
	height: 80px;
	}

.q-editor-content-item {
	background-color: rgba(255,255,255,0.90);
	margin-top: 20px;
	box-shadow: 0 0 5px 0 black;
	height: auto;
	margin-left: 0px;
	margin-right: 20px;
	width: 250px;
	margin-top: 86px;
	max-height: 70%;
	}


.q-editor-menu {
	background-color: rgba(0, 0, 0, 0);
	}	

.editor-inner-wrapper {
	background-color: rgba(55, 55, 75, 0.15);
	width: 230px;
	}	

.editor-inner-wrapper:hover {
	background-color: rgba(55, 55, 75, 0.25);
	}

.editor-wrapper {
	color: black;
	width: 260px;
	padding-right: 30px;
	}

.editor-clients-container {
	background-color: rgba(55, 55, 75, 0.15);
	width: 230px;
}

.home-logo {
	background-position: -180px -229px !important;
	opacity: 0.5;
	}

.home-container {
	/*background-color: rgba(15, 26, 30, 0.75) !important;*/
	/*box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3) inset;*/
	background-color: rgba(255, 255, 255, 0.9) !important;
	box-shadow: 0 0px 5px 0 #333;
	z-index: 999;
	}

.home-status {
	color: black;
	opacity: 0.8;
}

#menuslider {
	width: 90px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.15);
	border-right: none;
	}

.active a, .editor-wrapper a {
	color: cadetblue !important;
	font-weight: 900 !important;
	text-shadow: -1px 1px 1px rgba(255,255,255,0.3);
	}



.q-editor-menu {
	/*box-shadow: 0 -1px 0 0 #333;*/
	background-color: rgba(255, 255, 255, 0.95);
}

.q-editor-menu-item .users {
	border-top: 1px solid #333;
}

.client-title {
	font-size: 17px;
	font-weight: 400;
	color: #333;
}

.client-description {
	font-size: 12px;
	text-indent: 4px;
	color: #666;
	}

.client-logo {
	width: 70px;
	height: 50px;	
	top: 5px;
	right: 5px;
	}

.q-editor-menu-item {
	/*background-color: rgba(0,0,0,0.85);*/

	/*background-color: rgba(255, 255, 255, 0.85);*/
	
}		

.q-editor-menu-item a {
	color: #666;
}

.leaflet-top.leaflet-left {
	margin-top: 82px;
	left: 3px;	
	}

.leaflet-top.leaflet-right {
	/*top: 5px !important;*/
	/*left: 414px;*/

	/*right: 301px !important;*/
	bottom: 4px !important;
}

.leaflet-right .leaflet-control {
	margin-bottom: 2px !important;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}

.leaflet-control-scale {
	padding-left: 0px !important;
	padding-right: 0px	!important;
}


.leaflet-container .leaflet-control-mouseposition {
	margin-right: 1px;
	margin-top: 2px;
	margin-left: 1px;
	margin-bottom: 1px;	
	}

.editor-wrapper h3 {
	font-size: 220%;
}	

.editor-map-item-wrap {
	min-height: 40px;
}

#editor-client-item-new h5, .editor-inner-wrapper h5, #select-basic-themes, #advanced-color-header, .editor-wrapper h4 {
	font-size: 18px;
	font-weight: 200;
}

.item-list {
	background: rgba(0, 0, 0, 0.70);
}

.item-list:hover {
	opacity: 0.8;
}

.item-list-header {
	margin-top: 10px;
	margin-bottom: 3px;
	}






.item-list, .layer-item, .layers-mapbox-item {
	color: #333;
	background: rgba(255,255,255,0.75);
	box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.6) inset, 1px -1px 2px -1px white inset;
	}

.item-list.active, .layer-item.active, .active .layers-mapbox-item {
	background-color: black;
	color: white;
	font-weight: 400;	
	opacity: 0.8;
	}

#editor-map-bounds {
	width: 147px !important;
}	

#editor-map-bounds-max-zoom-value,
#editor-map-bounds-min-zoom-value {
	width: 145px;
}

.smap-button-white {
	background: rgba(255,255,255,0.75);
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.7) inset;
}

.editor-inner-wrapper input, .input-box {
	background: rgba(0, 0, 0, 0.7);
}

.editor-clients-container:hover {
	background-color: rgba(55, 55, 75, 0.09);
}

.project-item {
	color: #333;
}

.project-item:hover {
	/*background: rgba(0, 0, 0, 0.09);*/
	background: rgba(0, 0, 0, 0.25);
}




.project-title {
	font-size: 110%;
	text-shadow: none;
	font-weight: 500;
	text-transform: uppercase;
}

.project-description {
	top: 58px;
	color: #333;
	text-shadow: none;
	border-top: 1px dotted rgba(0, 0, 0, 0.5);
	padding-top: 4px;

}

.project-logo {
	width: 69px;
	height: 48px;
	right: 9px;
	top: 7px;
	}

.project-createdby,
.project-lastupdated,
.update-header,
.project-createddate {
	color: #333;
	}

.project-lastupdated {
	color: #666;
	width: 75px;
	}

.project-createdby {
	bottom: 13px;
	}

.project-users {
	right: -76px;
	}

.project-users-wrap {
	height: 20px;
	width: 23px;
	background-position: 52px -202px;
	}

.project-kill {
	color: white;
	background: rgba(0, 0, 0, 0.2);
	padding: 1px 5px 2px 5px;
	bottom: 87px;
	right: 83px;
	}



.smap-button-white {
	color: #666;
	}

.new-project-button {
	font-size: 359%;
	}

.smap-button-white:hover {
	background: white;
	color: #333;
	}


.leaflet-left .leaflet-control {
	padding-left: 0;
	margin-left: 3px;
	}



.leaflet-control-zoom, .leaflet-draw, .leaflet-control-styleeditor, .leaflet-control-baselayertoggle {
	float: left;
	}

#description-toggle-button {
	border-radius: 0;
	background-position: -27px -43px;
	right: 4px;
	}

.description-scroller {
	width: 217px;
	padding-bottom: 10px;
	margin-top: 10px;
	}	


/*// HORIZONTAL TOOLBAR
// HORIZONTAL TOOLBAR
// HORIZONTAL TOOLBAR
*/
/*
.leaflet-top.leaflet-left {
	margin-top: -2px;
	}	

.leaflet-bar {
	height: 26px;
	}

.leaflet-bar a, .leaflet-control-layers-toggle {
	display: inline-block;
	}

.leaflet-bar a, .leaflet-bar a:hover {
	border-right: 1px solid #ccc;
	border-bottom: 0;
	}

.leaflet-bar a:hover {
	display: inline-block;
	}

.leaflet-bar a:last-child {
	border-right: none;
	}

.leaflet-draw-section {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	}

.leaflet-draw-toolbar {
	margin-top: 0;
	}	

.leaflet-draw a {
	display: inline-block;
	}

.leaflet-draw.leaflet-control {
	position: absolute;
	width: 100%;
	top: 83px;
	left: 104px;
	text-align: left;
	}

.leaflet-control-zoom-in {
	top: -1px;
	position: relative;
	border-bottom: none;	
	}

.leaflet-control-zoom {
	left: 47px;
	top: 83px;
	}*/








#description-control-inner-content {
	top: 0px; 
 	position: relative; 
	}

.no-inspector {
	top: -8px !important;
	}

.leaflet-bottom.leaflet-right {
	width: 290px;
	padding-bottom: 198px;
	top: 0px;
	padding-top: 6px;
	right: 1px;
	}

#layer-menu-inner-content {
	/*width: 290px;*/
	width: 280px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	left: -2px;
	}

.layer-menu-item-wrap {
	font-size: 13px;
	height: 25px;
	}

.leaflet-control-description {
	height: auto;
	padding: 0;
	width: 290px;
	float: none !important;	
	margin-bottom: 19px;
	left: 33px;
	top: 0px;
	position: absolute;
	}

.leaflet-control-inspect {
	float: none !important;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px !important;	
	position: absolute;
	bottom: 5px;
	top: auto;
	}

#bhattan1 {
	left: 5px;
}

.menucollapser {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	margin-top: 0px;	
	}

.inspect-layer {
	width: 270px;
	}

#legends-control-inner-content {
	padding-left: 0;
	padding-right: 0px;
	width: auto;
	max-width: 100%;
	}

#legends-inner {
	width: auto;
	max-width: 100%;
	}

.leaflet-control-legends {
	position: relative;
	float: left;
	width: 290px;
	max-width: 290px;
	left: 5px;
	}

.leaflet-control-attribution {
	position: fixed;
	left: 302px;
	bottom: 5px;
	right: auto;
	}

#open-layers {
	top: 6px;
	right: 6px;
	}

.project-lastupdated {
	height: auto;
}

.editor-clients {
	padding-bottom: 48px;
}

#new-client-button {
	bottom: -10px;
	right: 0px;
	color: #666;
	line-height: 0.5;
	background: white;
	}

.import-mapbox-layers {
	width: 100%;
	margin-bottom: 5px;
}


/*// Fullpage */

.fullpage-documents,
.data-library,
.fullpage-users {
	
	/*top: 87px;*/

	left: 104px;
	padding-left: 0px;
	padding-top: 89px;
	padding-right: 110px;
	padding-bottom: 7px;

	background: none;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

	overflow: hidden;

}


.fullpage-documents .editor-wrapper,
.data-library .editor-wrapper,
.fullpage-users .editor-wrapper {
	background-color: rgba(255,255,255,0.9);
	}

#documents-container-leftpane {
	top: 0px;
	position: relative;
	}


.search {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.4) inset;
}


tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.15);
	}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.075);
	}

.dln {
	font-weight: 400;
	color: #333;
	}

.dln:hover {
	color: black;
}	

.tdcont {
	color: #333;
	}

.datalibrary-controls, .users-controls {
	color: #666;
	}

.smap-button-gray {
	background: rgba(0, 0, 0, 0.45);
	color: white;
	font-weight: 400;
	box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.3);
	}





article {
	color: #333;
	margin-top: 20px;
}

#documents-container-textarea h1 {
	font-size: 200%;
}

#documents-container-textarea h2 {
	color: #333;
	font-size: 120%;
}

#documents-container-textarea p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
	}

hr {
border-top: 1px solid #333;
}