npm-debug.log
node_modules/*
config/server-config.js
log/*
tests/*
dist/tmp/*
views/tmp/*
views/*.serve.*
public/css/style.css
dist/css/*.min.css
dist/js/*.min.js
public/css/style.min.css
public/js/lib/zenpen/*
public/js/lib/leaflet.js/plugins/leaflet-search
dist/css/mobilestyle-login.css
dist/css/mobilestyle.css
dist/css/padstyle.css
dist/css/phantomJS.css
dist/css/phantomJSthumb.css

public/local/*