<!doctype html>
<html>
<head>
    <title></title>

    <!-- addContact.ejs -->
    <script type="text/javascript" src="/js/lib/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/clientConfig.js"></script>
    <script type="text/javascript" src='/js/src/core/class.js'></script>
    <script type="text/javascript" src='/js/src/core/api.js'></script>
    <script type="text/javascript" src='/js/src/core/addContact.js'></script>
    <link rel="stylesheet" href='/css/font-awesome-4.4.0/css/font-awesome.min.css'>
    <link href='/css/addContact.css' rel='stylesheet' />


    <script type="text/javascript">(function(){
            window.tokens = JSON.parse('<%- JSON.stringify(access_token) %>');
        }());
    </script>

</head>
<body>

<div id="container"></div>

<script>

    var app = new Wu.AddContact({
        store : window.invite_store,
        container : 'container'
    });

</script>

</body>
</html>