<!doctype html>
<html>
	<head>
		<title>Systemapic Secure Portal</title>
	
		<link rel="icon" type="image/png" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


					
						

		<!-- @if NODE_ENV == 'DEVELOPMENT' -->

			<!-- DEPENDENCIES STYLESHEETS -->
			<link rel="stylesheet" href='/js/lib/codemirror/mode/cartocss/spectrum.css'>
			<link rel="stylesheet" href='/js/src/leaflet.js/plugins/leaflet-search/src/leaflet-search.css'>
			<link rel="stylesheet" href='/js/src/grande.js/css/menu.css'>
			<link rel="stylesheet" href='/js/src/grande.js/css/editor.css'>
			<link rel="stylesheet" href='/css/bootstrap.min.css'>
			<link rel="stylesheet" href='/css/font-awesome.min.css'>
			<link rel="stylesheet" href='/css/mapbox.css'>        
			<link rel="stylesheet" href='/js/src/leaflet.js/leaflet.css'>
			<link rel="stylesheet" href='/js/src/leaflet.js/plugins/styleEditor/Leaflet.StyleEditor.css'>
			<link rel="stylesheet" href='/js/lib/powerange/powerange.min.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/lib/codemirror.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/mode/cartocss/codemirror.carto.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/mode/cartocss/codemirror.fetta.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/theme/mbo.css'>
			<link rel="stylesheet" href='/css/opentip.css'>

			

			<!-- dev css -->
			<link rel="stylesheet" href="/css/style.css">			
			<link rel="stylesheet" href="/css/knut.css">
			<link rel="stylesheet" href="/css/evil.css">			
			
			<!-- JAVASCRIPTS -->
			<!-- JAVASCRIPTS -->
			<!-- JAVASCRIPTS -->

			<!-- dep libs -->
			<script src="/js/lib/codemirror/mode/cartocss/jquery-2.1.1.min.js"></script>
			<script src="/js/lib/lodash/lodash.min.js"></script>
			<script src="/js/lib/parallel.js/parallel.js"></script>
			<script src="/js/lib/async/async.js"></script>
			
			<!-- leaflet.js -->
			<script src="/js/src/leaflet.js/leaflet-0.7.3-src.js"></script>
			<script src="/js/lib/mapbox.js/mapbox.standalone.uncompressed.js"></script> <!-- DO NOT REPLACE! has custom edits:4648! -->
			<script src="/js/src/leaflet.js/plugins/leaflet.geojson.draw.js"></script>
			<script src="/js/src/leaflet.js/plugins/leaflet.draw-src.js"></script>
			<script src="/js/src/leaflet.js/plugins/leaflet-search/src/leaflet-search.js"></script>
			<script src="/js/src/leaflet.js/plugins/leaflet.utfgrid.js"></script>

			<!-- Other stuff -->
			<script src="/js/lib/d3.js/topojson.v1.min.js"></script> 
			<script src="/js/lib/dropzone.js/dropzone.min.js"></script> 
			<script src="/js/lib/icanhaz/icanhaz.min.js"></script> 
			<script src="/js/lib/list.js/list.min.js"></script> 
			<script src="/js/lib/sortable.js/Sortable.js"></script>
			<script src="/js/lib/powerange/powerange.min.js"></script>

			<!-- grande.js -->
			<script src="/js/src/grande.js/js/grande.class.js"></script>
			<script src="/js/src/grande.js/js/grande.js"></script>
			<script src="/js/src/grande.js/js/grande.attachments.js"></script>

			<!-- codemirror -->
			<script src="/js/lib/codemirror/mode/cartocss/cartoref.js"></script>
			<script src="/js/lib/codemirror/lib/codemirror.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/runmode.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/searchcursor.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/codemirror.carto.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/codemirror.carto.complete.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/codemirror.search.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/codemirror.palette.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/sexagesimal.js"></script>
			<script src="/js/lib/codemirror/mode/cartocss/spectrum.js"></script>

			<script src="/js/lib/opentip/opentip-native.js"></script>
			<script src="/js/lib/jss.js/jss.js"></script>

		<!-- @endif -->


		<!-- @if NODE_ENV == 'PRODUCTION' -->

			<!-- DEPENDENCIES STYLESHEETS -->
			<!-- concat + cssmin -->
			<link rel="stylesheet" href="/css/css.dependencies.min.css">	

			<link rel="stylesheet" href="/css/css.portal.min.css">
			<script src="/js/js.dependencies.min.js"></script>
	
		<!-- @endif -->


		<!-- styletag for injecting css -->
		<div id="styletag"></div>
		<div id="mobilestyle"></div>		
		<div id="cartoCSStheme"></div>
	
		<!-- hotlink -->
		<script>
			(function(){ 
				window.hotlink = '<%- JSON.stringify(hotlink) %>'; 
			}());
			
		</script>

	</head>
	<body>




		<!-- @if NODE_ENV == 'DEVELOPMENT' -->

			<!-- class.js must be added first -->
			<script src="/js/src/core/class.js"></script> 
			<script src="/js/src/leaflet.js/plugins/extendLeaflet.js"></script>

			<script src="/js/src/panes/sidepane/sidepane.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.item.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.clients.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.project.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.client.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.users.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.map.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.mapSettings.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.documents.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.dataLibrary.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.mediaLibrary.js"></script>
			<script src="/js/src/panes/sidepane/sidepane.share.js"></script> 
			<script src="/js/src/panes/sidepane/sidepane.account.js"></script> 

			<script src="/js/src/panes/headerpane.js"></script> 
			<script src="/js/src/panes/progresspane.js"></script> 
			<script src="/js/src/panes/mappane.js"></script>
			<script src="/js/src/panes/statuspane.js"></script>
			<script src="/js/src/panes/startpane.js"></script>
			<script src="/js/src/panes/errorpane.js"></script>
			<script src="/js/src/panes/dropzonePane.js"></script>
			
			<script src="/js/src/controls/zIndexControl.js"></script> 
			<script src="/js/src/controls/layermenuControl.js"></script> 
			<script src="/js/src/controls/inspectControl.js"></script> 		
			<script src="/js/src/controls/descriptionControl.js"></script> 
			<script src="/js/src/controls/legendsControl.js"></script> 				
			<script src="/js/src/controls/mousepositionControl.js"></script> 
			<script src="/js/src/controls/baselayertoggleControl.js"></script> 
			<script src="/js/src/controls/styleControl.js"></script> <!-- themeToggle.js -->	 
			<script src="/js/src/controls/cartocssControl.js"></script>  
			<script src="/js/src/controls/tooltipControl.js"></script>
			<script src="/js/src/controls/spinningMap.js"></script>
		
			<script src="/js/src/models/projects.js"></script> 
			<script src="/js/src/models/clients.js"></script> 
			<script src="/js/src/models/users.js"></script> 
			<script src="/js/src/models/layers.js"></script> 
			<script src="/js/src/models/files.js"></script> 

			<script src="/js/src/core/analytics.js"></script>

			<!-- config file -->
			<script src="/js/src/config/config.js"></script> 		
			<script src="/js/src/core/app.js"></script>



		<!-- @endif -->

		<!-- @if NODE_ENV == 'PRODUCTION' -->		

			<script src="/js/js.portal.min.js"></script>

		<!-- @endif -->


		<script>

			// enter the Wu
			var app = new Wu.App({
					id : 'app'
			});

		</script>



		<!--

		<script type="text/javascript">


		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-57572003-1', 'auto');
		  ga('send', 'pageview');
		</script>

		-->


</body>	
</html>