<!DOCTYPE html>
<html>
	<head>
		<title>Systemapic Secure Portal</title>
	
		<link rel="icon" type="image/png" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->

			<!-- DEPENDENCIES STYLESHEETS -->
			<link rel="stylesheet" href='/js/lib/codemirror/mode/cartocss/spectrum.css'>
			<link rel="stylesheet" href='/js/lib/leaflet.js/plugins/leaflet-search/src/leaflet-search.css'>
			<link rel="stylesheet" href='/js/lib/grande/css/menu.css'>
			<link rel="stylesheet" href='/js/lib/grande/css/editor.css'>
			<link rel="stylesheet" href='/css/bootstrap.min.css'>
			<link rel="stylesheet" href='/css/font-awesome.min.css'>
			<link rel="stylesheet" href='/css/mapbox.css'>        
			<link rel="stylesheet" href='/js/lib/leaflet.js/leaflet.css'>
			<link rel="stylesheet" href='/js/lib/leaflet.js/plugins/styleEditor/Leaflet.StyleEditor.css'>
			<link rel="stylesheet" href='/js/lib/powerange/powerange.min.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/lib/codemirror.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/mode/cartocss/codemirror.carto.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/mode/cartocss/codemirror.fetta.css'>
			<link rel="stylesheet" href='/js/lib/codemirror/theme/mbo.css'>
			<link rel="stylesheet" href='/css/opentip.css'>
		
			<!-- SYSTEMAPIC STYLESHEETS -->
			<link rel="stylesheet" href="/css/style.css">			
			<link rel="stylesheet" href="/css/knut.css">
			<link rel="stylesheet" href="/css/evil.css">			
			

		<!-- @endif -->


		<!-- @if NODE_ENV == 'PRODUCTION' -->

			<!-- DEPENDENCIES STYLESHEETS -->
			<link rel="stylesheet" href="/css/css.dependencies.min.css">

			<!-- SYSTEMAPIC STYLESHEETS -->
			<link rel="stylesheet" href="/css/css.portal.min.css">
	
		<!-- @endif -->
		<script type="text/javascript">(function(){
			window.hotlink = '<%- JSON.stringify(hotlink) %>';
			window.tokens = JSON.parse('<%- JSON.stringify(access_token) %>');
			}());
		</script>


	</head>

	<div id="styletag"></div>
	<div id="mobilestyle"></div>
	<div id="cartoCSStheme"></div>


	<body>
		
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->


			<!-- JAVASCRIPTS -->
			<!-- JAVASCRIPTS -->
			<!-- JAVASCRIPTS -->

			<!-- DEPENDENCIES -->
			<!-- DEPENDENCIES -->
			<!-- DEPENDENCIES -->

			<!-- D3.js -->
			<script type="text/javascript" src="/js/lib/d3.js/d3.js"></script>

			<!-- socket.io -->
			<script type="text/javascript" src="/socket.io/socket.io.js"></script>

			<!-- dep libs -->
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="/js/lib/lodash/lodash.min.js"></script>
			<script type="text/javascript" src="/js/lib/async/async.js"></script>
			
			<script type="text/javascript" src="/js/lib/leaflet.freedraw.js/jsclipper.js"></script>
			<script type="text/javascript" src="/js/lib/leaflet.freedraw.js/concavehull.js"></script>
			<script type="text/javascript" src="/js/lib/leaflet.freedraw.js/graham_scan.js"></script>
			<script type="text/javascript" src="/js/lib/leaflet.freedraw.js/hammer.js"></script>
			
			<!-- leaflet.js -->
			<script type="text/javascript" src="/js/lib/leaflet.js/leaflet-0.7.3-src.js"></script>
			<script type="text/javascript" src="/js/lib/leaflet.js/plugins/leaflet.utfgrid.js"></script>
			<script type="text/javascript" src="/js/lib/leaflet.freedraw.js/leaflet.freedraw-src.js"></script>

			<!-- Other stuff -->
			<script type="text/javascript" src="/js/lib/dropzone.js/dropzone.min.js"></script> 
			<script type="text/javascript" src="/js/lib/list.js/list.min.js"></script> 
			<script type="text/javascript" src="/js/lib/sortable.js/Sortable.js"></script>

			<!-- resumable.js -->
			<script type="text/javascript" src="/js/lib/resumable/resumable.js"></script>

			<!-- grande.js -->
			<script type="text/javascript" src="/js/lib/grande/js/grande.class.js"></script>
			<script type="text/javascript" src="/js/lib/grande/js/grande.js"></script>
			<script type="text/javascript" src="/js/lib/grande/js/grande.attachments.js"></script>

			<!-- codemirror -->
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/cartoref.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/lib/codemirror.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/runmode.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/searchcursor.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/codemirror.carto.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/codemirror.carto.complete.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/codemirror.search.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/codemirror.palette.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/sexagesimal.js"></script>
			<script type="text/javascript" src="/js/lib/codemirror/mode/cartocss/spectrum.js"></script>

			<script type="text/javascript" src="/js/lib/opentip/opentip-native.js"></script>
			<script type="text/javascript" src="/js/lib/jss.js/jss.js"></script>
			<script type="text/javascript" src="/js/lib/keymaster/keymaster.js"></script>

			<script type="text/javascript">(function(){window.hotlink = '<%- JSON.stringify(hotlink) %>';}());</script>



			<!-- LIBRARY -->
			<!-- LIBRARY -->
			<!-- LIBRARY -->

			<!-- class.js must be added first -->
			<script type="text/javascript" src="/js/src/core/class.js"></script>
			<script type="text/javascript" src="/js/src/core/socket.js"></script>

			<script type="text/javascript" src="/js/src/core/controller.js"></script>
			
			<script type="text/javascript" src="/js/src/panes/pane.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.item.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.clients.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.project.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.client.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.users.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.documents.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.datalibrary.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.medialibrary.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.share.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.account.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.manage.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/sidepane.options.js"></script>

			<script type="text/javascript" src="/js/src/panes/sidepane/option.item.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.baselayers.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.bounds.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.connect.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.controls.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.layermenu.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.position.js"></script>
			<script type="text/javascript" src="/js/src/panes/sidepane/option.settings.js"></script>

			<script type="text/javascript" src="/js/src/panes/pane.header.js"></script>
			<script type="text/javascript" src="/js/src/panes/pane.progress.js"></script>
			<script type="text/javascript" src="/js/src/panes/pane.map.js"></script>
			<script type="text/javascript" src="/js/src/panes/pane.status.js"></script>
			<script type="text/javascript" src="/js/src/panes/pane.start.js"></script>
			<script type="text/javascript" src="/js/src/panes/pane.feedback.js"></script>
			<script type="text/javascript" src="/js/src/panes/pane.dropzone.js"></script>

			<script type="text/javascript" src="/js/src/controls/control.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.zoom.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.geojson.draw.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.draw.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.zindex.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.measure.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.geolocation.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.layermenu.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.inspect.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.description.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.legends.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.mouseposition.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.baselayertoggle.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.style.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.cartocss.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.tooltip.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.spinningmap.js"></script>
			<script type="text/javascript" src="/js/src/controls/control.freedraw.js"></script>

			<script type="text/javascript" src="/js/src/models/model.projects.js"></script>
			<script type="text/javascript" src="/js/src/models/model.clients.js"></script>
			<script type="text/javascript" src="/js/src/models/model.users.js"></script>
			<script type="text/javascript" src="/js/src/models/model.layers.js"></script>
			<script type="text/javascript" src="/js/src/models/model.files.js"></script>
			<script type="text/javascript" src="/js/src/models/model.roles.js"></script>
			<script type="text/javascript" src="/js/src/models/model.D3List.js"></script>

			<script type="text/javascript" src="/js/src/core/access.js"></script>

			<script type="text/javascript" src="/js/src/ext/analytics.js"></script>

			<script type="text/javascript" src="/clientConfig.js"></script>
			<script type="text/javascript" src="/js/src/lang/language.english.js"></script>
			<script type="text/javascript" src="/js/src/ext/extendLeaflet.js"></script>

			<script type="text/javascript" src="/js/src/tests/memory.js"></script>

			<script type="text/javascript" src="/js/src/core/app.js"></script>



		<!-- @endif -->

		<!-- @if NODE_ENV == 'PRODUCTION' -->		

			<!-- DEPENDENCIES -->
			<script type="text/javascript" src="/js/js.dependencies.min.js"></script>
			<script type="text/javascript" src="/socket.io/socket.io.js"></script>
			
			<!-- CONFIG -->
			<script type="text/javascript" src="/clientConfig.js"></script>

			<!-- LIBRARY -->
			<script type="text/javascript" src="/js/js.portal.min.js"></script>

		<!-- @endif -->


		<script type="text/javascript">

			// enter the Wu
			var app = new Wu.App({
					id : 'app'
			});

		</script>



</body>	

</html>