<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Systemapic</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="//85.10.202.87:8080/css/style.css">

</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
<!-- 		<h1><span class="fa fa-lock"></span> Authentication</h1> -->
<!-- 		<p>Login or Register with:</p> -->


	
		<div id="login-logo-img" style="padding-left: 25px;padding-bottom: 50px;">
		<img src="//85.10.202.87:8080/dev_img/sysa.png">
		</div>
		
		<div id="login-wrapper" style="zoom:2">
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		</div>
		
		
<!-- 		<a href="/signup" class="btn btn-default hide"><span class="fa fa-user"></span> Sign up</a> -->		

	</div>
</div>



<script>
	window.location.href = "/login";
	
</script>
</body>
</html>