<!doctype html>
<html>
<head>
<title></title>

	<!-- invitation.ejs -->

	<script src='/loginConfig.js'></script>
	<script src='/js/src/core/class.js'></script>
	<script src='/js/src/core/invitation.js'></script>
	<link rel="stylesheet" href='/css/font-awesome-4.4.0/css/font-awesome.min.css'>
	<link href='/css/invitation.css' rel='stylesheet' />


	<script type="text/javascript">(function(){
		window.tokens = JSON.parse('<%- JSON.stringify(access_token) %>');
		window.invite_store = JSON.parse('<%- invite %>');
		}());
	</script>

</head>
<body>

	<div id="container"></div>

	<script> 

		var app = new Wu.Invite({
			store : window.invite_store,
			container : 'container'
		});

	</script>

	<script type="text/javascript">
		var gaID = loginConfig.ga.id; 
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', gaID, 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>