<!doctype html>
<html>
<head>
<title>Systemapic Authentication</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- @if NODE_ENV == 'DEVELOPMENT' -->

			<!-- stylesheet -->
			<link href='css/mapbox.css' rel='stylesheet' />
			<link href='css/login.css' rel='stylesheet' />

			<!-- javascript -->
			<script src='js/lib/mapbox.js/mapbox.2.1.4.js'></script>
			<script src='js/src/controls/control.spinningmap.js'></script>
			<script src='/loginConfig.js'></script>			
			<script src='js/src/core/login.js'></script>

		<!-- @endif -->


		<!-- @if NODE_ENV == 'PRODUCTION' -->

			<!-- stylesheet -->
			<link href='css/login.min.css' rel='stylesheet' />

			<!-- javascript -->
			<script src='/loginConfig.js'></script>	
			<script src='js/login.min.js'></script>

		<!-- @endif -->


<style>

</style>
</head>
<body>

	<div id="styletag"></div>

	<div id="spinning-map"></div>
	<div id="spinning-content">
		<div id="login-form" class="col-sm-6 col-sm-offset-3">
			<div id="powered-by">Powered by<a href="http://systemapic.com" target="_blank">Systemapic.com ©</a></div>
			<div id="login-logo"></div>

			<div id="login-wrapper">
				<div id="login-inner-wrapper">
					<h1 style="font-size: 25px;"><span class="secure-login-symbol"></span> Secure Login</h1>

					<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>

					<div class="alert alert-danger" id="feedback-message"></div>

					<form action="/login" method="post" id="login-form">
						<div class="form-group"><input id="input-email" onkeyup="login_key_up();" type="text" class="form-control" name="email" placeholder="Enter email..."></div>
						<div class="form-group"><input id="input-pass" onkeyup="login_key_up();" type="password" class="form-control" name="password" placeholder="Enter password..."></div>
						<input id="invite_input" type="text" name="invite_token" style="display:none;">
						<button type="submit" id="login-button" class="btn btn-default" name="login">Login</button>
						<div id="forgot-link">Forgot password?</div>
					</form>
				</div>


				<div id="login-forgot-wrapper">
					<h1 style="font-size: 25px;"><span class="secure-login-symbol"></span> Reset password</h1>
					<input id="forgot-email" type="text" class="form-control" name="email" placeholder="Please enter your email...">
					<button type="submit" id="request-button" class="btn btn-default" name="login">Confirm</button>
					<div id="forgot-feedback"></div>
				</div>	

				<div id="login-password-wrapper" class="page-header text-center">
					<h1>Create your password</h1>

					<div class="form-group"><input id="password-input" onkeyup="pw_key_up();" type="password" class="form-control" name="password" placeholder="Enter a strong password..."><div id="password-input-ok"></div></div>
					<div class="form-group"><input id="password-repeat" onkeyup="pw_key_up();" type="password" class="form-control" name="password" placeholder="Enter password again..."><div id="password-repeat-ok"></div></div>
					<button type="submit" style="display: none;" id="create-button" class="btn btn-default" name="create" disabled>Create</button>

				</div>
			</div>


		</div>
	</div>

	<script>
		initScripts();
	</script>


	<script type="text/javascript">
		var gaID = loginConfig.ga.id;
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', gaID, 'auto');
		ga('send', 'pageview');
	</script>

</body>
</html>