
.chrome{
} 
.chrome-container {
    
} 
/*for light-theme: styling top container to be consistent with the rest og the interface*/


/* TOP TOP TOP */
/* TOP TOP TOP */
/* TOP TOP TOP */

.chrome-top {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    /*height: 30px;*/
    height: 35px;
    width: 100%;
    z-index: 9999999999;
    }

/* TOP: Menu button */
.chrome-menu-button {
    position: absolute;
    width: 42px;
    height: 35px;
    border-right: 1px dashed #A6A6A6;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 200;
    }

.chrome-menu-button:before {
    content: '';
    background-image: url(images/systemapic-sprite.png);
    background-repeat: no-repeat;
    background-position: 1px -43px;
    position: absolute;
    width: 42px;
    height: 35px;
    top: 0;
    left: 0;
    opacity: 0.5;
    }

.chrome-menu-button.active:before,
.chrome-menu-button:hover:before {
    opacity: 1;
    }

/* TOP: Logo */
.chrome-portal-logo {
    position: relative;
    left: 50px;
    top: 4px;    
    }

.chrome-top:before {
    content: '';
    background: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 35px;
    z-index: 0;
    opacity: 0.2;
    }

/* TOP: Project title */
.chrome-project-title {
    width: 100%;
    position: absolute;
    top: 7px;
    left: 0;
    text-align: center;
    font-size: 14px;
    color: #999;
    }

/* TOP: username */
.username-container {
    font-size: 14px;
    color: #999;
    top: 7px;
    right: 11px;
    }

.username-container,
.username-container .top-username,
.username-container .top-logout,
.username-container .top-divider {
    display: inline-block;
    vertical-align: top;
    position: relative;
    }

.username-container .top-username,
.username-container .top-logout {
    cursor: pointer;
    }

.username-container .top-username:hover,
.username-container .top-logout:hover {
    color: #333;
    }

/* TOP RIGHT BUTTONS */
.chrome-buttons {
    position: absolute;
    width: 100%;
    height: 35px;
    text-align: right;
    top: 0;
    z-index: 100;
    }

.chrome-button {
    background-image: url(images/systemapic-sprite.png);
    background-repeat: no-repeat;    
    position: relative;
    width: 30px;
    height: 35px;
    display: inline-block;
    vertical-align: top;    
    margin-right: 5px;
    opacity: 0.5;
    cursor: pointer;
    }

.chrome-button.active,
.chrome-button:hover {
    opacity: 1;
    }

.chrome-button.cartoeditor {
    background-position: -6px -3px;
    }

.chrome-button.layerbutton {
    background-position: -44px -2px;
    }

.chrome-layer-button-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 35px;
    right: 8px;
    background: white;
    display: none;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }

.chrome-button.layerbutton.active .chrome-layer-button-arrow {
    /*display: block;*/
    }    


/* RIGHT RIGHT RIGHT */
/* RIGHT RIGHT RIGHT */
/* RIGHT RIGHT RIGHT */

.chrome-right {
    background: white;
    position: absolute;
    right: 0;
    top: 35px;
    height: 100%;
    width: 0;
    z-index: 99999999999;
    }

.chrome.chrome-content.styleditor.header {
    width: 100%;
    height: 80px;
    background: #F76F6F;
}
.chrome.chrome-content.styleditor.title {
    font-size: 28px;
    padding: 5px;
}

.chrome.chrome-content.styleditor.subtitle {
    font-size: 16px;
    padding: 5px;
}
.chrome.chrome-content.styleditor.tabs-container {
    height: 30px;
    width: 100%;
    background: #AAFFAA;
    border-top: 1px solid grey;
}

.chrome.chrome-content.styleditor.tab {
    width: 30%;
    height: 100%;
    position: relative;
    background: red;
    float: left;
}


.chrome.chrome-content.styleditor.tab.fullauto {
    background: blue;
}
.chrome.chrome-content.styleditor.tab.sql {
    background: cyan;
}

.chrome.chrome-content.styleditor.tab.open {
    width: 40%;
}


.presets-container {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid black;
    position: relative;
    margin: 10px;
    float: right;
}

.presets-container-title {
    bottom: 0;
    position: absolute;
}

.presets-wrapper {
    height: 150px;
}

.styleeditor.selector-text {
    width: 60%;
    float: left;
}

.dropdown.wrapper {
    float: left;
    width: 40%;
}

#checkbox-marker-width-scale {
    display: block;
}


/*ADJUSTMENTS TO EXISITNG ELEMENTS*/
.leaflet-control-layermenu.leaflet-control {
    top: 42px;
}
#open-layers {
    display: none;
}
#bhattan1 {
    display: none;
}


.chrome-content.settingsSelector { 
    position: relative;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px dashed #ccc;
    }


.chrome-content.settings-button-wrapper {
    margin-left: 20px;
    }


.chrome-content.settings-button {
    background: #ccc;
    width: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    margin-top: 4px;
    font-size: 15px;
    }

.chrome-content.settings-button:hover {
    background: #bbb;
    }

.chrome-content.settings-title {
    font-size: 18px;
    margin: 5px;
    margin-left: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 8px;
    }

.chrome-content.settings-tabs-wrapper {
    position: absolute;
    top: 120px;
    }

.chrome-content.active-layer.title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 4px;
    }

.chrome-content.active-layer.select-wrap {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    min-width: 312px;
    max-width: 360px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    z-index: 100;
    }

.chrome-content.active-layer.select-wrap:before {
    content: '';
    background: white;
    position: absolute;
    right: 0;
    width: 20px;
    top: 4px;
    height: 20px;
    z-index: 101;
    background: #fff url("images/arrowdown.gif") no-repeat;
    pointer-events: none;
    }

.chrome-content.active-layer.select-wrap select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    }

.chrome-content.active-layer.select-wrap select:focus {
    outline: none;
    }

.active-layer-option {
    color: black;
    }

.chrome-content.settings-button.active-tab {
    background: #78a09c;
    color: white;
    }

.chrome-content.settings-button.active-tab:hover {
    background: #6C8E8B;
    }

.chrome.chrome-content.styler {
    margin-top: 5px;
    }


/* EDITED BY JØRGEN */
/* EDITED BY JØRGEN */
/* EDITED BY JØRGEN */

.leaflet-bottom.leaflet-right {
    margin-top: 0;
    }

.leaflet-control-layermenu.leaflet-control {
    top: 37px;
    }

#layer-menu-inner-content {
    height: 100%;
    background: white;
    box-shadow: none;
    position: relative;
    width: 280px;
    left: -2px;
    padding: 7px;
    }

.leaflet-control-description.leaflet-control {
    display: block;
    top: auto;
    bottom: 0;
    position: absolute;
    }

.description-control-inner-content {
    box-shadow: none;
    }

.description-control-inner-content-box,
.menucollapser {
    background: white;
    }

.leaflet-top.leaflet-left {
    margin-top: 32px;    
    }

.q-editor-container {
    top: 36px;
    }

.q-editor-menu,
.q-editor-content-item {
    background: white;
    box-shadow: none;
    }

.leaflet-control-layermenu.closed {
    display: none !important;
    }

.edit-mode .scroller-frame {
    padding-top: 33px;
    }

.fullpage-users, 
.data-library,
.fullpage-documents {
    top: 41px;
    }

.users-inner, 
.data-library-inner,
.fullpage-documents .editor-wrapper {
    box-shadow: none;
    background: white;    
    }

.fullpage-documents {
    box-shadow: none;
    width: 895px;
    }

.documents-container-rightpane {
    border-left: 1px solid #EAEAEA;
    }

.leaflet-bottom.leaflet-right {
    z-index: 100;
    }

.leaflet-top.leaflet-right {
    bottom: 4px !important;
    right: 260px;
    }

.measure-padding-right {
    /*right: 251px;*/
    }    

.leaflet-control-scale {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0 !important;
    margin: 0 !important;
    top: 0 !important;
    bottom: auto;
    float: none;
    }    

.leaflet-control-mouseposition {
    margin: 0 !important;
    margin-bottom: 0 !important;
    position: relative;
    vertical-align: top;
    top: 0 !important;
    bottom: auto;
    float: none;    
    }

.layer-menu-item-wrap {
    background-color: #cccccc !important;
    color: #454545;
    font-weight: 500;
    }

.layer-active {
    background-color: #78a09c !important;
    color: white !important;
    font-weight: 900;
    }

.menufolder {
    font-weight: 900;
    background-color: #3C4759 !important;
    }

.layer-menu-item {
    text-indent: 7px;
    text-align: left;
    }

.menufolder .layer-menu-item {
    text-indent: 32px;
    }

.menufolder {
  background-image: none;
    }

.menufolder:before {
    content: '';
    background-image: url(images/systemapic-sprite.png);
    background-position: -61px -45px;
    background-repeat: no-repeat;
    background-size: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    }

.layer-active .layer-menu-flyto {
    position: absolute;
    right: 0;
    height: 100%;
    width: 21px;
    background-image: url(images/evil_sprite.png);
    background-repeat: no-repeat;
    background-position: -283px -42px;
    display: none;
    opacity: 0.7;
    }

.layer-active:hover .layer-menu-flyto { 
    display: block;
    }

.layer-menu-flyto:hover {
    opacity: 1;
    }    



/* OVERRIDE KNUT */
/* OVERRIDE KNUT */
/* OVERRIDE KNUT */

.chrome-right {
    border-top: 1px solid #999;
    }

.chrome-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height: 100%;
    background: black;
    opacity: 0.2;
    }

.status-progress-bar {
    background-color: red;
    box-shadow: none;
    height: 2px;
    }






/*codemirror editor*/

.CodeMirror {
    background: white;
    font-size: 12px;
}
.span.cm-carto-valid-identifier {
    color: #353535;
}

.chrome.chrome-content.cartocss.refresh-button {
    width: 200px;
    height: 35px;
    background: #FF5E5E;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.chrome.chrome-content.cartocss.refresh-button:hover {
    background: red;
}

.chrome.chrome-content.cartocss.title {
    font-size: 15px;
    margin: 5px;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.chrome.chrome-content.styler-content.active-layer.wrapper {
    margin: 20px;
    margin-top: 5px;
}



/* TOOLTIP TOOLTIP TOOLTIP TOOLTIP */
/* TOOLTIP TOOLTIP TOOLTIP TOOLTIP */
/* TOOLTIP TOOLTIP TOOLTIP TOOLTIP */

/* Container */
.leaflet-popup-content-wrapper {
    /*background: rgba(255,255,255,0.92);*/
    background: white;
    border-radius: 0;
    color: black;
    }

.leaflet-popup-tip-container {
    position: relative;
    top: 0px;
    height: 27px;
    visibility: hidden;
    }

/*.leaflet-popup-tip-container:before {
    content: '';
    border: 2px solid red;
    position: absolute;
    bottom: 0px;
    width: 22px;
    height: 22px;
    left: 9px;
    border-radius: 10px;
    }*/

.leaflet-popup-tip {
    /*background: rgba(255,255,255,0.92);*/
    background: white;
    left: -1px;
    position: relative;    
    }

.leaflet-popup-content,
.leaflet-popup-content-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    }


.c3 svg {
    position: relative;
    left: -7px;
}

/* HEADER */
.c3-header-wrapper {
    position: relative;
    margin-bottom: 7px;
    max-width: 400px;
    }

#c3-header-metacontainer {
    background: white;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
    }

.c3-header-layer-name {
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
    vertical-align: top; 
    text-transform: uppercase;   
    }

.c3-point-count {
    font-size: 15px;
    font-style: italic;
    color: #999;
    position: relative;
    top: -3px;
    margin-bottom: -1px;
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
    /*text-indent: 8px;*/
    }

.c3-header-metapair {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: 900;
    /*width: 24%;*/
    width: 33%;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #DADADA !important;
    padding-bottom: 2px !important;
    }

.metapair-1,
.metapair-2,
.metapair-3 {
    border-top: 1px solid #DADADA !important;
    }

.c3-header-metapair,
.c3-header-metakey {
    background: none;
    border: none;
    padding: 0;
    }

.c3-header-metakey,
.c3-header-metaval {
    background: none;
    border: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    }

.c3-header-metakey {
    color: #999;
    }

.c3-header-metaval {
    padding: 0px 0px 0px 5px;
    }






/* C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 */
/* C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 */
/* C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 C3 */

#c3-container {
    /*border-top: 1px solid #999;*/
    /*padding-top: 10px;*/
    max-height: 238px !important;
    }

#c3-header-metacontainer {
    margin-right: 0;
    margin-left: 0;
    /*margin-bottom: 20px;*/
    margin-bottom: 0px;
    }

.c3-header-metapair {
    }

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: 2 2 !important;
    stroke: rgba(255,255,255,0.2) !important;
    }

.c3 text { 
    fill: black;
    font-size: 12px;    
    }   

.c3 path, .c3 line {
    stroke: black;
    fill: none;
    }   

.c3 line {
    stroke: #DADADA !important;
    }

.c3-chart-line {
    opacity: 1 !important;
    }

g.c3-event-rects.c3-event-rects-multiple rect {
    stroke-width: 0.5;
    stroke: black;
    }



.c3-target-avgX {
    stroke-width: 2px;
    stroke: black;
}
    

.c3-zoom-rect {
    fill: white;
    fill-opacity: 1;
    opacity: 1 !important; 
    }






/* DESCRIPTION BOX */
/* DESCRIPTION BOX */
/* DESCRIPTION BOX */

.description-control-content {
    box-shadow: none;
    }

.description-control-content-box {
    padding-top: 10px;
    box-shadow: none;
    /*width: 280px;*/
    width: 245px;
    background: white;
    position: relative;
    }

.description-control-header-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    }

.description-control-header-title.minimized {
    font-size: 12px;
    top: -4px;
    }

.description-control-header-section {
    padding-bottom: 10px;
    }

.description-control-header-section.minimized:before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: black;
    top: 27px;
    }

.description-control-description {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 1.3;
    }    

.description-control-meta-container {
    font-size: 11px;
    line-height: 1.5;
    }

.legends-meta-line {
    border-bottom: 1px solid #BBB;
    }

.legends-meta-key {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    color: #666;
    text-indent: 2px;
    overflow: hidden;
    }

.legend-meta-valye {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-indent: 5px;
    overflow: hidden;
    }

.description-control-header-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 14px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    }


.description-control-header-toggle:hover {
    opacity: 1;
    }

.description-control-header-toggle:before {
    content: '';
    background: black;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -17px;
    }

.description-control-header-toggle.legend-toggle-open {
    top: -3px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    }



.leaflet-bottom.leaflet-right {
    width: 256px;
    }

.leaflet-control-layermenu .scroller-frame .inner-scroller {
    width: 250px;
    }

#layer-menu-inner-content {
    width: 246px;
    }




.info-legend-frame {
    border: 1px solid #666;
    height: 24px;
    padding: 1px;
    margin-top: 18px;
    position: relative;
    }
    
.info-legend-gradient-container {
    width: 100%;
    height: 100%;
    }


.info-legend-val {
    position: absolute;
    font-size: 10px;
    top: -15px;
    }

.info-legend-min-val {
    left: -5px;
    }

.info-legend-med-val {
    width: 100%;
    text-align: center;
    }

.info-legend-max-val {
    right: 0;
    }

.description-control-legend-container {
    position: relative;
    margin-top: 26px;
    }

.description-control-legend-container.minimized {
    margin-top: 20px;
    }

.info-legend-gradient-bottomline {
    font-size: 10px;
    color: #666;
    position: relative;
    left: -2px;
    top: 1px;
    font-weight: 600;
    height: 6px;
    }    


















.middle-item {
    width: 226px;
    }

.middle-item:after {
    width: 246px;
    }


.leaflet-bottom.leaflet-left {
    width: auto;
}

.leaflet-control-attribution {
    position: relative;
    bottom: 5px;
    left: 4px;
    background-color: white !important;
    top: auto;
    min-height: 17px;
    width: auto;
    padding: 0 7px 0 7px;
    font-style: normal;
    font-weight: 900;
    text-indent: 7px;
    }



/*freedraw*/
section.map.mode-create {
    cursor: pointer;
}

section.map.mode-edit div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
}

.leaflet-container.leaflet-clickable, .leaflet-container.map-clickable, .leaflet-marker-icon, .leaflet-overlay-pane path.tracer.leaflet-clickable {
    cursor: pointer;
    fill-opacity: 0.7;
    fill: #FF4646;
    stroke: red;
    stroke-opacity: 0.8;
    stroke-width: 1px;
    transition: fill-opacity 0.15s;
}

.leaflet-container.leaflet-clickable, .leaflet-container.map-clickable, .leaflet-marker-icon, .leaflet-overlay-pane path.tracer.leaflet-clickable:hover {
    fill-opacity: 0.3;
}
}

