/* ????? ????? ????? ????? ????? ????? ????? ????? */
/* ????? ????? ????? ????? ????? ????? ????? ????? */
/* ????? ????? ????? ????? ????? ????? ????? ????? */
/* ????? ????? ????? ????? ????? ????? ????? ????? */


/* ????? */
.presets-container {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid black;
    position: relative;
    margin: 10px;
    float: right;
    }

/* ????? */
.presets-container-title {
    bottom: 0;
    position: absolute;
    }

/* ????? */
.presets-wrapper {
    height: 150px;
    }

/* ????? */
.styleeditor.selector-text {
    width: 60%;
    float: left;
    }

/* ????? */
.dropdown.wrapper {
    float: left;
    width: 40%;
    }

/* ????? */
#checkbox-marker-width-scale {
    display: block;
    }


/* TROR DENNE ER FRA KNUT SIN RIGHT PANE DROP DOWN */
.active-layer-option {
    color: black;
    }



/* freedraw  freedraw  freedraw  freedraw */
/* freedraw  freedraw  freedraw  freedraw */
/* freedraw  freedraw  freedraw  freedraw */


section.map.mode-create {
    cursor: pointer;
}

section.map.mode-edit div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
}

.leaflet-container.leaflet-clickable, .leaflet-container.map-clickable, .leaflet-marker-icon, .leaflet-overlay-pane path.tracer.leaflet-clickable {
    cursor: pointer;
    fill-opacity: 0.7;
    fill: #FF4646;
    stroke: red;
    stroke-opacity: 0.8;
    stroke-width: 1px;
    transition: fill-opacity 0.15s;
}

.leaflet-container.leaflet-clickable, .leaflet-container.map-clickable, .leaflet-marker-icon, .leaflet-overlay-pane path.tracer.leaflet-clickable:hover {
    fill-opacity: 0.3;
}
