#map {
	/*-webkit-transition: -webkit-filter 150ms linear, left 250ms ease, width 250ms ease;*/
	}

.map-blur {
	/*-webkit-filter: grayscale(0.75) blur(3px);*/
	/*opacity: 0.5;*/
	}


.map-blur {
	opacity: 1;
	}

.map-blur:after {
	background: rgba(255,255,255,0.5);	
	}





h3, h4 {
	color: white;
	}

.home-logo {
	opacity: 0.8;
	background-position: -63px -229px !important;
	}

.home-container:hover > .home-logo {
	opacity: 1;
	}	

#menuslider {
	/*background: black;*/
	}		

.dld {
	color: #DADADA;
	}	

#header {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	}	

.home-status {
	opacity: 1;
	}

.home-logo {
	opacity: 0.9;
	}

.header-title {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.95);
	}

.header-subtitle {
	color: white;
	font-weight: 400;
	}

.q-editor-content-item {
	box-shadow: 0 0 5px 0 rgba(255,255,255,0.05);
	}

.q-editor-menu-item a {
	color: #DADADA;
	}

.q-editor-menu-item a:hover {
	color: white;
	}

.client-kill {
	background: rgba(0,0,0,0.5);
	}

.inspector-header,
.legends-opener {
	color: black;
	}	

.editor-inner-wrapper,
.editor-clients-container {
	background-color: rgba(100, 100, 100, 0.65);
	color: white;
	}	

.editor-inner-wrapper:hover,
.editor-clients-container:hover {
	background-color: rgba(120, 120, 120, 0.65) !important;
	}

.project-item {
	background: rgba(0, 0, 0, 0.25);
	}

.item-list, .layer-item, .layers-mapbox-item {
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-weight: 400;
	opacity: 0.8;
	box-shadow: none
	}

.item-list.active, .layer-item.active, .active .layers-mapbox-item {
	color: #333;
	background: rgba(255, 255, 255, 0.75);
	box-shadow: none;
	}

.item-list-header {
	color: white;
	}

.project-users-inner-wrapper:before {
	background-color: #333;
	}

.project-users-inner-wrapper {
	background-color: #333;
	color: #FAFAFA;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	}

.project-info-left,
.project-info-right,
.project-users p {
	color: #999;
	}

.project-users:before {
	background-color: black;
	right: 81px;
	}

.project-delete {
	color: #333 !important;
	}	

.smap-button-white {
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: #DADADA;
	}

.datalibrary-container {
	background-color: rgba(0, 0, 0, 0.5) !important;
	color: #DADADA;
	line-height: 0.45;
	}

.active a, .editor-wrapper a {
	color: cyan !important;
	text-shadow: none;
	}

tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.15);
	}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.075);
	}

.dln {
	font-weight: 200;
	color: white;
	}

.tdcont {
	color: gainsboro;
	}

.tdcont.access:hover {
	background: #1D1D1D;
	}	

.smap-button-gray {
	background: #666;
	color: white;
	font-weight: 500;
	box-shadow: none;
	}	

.smap-button-gray:hover {
	background: #999;
	}	

.backpane-access-container {
	color: white;
	border-top: 10px solid #222;
	}

.access-projects-wrap:nth-child(odd) {
	background: rgba(255, 255, 255, 0.2);
	}

.access-projects-wrap:nth-child(even) {
	background: rgba(255, 255, 255, 0.1);
	}

.documents-folder-delete {
	background: rgba(255,255,255,0.2);
	}

#layer-menu-inner-content,
.legends-inner,
.q-editor-content-item,
.q-editor-menu,
.home-container,
.middle-item:after,
#inspect-control-inner-content,
.description-control-inner-content-box,
.leaflet-container .leaflet-control-search,
.leaflet-control-cartocss,
.leaflet-control-baselayertoggle:after,
.leaflet-draw-section-button,
.leaflet-bar, .leaflet-control-layers,
.leaflet-control-search .search-input,
.leaflet-bar a,
.baselayertoggle-list:before,
.search-tooltip,
.cartocss-toolbar-button:hover,
.cartocss-control-wrapper,
.layer-selector-item-wrap,
#menuslider-arrow:before,
.fullpage-documents .editor-wrapper, 
.data-library .editor-wrapper, 
.fullpage-users .editor-wrapper,
.datalibrary-controls, 
.users-controls,
#datalibrary-download-dialogue,
.backpane-container,
.backpane-access-container,
#layer-menu-header,
.leaflet-control-scale-line,
.leaflet-control-mouseposition,
#layer-menu-inner-content, 
.legends-inner, 
.q-editor-content-item, 
.q-editor-menu, 
.home-container, 
.middle-item:after, 
.menucollapser,
.header-title-wrap,
#inspect-control-inner-content, 
.description-control-inner-content-box,
.legends-opener,
#open-layers,
.home-container,
.home-container {
	background-color: rgba(33, 33, 33, 0.9) !important;
	}

.fullpage-documents .editor-wrapper,
.data-library .editor-wrapper,
.fullpage-users .editor-wrapper {
	background: rgba(33,33,33,0.9)
	}		

.leaflet-control-inspect,
.inspector-header,
.datalibrary-controls-inner {
	background-color: transparent !important;
	}

#layer-menu-inner-content,
.legends-inner,
.q-editor-content-item,
.q-editor-menu,
.home-container,
.middle-item:after,
#inspect-control-inner-content,
.description-control-inner-content-box,
.leaflet-container .leaflet-control-search,
.leaflet-control-cartocss,
.leaflet-control-baselayertoggle:after,
.leaflet-draw-section-button,
.leaflet-bar, .leaflet-control-layers,
.leaflet-control-search .search-input,
.baselayertoggle-list:before,
.search-tooltip,
.cartocss-toolbar-button:hover,
.layer-selector-item-wrap,
#layer-menu-header,
.leaflet-control-scale-line,
.leaflet-control-mouseposition,
#layer-menu-inner-content, 
.legends-inner, 
.q-editor-content-item, 
.q-editor-menu, 
.home-container, 
.middle-item:after, 
.menucollapser,
.header-title-wrap,
#inspect-control-inner-content, 
.description-control-inner-content-box,
.legends-opener,
#open-layers,
.smap-button-white:hover, 
.smap-button-gray:hover, 
.share-image-download-button:hover,
.bounds-zoom-h2,
#map-initpos-inner label,
.tdcont:hover,
.dln:hover,
.home-status,
.leaflet-control-inspect,
.inspector-header,
.project-delete:hover,
.documents-container-textarea h2 {
	color: white !important;
	}

.editor-wrapper,
.client-title,
.client-description,
.project-item,
.project-description,
.project-createdby, 
.project-lastupdated, 
.update-header, 
.project-createddate,
.datalibrary-controls, 
.users-controls,
.datalibrary-container:hover,
.new-project-button:hover,
table,
article,
.documents-container-textarea,
.documents-container-textarea h1,
.documents-container-textarea p,
.documents-folder-delete, 
.documents-folder-item, 
.documents-new-folder,
.documents-new-folder:hover, 
.documents-folder-item:hover  {
	color: white;
	}

.item-list, .layer-item, .layers-mapbox-item {
	background-color: rgba(255,255,255,0.3);
	}



/* CARTO CSS */

.cartocss-layerselector-outer .layer-selector-item-wrap:hover {
	background-color: rgba(66, 66, 66, 0.95) !important;
	}

.layer-selector-item-wrap.vt-selected {
	background-color: rgba(66, 66, 66, 0.95) !important;
	}

.layer-selector-item-wrap.vt-selected:hover {
	background-color: rgba(66, 66, 66, 0.95) !important;
	}

.cartocss-tab-wrapper {
	border: 1px solid black;
	}

.cartocss-tab-legends {
	border-left: 1px solid black;
	}

.cartocss-tab-styling {
	border-right: 1px solid black;
	}

.cartocss-tab {
	color: white;
	font-weight: 500;
	background: #666;
	}

.cartocss-tab:hover {
	background: #444;
	}

.cartocss-active-tab {
	background: #333;
	}	

.cartocss-active-tab:hover {
	background: #444;
	}	

.cartocss-style-header-layer,
.cartocss-update-button,
.cartocss-zoomval {
	background: rgba(255, 255, 255, 0.35);
	color: white;
	}

.cartocss-update-button:hover {
	background: rgba(255, 255, 255, 0.45);
	}

.cartocss-style-header-layer:hover {
	background: rgba(255, 255, 255, 0.45);
	}

.cartocss-tooltip-outer-wrapper,
.cartocss-legends-wrapper {
	background: rgba(255,255,255,0.075);
	border: 1px solid black;
	}

#cartocss-tooltip-custom-header, 
.legends-title,
.tooltip-field-wrapper,
.legend-entry-wrap {
	color: white;
	background: rgba(255,255,255,0.2);
	}

.legend-entry-image {
	border: 1px solid black;
	position: relative;
	}

.legend-entry-image:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	}

.tooltip-field-key {
	background: #333;
	color: white;
	}



/* Switches */

input.cmn-toggle-round-flat + label {
	background-color: #000;
	}

input.cmn-toggle-round-flat + label:after {
	background-color: #999;
	}

input.cmn-toggle-round-flat:checked + label, 
input.cmn-toggle-round-flat:checked + label:after {
	background-color: #333 !important;
	}



/* Little buttons */

.cartocss-toolbar-button {
	background-position: -28px -271px
	}

.cartocss-toolbar-button:hover {
	background-position: 2px -271px;
	}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline:hover {
	background-position: -2px -32px;
	}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon:hover {
	background-position: -31px -32px;
	}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle:hover {
	background-position: -62px -32px;
	}	

.leaflet-draw-toolbar .leaflet-draw-draw-circle:hover {
	background-position: -92px -32px;
	}

.leaflet-draw-toolbar .leaflet-draw-draw-marker:hover {
	background-position: -122px -32px;
	}

.leaflet-draw-draw-note {
	background-position: -272px -2px !important;
	}

.leaflet-draw-draw-note:hover {
	background-position: -272px -32px !important;
	}

.leaflet-control-search .search-tip {
	color: white !important;
	background-color: rgba(33, 33, 33, 0.85);
	}	

.leaflet-control-search .search-button:hover {
	color: white !important;
	background-color: blue !important;
	}

.leaflet-control-search .search-tip-select {
	color: white !important;
	background-color: black;
	}	

.leaflet-control-search .search-tip:hover {
	color: white !important;
	background-color: black;
	}

.cartocss-toolbar-button,
.leaflet-control-baselayertoggle:after,
.leaflet-draw-section-button,
.dropdown-button,
.legends-scroll-left,
.legends-scroll-right,
.cartocss-style-dropdown-arrow {
	background-image: url(images/evil_sprite_inverted.png);
	}

.cartocss-style-dropdown-arrow {
	background-position: -30px 0px;
	}

.leaflet-draw-toolbar a {
	background-image: url(dev_img/leaflet.draw.sprites_inverted.png)
	}

.leaflet-draw-section-button {
	background-position: -99px -106px;
	}

.leaflet-draw-section-button:hover {
	background-position: -144px -106px;
	}

.leaflet-control-search .search-button {
	background: url('../js/src/leaflet.js/plugins/leaflet-search/images/search-icon_inverted.png') no-repeat 2px -22px !important;
	}

.leaflet-control-search .search-button:hover {
	background: url('../js/src/leaflet.js/plugins/leaflet-search/images/search-icon_inverted.png') no-repeat 2px 2px !important;
	}

.leaflet-control-search.search-load .search-input {
	background: url('../js/src/leaflet.js/plugins/leaflet-search/images/loader_inverted.gif') no-repeat center right #fff;
	}

.leaflet-container.dark .map-tooltip .close, 
.leaflet-control-layers-toggle, 
.leaflet-control-zoom-in, 
.leaflet-control-zoom-out, 
.leaflet-popup-close-button, 
.map-tooltip .close, 
.mapbox-icon {
	background-image: url(images/icons-ffffff@2x.png);
	}

.baselayertoggle-item {
	background: #999;
	color: black;

	border-top: 1px solid rgba(33, 33, 33, 0.95);
	border-bottom: 1px solid rgba(33, 33, 33, 0.95);
	}

.baselayertoggle-item.active {
	color: black;	
	}

.baselayertoggle-item:last-child {
	border-bottom: 6px solid rgba(33, 33, 33, 0.95) !important;
	}

.baselayertoggle-item:first-child {
	border-top: 6px solid rgba(33, 33, 33, 0.95) !important;
	}

.baselayertoggle-item {
	border-left: 6px solid rgba(33, 33, 33, 0.95) !important;
	border-right: 6px solid rgba(33, 33, 33, 0.95) !important;
	}	

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	color: transparent !important;
	}	


/* Sidepane stuff */

#map-bounds-inner input, #map-initpos-inner input {
	background-color: rgba(0, 0, 0, 0.25) !important;
	}

.connect-mapbox-title,
.mapbox-accounts,
.mapbox-listed-account {
	color: #999 !important;
	}

.import-mapbox-layers-button {
	background: black !important;
	}	

.description-control-inner-content-box hr, hr {
	border-top: 1px solid white;
	}

.description-editing {
	background-color: rgba(255, 255, 255, 0.11) !important;
	}


/* Grande Adjustments */

.grande-sources-source:hover {
	background: rgb(6, 8, 6);
	}

blockquote {
	border-left: 5px solid #595959;
	}

.dataLibrary-file-popup-list {
	color: black;
	}



/* Share icons */
.share-icon-box.image {
	background-position: -450px -53px;
	}

.share-icon-box.print {
	background-position: -450px -113px;
	}

.share-icon-box.link {
	background-position: -450px -172px;
	}

.layer-menu-item-wrap.menufolder.level-0 {
	background-color: #3E6591 !important;
	}	

.bounds-zoom-half.left {
	box-shadow: 1px 0px 0 0 white;
	}	




.middle-item {
	background-color: #DADADA !important;
	color: black !important;
	}

.middle-item:hover {
	background-color: #FAFAFA !important;
	color: black !important;
	}

.leaflet-control-attribution,
.leaflet-control-attribution a {
	color: white !important;
	}





#editor-client-item-new	h5 {
	color: white;
}