 /* LEFTOVERS FROM KNUT */
 /* LEFTOVERS FROM KNUT */
 /* LEFTOVERS FROM KNUT */

.header-logo.editable:hover {
	cursor: copy;
	opacity: 0.7;
	}

.displayNone {
	display: none;
	}

#editor-map-controls-inner-wrap {
	overflow: hidden;
	height: 0px;
	-webkit-transition: height 250ms ease;
	-moz-transition: height 250ms ease;
	-o-transition: height 250ms ease;
	transition: height 250ms ease;
	}

.import-mapbox-layers-button {
	background: #DADADA;
	color: #666;
	height: 33px;
	width: 75px;
	border-radius: 0;
	padding: 0;
	vertical-align: top;
	margin: 0px;
	padding-top: 5px;
	font-size: 110%;
	}

.connect-mapbox-title {
	font-size: 130%;
	position: relative;
	text-align: left;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-left: 13px;
	}

.connect-outer {
	overflow: hidden;
	height: 0px;
	-webkit-transition: height 250ms ease;
	-moz-transition: height 250ms ease;
	-o-transition: height 250ms ease;
	transition: height 250ms ease;
	}

/*// FRA CSS FIL SOM IKKE ER SCSS*/
.range-bar{background-color:#a9acb1;border-radius:15px;display:block;height:4px;position:relative;width:100%}.range-quantity{background-color:#017afd;border-radius:15px;display:block;height:100%;width:0}.range-handle{background-color:#fff;border-radius:100%;cursor:move;height:30px;left:0;top:-13px;position:absolute;width:30px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.4);box-shadow:0 1px 3px rgba(0,0,0,.4)}.range-min,.range-max{color:#181819;font-size:12px;height:20px;padding-top:4px;position:absolute;text-align:center;top:-9px;width:24px}.range-min{left:-30px}.range-max{right:-30px}.vertical{height:100%;width:4px}.vertical .range-quantity{bottom:0;height:0;position:absolute;width:100%}.vertical .range-handle{bottom:0;left:-13px;top:auto}.vertical .range-min,.vertical .range-max{left:-10px;right:auto;top:auto}.vertical .range-min{bottom:-30px}.vertical .range-max{top:-30px}.unselectable{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.range-disabled{cursor:default}

.edit-baselayer {
	position: absolute;
	height: 100%;
	width: 35px;
	background: cyan;
	right: 0;
	top: 0;
	display: none;
	}

.item-list:hover .edit-baselayer {
	display: block;
	}

.edit-baselayer:hover {
	background: yellow;
	}

.baselayer-range-slider-zindex {
	display: none;
	}

.baselayer-range-slider-opacity {
	display: none;
	}

.powerange-opacity {
	top: 30px;
	}

.powerange-zindex {
	top: 60px;
	}

.range-handle {
	height: 15px;
	width: 15px;
	top: -6px;
	}

.range-bar {
	width: 67%;
	left: 22px;
	}

.label-range-opacity {
	position: absolute;
	top: 10px;
	}

.label-range-zindex {
	position: absolute;
	top: 30px;
	}

.map-layermenu-outer {
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 250ms ease;
	-moz-transition: height 250ms ease;
	-o-transition: height 250ms ease;
	transition: height 250ms ease;
	}

.item-list:hover .edit-layermenu-layer {
	display: block;
	}

.edit-layermenu-layer:hover {
	background: yellow;
	}

.edit-layermenu-layer {
	position: absolute;
	height: 100%;
	width: 35px;
	background: cyan;
	right: 0;
	top: 0;
	display: none;
	}

.layermenu-range-slider-zindex {
	display: none;
	}

.layermenu-range-slider-opacity {
	display: none;
	}

.leaflet-popup-content-wrapper {
	background: rgba(0, 0, 0, 0.64);
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	color: white;
	font-family: Helvetica Neue;
	font-size: 120%;
	font-weight: 400;
	}

.leaflet-popup-tip {
	background: rgba(0, 0, 0, 0.64);
	}

.project-edit {
	background-color: rgba(255,255,255,0.4);
	width: 165px;
	padding: 0px ;
	}

.legends-item {
	overflow: hidden;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-top: 0px;
	border-right: 1px dashed #C8C8C8;
	max-width: 300px;
	margin-top: 7px;
	font-family: helvetica neue !important;
	}

.legends-item img {
	max-height: 50px;
	}	

.legend-title {
	font-weight: 900;
	}	

.legend-scale ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	}

.legend-scale ul li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-right: 10px;
	}

.legend-scale ul li span {
	width: 20px;
	height: 10px;
	box-shadow: 0 0 0 1px gray inset;
	position: relative;
	display: inline-block;
	margin-right: 5px;
	}

.legend-scale ul li a {
	line-height: 0.8;
	}	

#legends-inner-slider {
	position: relative;
	left: 0px;
	/*-webkit-transition: left 500ms ease;*/
	}

.legends-inner-slider-sliding {
	-webkit-transition: left 500ms ease;
	-moz-transition: left 500ms ease;
	transition: left 500ms ease;

}	

#description-control-inner-content-box {
	background: rgba(255, 255, 255, 0.93);
	width: 320px;
	height: 100%;
	font-size: 100%;
	text-align: left;
	padding: 15px;
	padding-top: 1px;
	color: black;
	font-weight: 500;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 500px; // OBS! Event listener for this
	}

#description-control-inner-content-box a {
	font-weight: 900;
	}	

#description-control-inner-content-box h1 {	
	font-size: 25px;
	margin: 10px 0px 10px 0px;
	}

#description-control-inner-content-box h2 {	
	font-size: 16px;
	margin: 15px 0px 5px 0px;
	}

#description-control-inner-content-box hr {
	border-top: 1px solid black;
	}

.description-editing { 
	background-color: rgba(132, 236, 255, 0.93) !important
	}

.users-table-project-item {
	border: 1px solid yellow;
	}

.users-table-project-item:hover {
	background: yellow;
	color: white;
	}

.gotAccess {
	background-color: #33BB33;
	}


#editor-map-bounds-NE,
#editor-map-bounds-SW {
	margin-top: 10px;
	}

#editor-map-bounds-NE:before,
#editor-map-bounds-SW:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0px;
	top: -10px;
	left: 0;
	border-top: 1px dotted rgba(255,255,255,0.2);
	}

#editor-map-bounds-NE,
#editor-map-bounds-SW,
#editor-map-initpos-button {
	width: 100%;
	}



/* MY STYLE */
/* MY STYLE */
/* MY STYLE */

.editor-scroll-wrapper {
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
	position: relative;
	width: 110%;
	}

.project-kill, .client-kill {
	bottom: 5px;
	right: 5px;
	position: absolute;
	background: rgba(0,0,0,0.2);
	padding: 1px 5px 2px 5px;
	display: none;
	font-weight: 900;
	border-radius: 1px;
	text-shadow: -1px 1px rgba(0, 0, 0, 0.5);
	font-size: 10px;	
	color: white;
	}	

.project-kill:hover,
.client-kill:hover {
	background: #C80000;
	}


.backpane-container {
	width: 100%;
	height: 100%;
	background: #3f4652;
	position: absolute;
	z-index: 5000;
	top: 0;
	left: 0;
	color: white;
	}

.backpane-wrapper {
	margin: 0 auto;
	width: 350px;
	display: inline-block;
	vertical-align: middle;
	height: 50%;
	top: 25%;
	position: absolute;
	left: 25%;
	}

.backpane-title {
	font-size: 300%;
	font-weight: 900;
	text-shadow: -1px 1px 1px black;
	}

.backpane-subtitle {
	font-size: 150%;
	margin: 0px 0px 10px 0px;
	margin-left: 0;
	font-style: italic;
	font-weight: 200;
	}

.backpane-projectTitle {
	margin-top: 20px;
	margin-bottom: 5px;
	font-style: italic;
	text-indent: 1px;
	font-weight: 900;
	text-shadow: 0px 1px 1px black;
	}	

.backpane-confirm {
	margin: 5px;
	margin-left: 0px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 20px;
	line-height: 0;
	margin-top: 15px;
	}

.backpane-cancel {
	margin: 5px;
	margin-left: 0px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 20px;
	line-height: 0;
	margin-top: 15px;
	}

.backpane-input {
	margin: 0px;
	border: none;
	padding: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Open Sans';
	font-weight: 200;
	color: black;
	background: white;
	font-size: 120%;
	padding-left: 11px;
	width: 171px;
	text-align: left;
	position: relative;
	margin-right: 100%;
	margin-top: 5px;
	width: 310px;
	}

.backpane-message {
	padding: 5px;
	padding-left: 0px;
	font-size: 110%;
	margin-top: 25px;
	/*margin-bottom: 75px;*/
	}

.valid {
	background: rgb(108, 255, 135);
	}

.invalid {
	background: rgb(255, 108, 108);
	}	

.backpane-access-container {
	height: 100%;
	z-index: 5000;
	left: 0;
	top: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: rgba(255,255,255,0.97);
	color: #666;
	border-top: 10px solid white;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	width: auto;
	position: absolute;
	right: 110px;
	}

.backpane-access-wrapper {
	margin: 0 auto;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	height: auto;
	top: 50px;
	position: relative;
	left: 0px;
	}

.backpane-projects-wrap {
	width: 100%;
	padding-right: 0px;
	}

.backpane-admin-box.red,
.backpane-superadmin-box.red {
	display: none;
	}

.backpane-admin-box.green, .backpane-superadmin-box.green {
	background: #C80000;
	position: absolute;
	padding: 5px;
	font-weight: 900;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	text-transform: uppercase;
	top: -35px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
	left: 396px;
	z-index: 500;	
	color: white;
	}

.backpane-admin-box.green:before,
.backpane-superadmin-box.green:before {
	content: '';
	width: 20px;
	height: 20px;
	background-color: #C80000;
	position: absolute;
	top: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 18px;
	z-index: -1;
	}	

.access-projects-wrap {
	position: relative;
	height: 65px;
	margin-bottom: 1px;
	padding: 7px 0px 0px 10px;
	}	

.access-projects-wrap:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
	}

.access-projects-wrap:nth-child(even) {
	background: rgba(0, 0, 0, 0.1);
	}

.backpane-projectTitle {
	text-shadow: none;
	}

.backpane-message {
	margin-bottom: 175px;
	}

.access-projects-details-wrap {
	left: 0px;
	top: 0;
	padding-right: 270px;
	height: 40px;	
	}

.access-projects-read,
.access-projects-write,
.access-projects-manage {
	height: 40px;
	position: absolute;
	top: 13px;
	background: #fe5757;
	color: white;
	width: 75px;
	padding: 5px;
	font-size: 110%;
	text-align: center;
	cursor: pointer;
	float: right;
	font-weight: 900;
	line-height: 1.8;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.4);
	}

.access-projects-read:active,
.access-projects-write:active,
.access-projects-manage:active {
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.0);
	}

.access-projects-read:hover,
.access-projects-write:hover,
.access-projects-manage:hover {
	background: rgb(0, 225, 255);
	}

.access-projects-read {
	border-radius: 3px 0 0 3px;
	right: 162px;
	}

.access-projects-write {
	right: 86px;
	}

.access-projects-manage {
	border-radius: 0 3px 3px 0;
	right: 10px;
	}

.access-projects-title {
	font-size: 130%;
	font-weight: 600;
	}

.access-projects-description {
	font-size: 100%;
	font-style: italic;
	}

.map-blur {
	-webkit-filter: blur(3px) brightness(0.5) grayscale(0.5);
	/*-moz-filter: blur(3px) brightness(0.5) grayscale(0.5);*/
	/*filter: blur(3px) brightness(0.5) grayscale(0.5);*/
	filter: url(filter.svg#svg-map-filter);
	opacity: 1;
	}

.leaflet-styleeditor-mouseTooltip {
	z-index: 600;
	position: absolute;
	padding: 10px;
	height: auto;
	background: red;
	}

.leaflet-control-baselayertoggle {
	height: 26px !important;
	width: 26px !important;
	background-image: url('');
	background-position: 4px 4px;
	background-repeat: no-repeat;
	display: block;
	padding: 3px;
	-moz-border-radius: 4px;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: #FFFFFF;
	background-image: url('evil_sprite.png');
	background-repeat: no-repeat;
	background-position: -99px -75px;
	}

.baselayertoggle-item {
	width: 150px;
	background: white;
	height: 25px;
	font-size: 120%;
	text-align: left;
	padding-left: 5px;
	cursor: pointer;
	padding: 13px 6px 13px 6px;
	line-height: 0;
	border-left: 6px solid white;
	border-right: 6px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.3);
	background-color: #FAFAFA;
	}

.baselayertoggle-item:first-child {
	border-top: 6px solid white;
	}

.baselayertoggle-item:last-child {
	border-bottom: 6px solid white;
	}

.baselayertoggle-item:hover {
	background: #DADADA;
	}

.baselayertoggle-item.active {
	background: cadetblue;
	color: white;
	}

.baselayertoggle-list {
	position: relative;
	left: 21px;
	top: -18px;
	position: relative;
	padding: 10px;
	width: 170px;	
	border-radius: 2px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

.baselayertoggle-list:before {
	content: '';
	background-color: white;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 20px;
	left: 8px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
	}

.collapsed {
	visibility: hidden;
	}

.expand {
	display: block !important;
	}


.client-logo.editable:hover {
	border: 1px solid yellow;
	cursor: copy;
	}

.project-logo.editable:hover {
	border: 1px solid yellow;
	cursor: copy;
	}

.dz-preview {
	display: none;
	}

.mapbox-listed-account {
	top: 10px;
	color: white;
	padding: 4px;
	font-size: 110%;
	height: 30px;
	position: relative;
	}

.mapbox-listed-account-title {
	text-indent: 20px;	
	position: absolute;
	left: 0;
	}

.mapbox-listed-account-title:before {
	content: '•';
	position: absolute;
	left: -18px;
	color: white;
	font-size: 36px;
	top: 11px;
	line-height: 0;
	}	

.mapbox-listed-account-kill {
	position: absolute;
	right: 0;
	color: red;
	font-weight: 900;
	}

#editor-map-bounds-set-maxZoom {
	width: 60px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}

#editor-map-bounds-max-zoom-value {
	width: 195px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}

#editor-map-bounds-set-minZoom {
	width: 60px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}

#editor-map-bounds-min-zoom-value {
	width: 195px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	}

#documents-container-textarea h2 {
	color: red;
	font-size: 200%;
	}

#documents-container-textarea h1 {
	font-size: 300%;
	}

#documents-container-textarea p {
	font-size: 120%;
	color: yellow;
	}

.home-container {
	width: 90px;
	height: 80px;
	left: 2px;
	}

.home-logo {
	background: none;
	background-image: url("evil_sprite.png") !important;
	background-repeat: no-repeat !important;
	cursor: pointer;
	height: 50px;
	width: 100%;
	background-position: -180px -229px !important;
	opacity: 0.5;
	}

.home-container:hover > .home-logo {
	opacity: 0.7;
}	

.home-status {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0px;
	text-align: center;
	font-weight: 500;
	font-size: 110%;
	cursor: pointer;
	color: black;
	opacity: 0.8;
	}

.leaflet-control-layermenu {
	max-height: 100%;
	position: relative;
	height: 100%;
	box-shadow: none !important;
	position: relative;
	float: none !important;	
	}

.home-container {
	background-color: rgba(255, 255, 255, 0.9) !important;
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.3) !important; // Override Knut
	z-index: 999;
	position: relative;
	}

.client-description {
	font-size: 12px;
	text-indent: 4px;
	color: #666;
	}

.leaflet-right .leaflet-control {
	margin-bottom: 2px !important;
	/*float: right;*/
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 10px;
	float: none;
	}

#editor-map-bounds-max-zoom-value,
#editor-map-bounds-min-zoom-value {
	width: 145px;
	}

.project-description {
	top: 34px;
	color: #333;
	text-shadow: none;
	border-top: 1px dotted rgba(0, 0, 0, 0.5);
	/*padding-top: 4px;*/
	position: absolute;
	left: 10px;
	height: 50px;
	overflow: hidden;
	width: 189px;
	background: rgba(255, 255, 255, 0);
	font-size: 12px;
	padding: 0px;
	font-weight: 500;
	line-height: 1.2;
	padding-top: 6px;
	padding-right: 73px;
	}

.project-createdby,
.project-lastupdated,
.update-header,
.project-createddate {
	color: #333;
	}

.update-header {
	font-style: italic;
	}		

.project-createddate {
	position: absolute;
	bottom: 9px;
	font-size: 10px;
	right: 4px;
	width: 75px;
	line-height: 0.9;
	}

.project-lastupdated {
	color: #666;
	width: 75px;
	font-size: 10px;
	position: absolute;
	height: 11px;
	overflow: hidden;
	left: 11px;
	top: 33px;
	line-height: 1;
	}	

.project-createdby 	{
	color: rgba(255, 255, 255, 0.75);
	position: absolute;
	bottom: 13px;
	font-size: 10px;
	right: 4px;
	width: 75px;
	line-height: 1.1;
	height: 36px;
	overflow: hidden;
	}	

.project-users {
	display: none;
	width: 200px;
	background: white;
	color: black;
	right: -76px;
	position: absolute;
	top: 26px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 black;
	}

.project-users:before {
	content: '';
	width: 15px;
	height: 15px;
	background-color: white;
	position: absolute;
	top: -4px;
	right: 57px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.project-users p {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	border-bottom: 1px dotted rgba(0,0,0,0.2);
	}

.project-users p:first-child {
	border-top: 1px dotted rgba(0,0,0,0.2);	
	}

.project-users-wrap {
	height: 20px;
	width: 23px;
	background-position: 52px -202px;
	z-index: 100000;
	position: absolute;
	background-image: url(evil_sprite.png);
	background-repeat: no-repeat;
	top: 30px;
	right: 81px;
	opacity: 0.3;	
	}

.project-users-wrap:hover {
	opacity: 1;
	}	

.project-kill {
	color: white;
	background: rgba(0, 0, 0, 0.2);
	padding: 1px 5px 2px 5px;
	bottom: 87px;
	right: 83px;
	}

.new-project-button {
	font-size: 359%;
	height: 42px;
	width: 42px;
	margin: 0;
	margin-bottom: 10px;
	padding: 2px 12px 2px 5px;
	border: 0px;
	border-radius: 0;
	line-height: 0.55;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Open Sans';
	font-weight: 200;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, 0.15);
	right: 0px;
	bottom: -5px;	
	color: #666;
	}

.new-project-button:hover {
	background: rgba(0, 0, 0, 0.3);
	}

#description-toggle-button {
	border-radius: 0;
	background-position: -27px -43px;
	right: 4px;
	position: absolute;
	top: 4px;
	cursor: pointer;
	background-color: transparent;	
	}

.description-scroller {
	width: 258px;
	padding-bottom: 10px;
	margin-top: 10px;
	}	

.project-lastupdated {
	height: auto;
	}

article {
	color: #333;
	margin-top: 20px;
	}

#documents-container-textarea h1 {
	font-size: 200%;
	}

#documents-container-textarea h2 {
	color: #333;
	font-size: 120%;
	}

#documents-container-textarea p {
	font-size: 14px;
	color: #333;
	font-weight: 400;
	}

hr {
border-top: 1px solid #333;
	}

#layer-menu-header {
	margin-top: 2px !important;
	}

.legends-padding-right {
	padding-right: 300px !important;
	}





.leaflet-draw-section-button {
	width: 26px;
	height: 26px;
	background-color: white;
	margin-bottom: 3px;	
	background-image: url('evil_sprite.png');
	background-repeat: no-repeat;
	background-position: -99px -106px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	cursor: pointer;
	}	

.leaflet-draw-section:first-child {
	margin-top: 6px;
	}	

.leaflet-draw-section-wrapper {
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 250ms ease;	
	-moz-transition: height 250ms ease;	
	transition: height 250ms ease;	
	padding: 3px;
	position: relative;
	left: -3px;
	overflow: hidden;

	}

.draw-expander {
	height: 270px;
}

.open-drawer {
	-webkit-filter: invert(75%);
}