.enable-edit-switch-container-outer {
	width: 266px;
	padding: 0px 15px 0px 5px;
	position: relative;	
	}

.enable-edit-switch-container-inner {
	background: #FCFCFC;

  	padding: 6px;
	}

.enable-edit-switch-title {
	padding-left: 9px;
	font-size: 15px;
	font-weight: 900;	
	}

.edit-layers-switch {
	right: 25px;
	top: 9px;	
	}

.layers-bottom-container {
	position: relative;
	left: 1px;
	top: 1px;
	}

.edit-mode .scroller-frame {
	padding-top: 35px;
	}

.chrome-button.settings {
	background-position: -6px -3px;
	}

.chrome-button.settingsSelector {
  	background-position: -160px -4px;	
	}	



.settings-dropdown {
	width: 225px;
	height: auto !important;
	position: absolute;
	background: white;
	right: 3px;
	padding: 13px 20px 13px 19px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	z-index: 10000010;
	cursor: pointer;
	top: 38px !important;  	
	}

.settings-dropdown .chrome-content-section-wrapper:last-child {
	margin-bottom: 0;
	}

.settings-dropdown .chrome-metafield-line {
 	border-top: 1px solid #ccc;
 	padding-top: 3px;
 	padding-bottom: 3px;
	}

.settings-dropdown .chrome-metafield-line:last-child {
	border-bottom: 1px solid #ccc;;
	}


.settings-dropdown .chrome-switch-container {
	top: 5px;

	}





.file-meta-content {
	font-size: 11px;
	font-weight: 600;
	color: #aaa !important;
	margin-bottom: 2px;
	}

.file-meta-author {
	/*font-size: 11px;*/
	/*font-weight: 600;*/
	color: #3C4759;	
	margin-right: 4px;
	}

.file-meta-date {
	/*font-size: 11px;*/
	/*font-weight: 600;*/
	/*color: #5a9b87;	*/
	}


.file-meta-size {
	/*font-size: 11px;*/
	/*font-weight: 600;*/
	/*color: #5a9b87;	*/
	/*font-style: italic;*/
	}




.data-list-line {
	padding-top: 7px;
	padding-bottom: 7px;
	}






.chrome.chrome-content.chrome-pane {
	width: 402px;
}

.chrome-middle-section {
	width: 402px;
}

.chrome-middle-section-outer-scroller {
	width: 387px;
}

.chrome-middle-section-inner-scroller {
	width: 402px;
}

.chrome-field-wrapper {
	width: 402px;
}






/*
.chrome-top {
	border-bottom: 1px solid #ccc;
	}

.chrome-right {
	border-top: none !important;
	}

.chrome-left {
	border-right: 1px solid #ccc;
	}

.chrome-left-new-button {
  	line-height: 11px !important;
	}

.chrome-left-container {
	margin-top: 0px !important;
	}

.chrome-project.active-project {
	background: rgb(113, 196, 168) !important;
	color: white !important;
	font-weight: 900 !important;
	}

.data-list-line {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	}

.smooth-input {
	font-family: Helvetica Neue, helvetica, arial, open sans !important;
	}

.layer-radio {
  	top: 4px !important;
	}	

.chrome-left-container.contacts {
	margin-top: 20px !important;
	}

.chrome-metafield-line-children .chrome-metafield-line {
	border-top: none !important;
	}	

.chrome-metafield-line {
	padding-top: 2px !important;
	padding-bottom: 2px !important;	
	}

.fa-arrow-circle-right:before {
	opacity: 0.2 !important;
}	
*/