@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600,600italic,700italic);

body {
	font-family: 'Open Sans', serif;
}

.chrome-project-title {
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.81);
    background: rgba(255, 255, 255, 0.72);
    border-radius: 4px;
    padding-left: 4px;
    font-weight: 600;
    padding-right: 4px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(255, 255, 255, 0.92);
    background: rgba(0, 0, 0, 0.27);
}

.chrome-top {
	background: none;
}

.chrome-portal-logo {
	display: none;
}

.chrome-button {
    background-image: url(images/systemapic-sprite-white.png);
    opacity: 0.9;
}
.chrome-menu-button {
    border-right: none;
}
.chrome-menu-button:before {
    content: '';
    background-image: url(images/filled-circle.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-size: 40px 40px;
    padding: 5px;
    margin: 5px;
}

.chrome-menu-button.active:before { 
    background-image: url(images/filled-sideways.png);
    background-size: 214px 42px;
    width: 224px;
    top: -1px;
}
.chrome-right {
    padding-top: 35px;
    top: 0px;
}
.chrome-top  {
    z-index: 100000004;
}
.inverted {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.leaflet-top.leaflet-left {
    margin-top: 50px;
}

.active-project  {
    font-weight: 700;
    background: #428bca;
    color: white;
}
.active-project:hover {
    background: rgba(66, 139, 202, 0.87);
}













