/*dropzone*/
.dropzone-meta {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10001;
	background-color: rgba(0, 0, 0, 0.69);
	border: none !important;
}

.drop-meta-title {
	font-size: 700%;
	position: relative;
	color: white;
	margin: auto;
	width: 400px;
	padding-top: 200px;
	left: -50px;
}

/*opacity shortcut*/
.opacityNone {
	opacity: 0;
}





/*layermenu logic check*/
.invalidLayermenuitem .layer-menu-item {
	background: red;
}

/*inactive new project button*/
.inactive {
	color: #333;
}
body {
	background: rgba(8, 18, 30, 1);
}
#map {
	background: rgba(8, 18, 30, 0.9);
}
#map:before {
	opacity: 0.1;
}



/*dragging inspector*/
.dragging {
	background: red;
}


/*tooltip smaller title*/
.tooltip-title-small {
	font-size: 100%;
	border: none;
	font-weight: 600;
}


/*startpane spinning map (after login)*/


/* Spinning class get added to map to start rotating it */

/* Spinning Clockwise */
@keyframes spin {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(90deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }
	}
@-webkit-keyframes spin {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(90deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }	
	}

.spinning {
	-webkit-animation: spin 500s;
	animation: spin 500s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}


/* Spinning Clockwise, starting at 90 */
@keyframes spin90 {
	0% { transform: rotate(90deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(270deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
	}
@-webkit-keyframes spin90 {
	0% { transform: rotate(90deg); }
	25% { transform: rotate(180deg); }
	50% { transform: rotate(270deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
	}

.spinning90 {
	-webkit-animation: spin90 500s;
	animation: spin90 500s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}


/* Spinning Clockwise, starting at 270 */
@keyframes spin270 {
	0% { transform: rotate(270deg); }
	25% { transform: rotate(360deg); }
	50% { transform: rotate(90deg); }
	75% { transform: rotate(180deg); }
	100% { transform: rotate(270deg); }
	}
@-webkit-keyframes spin270 {
	0% { transform: rotate(270deg); }
	25% { transform: rotate(360deg); }
	50% { transform: rotate(90deg); }
	75% { transform: rotate(180deg); }
	100% { transform: rotate(270deg); }
	}

.spinning270 {
	-webkit-animation: spin270 500s;
	animation: spin270 500s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}

/* Spinning counter clockwise */
@keyframes spinrev {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-90deg); }
	50% { transform: rotate(-180deg); }
	75% { transform: rotate(-270deg); }
	100% { transform: rotate(-360deg); }
	}
@-webkit-keyframes spinrev {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-90deg); }
	50% { transform: rotate(-180deg); }
	75% { transform: rotate(-270deg); }
	100% { transform: rotate(-360deg); }
	}

.spinning-reversed {
	-webkit-animation: spinrev 500s;
	animation: spinrev 500s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}	

/* Spinning counter clockwise, starting at 90 */
@keyframes spinrev90 {
	0% { transform: rotate(-90deg); }
	25% { transform: rotate(-180deg); }
	50% { transform: rotate(-270deg); }
	75% { transform: rotate(-360deg); }
	100% { transform: rotate(-0deg); }
	}
@-webkit-keyframes spinrev90 {
	0% { transform: rotate(-90deg); }
	25% { transform: rotate(-180deg); }
	50% { transform: rotate(-270deg); }
	75% { transform: rotate(-360deg); }
	100% { transform: rotate(-0deg); }
	}

.spinning-reversed90 {
	-webkit-animation: spinrev90 500s;
	animation: spinrev90 500s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}

/* Spinning Clockwise, starting at 270 */
@keyframes spinrev270 {
	0% { transform: rotate(-270deg); }
	25% { transform: rotate(-360deg); }
	50% { transform: rotate(-90deg); }
	75% { transform: rotate(-180deg); }
	100% { transform: rotate(-270deg); }
	}
@-webkit-keyframes spinrev270 {
	0% { transform: rotate(-270deg); }
	25% { transform: rotate(-360deg); }
	50% { transform: rotate(-90deg); }
	75% { transform: rotate(-180deg); }
	100% { transform: rotate(-270deg); }
	}

.spinning-reversed270 {
	-webkit-animation: spinrev270 500s;
	animation: spinrev270 500s;
    	-webkit-animation-timing-function: linear;
    	animation-timing-function: linear;    	
    	-webkit-animation-iteration-count:infinite;
    	animation-iteration-count:infinite;
	}


.invalid {
	background: red !important;
	color: white;
	border: 1px solid red;
}



/*OPEN STREET MAP ADDITIONS*/
.connect-title {
	font-size: 14px;
	position: relative;
	text-align: left;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 0px;
	font-weight: 600 !important;
	color: #666;
	text-transform: uppercase;
}

/*.osm-add-box {
	width: 100%;
	top: 6px;
}
*/
/*.osm-add-box:hover {
	background: rgba(152, 152, 152, 0.8);
}*/



/* LAYER NENU */


/* Buttons */
.layer-menu-item-wrap {
	background-color: #a8aab3 !important;
	color: #000;
	}

/* Menufolder */
.menufolder {
	background-color: #3C4759 !important; 
	color: white !important;
	}


/* Button active */
.layer-active {  
	background-color: #cfd0d2 !important;
	color: #000 !important;
	}



/*manage access info box*/
.manage-access-info {
	left: 451px;
	position: absolute;
	top: 54px;
}



/*LIGHTER DESIGN EXPERIMENT #1*/

.header-title-wrap {
	width: auto;
}
/*.header-title-wrap {
	width: auto;
	background: rgba(0,0,0, 0.36);
	border-radius: 3px;
}
.header-title {
	color: white;
	font-weight: 400;
}
.header-subtitle {
	color: white;
	font-weight: 500;
}


.home-container {
	background: rgba(0,0,0, 0.36);
}
.home-logo {
	background-position: -64px -229px;
	opacity: 0.9;
}
.home-status {
	color: white;
}

.q-editor-menu {
	background: rgba(0, 0, 0, 0.36);
}
#menuslider {
	rgba(0, 0, 0, 0.16);
}
.q-editor-menu a {
	color: white;
}
.active a {
	background: rgb(167, 219, 249) !important;
}


*/






/*dont remove*/
.displayNone {
	display: none;
}



