/*
██╗   ██╗███╗   ██╗██╗██╗   ██╗███████╗██████╗ ███████╗ █████╗ ██╗     
██║   ██║████╗  ██║██║██║   ██║██╔════╝██╔══██╗██╔════╝██╔══██╗██║     
██║   ██║██╔██╗ ██║██║██║   ██║█████╗  ██████╔╝███████╗███████║██║     
██║   ██║██║╚██╗██║██║╚██╗ ██╔╝██╔══╝  ██╔══██╗╚════██║██╔══██║██║     
╚██████╔╝██║ ╚████║██║ ╚████╔╝ ███████╗██║  ██║███████║██║  ██║███████╗
 ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝
*/                                                                       

.startpane-circle-container {
	display: none !important;
	}

.spinning-wrapper {
	width: 100%;
	position: relative;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

#spinning-content {
	padding: 20px;
	padding-bottom: 34px;
	top: 0;
	height: 100%;
	}


.col-sm-6.col-sm-offset-3 {	
	min-width: 0 !important;
	max-width: none !important;
	width: auto !important;
	top: 0 !important;
	height: 100%;
	}

.col-sm-6.col-sm-offset-3 h1 {
	margin: 0;
	padding: 0;
	}	

#hitme {
	width: 100%;
	padding-right: 20px;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;	
	}

#login-button {		
	border-radius: 2px;
	color: #666;	
	}

#forgot-password {
	font-size: 90%;
	text-indent: 20px;
	position: relative;
	bottom: 0;
	padding: 0;
	margin: 0;
	top: 8px;	
	}	

.form-control {
	padding: 10px;
	margin-bottom: 7px;
	}

#powered-by {
	position: absolute;
	bottom: -22px;
	font-size: 90%;
	}

/*
██████╗  ██████╗ ██████╗ ████████╗██████╗  █████╗ ██╗████████╗
██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝██╔══██╗██╔══██╗██║╚══██╔══╝
██████╔╝██║   ██║██████╔╝   ██║   ██████╔╝███████║██║   ██║   
██╔═══╝ ██║   ██║██╔══██╗   ██║   ██╔══██╗██╔══██║██║   ██║   
██║     ╚██████╔╝██║  ██║   ██║   ██║  ██║██║  ██║██║   ██║   
╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝   ╚═╝
*/

@media all and (orientation: portrait) {


	.col-sm-6.col-sm-offset-3 {	
		padding-top: 75%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 10%;	
		}

	.col-sm-6.col-sm-offset-3 h1 {
		font-size: 170% !important;
		margin-bottom: 15px;
		}

	#login-button {
		padding: 6px 20px 8px;
		font-size: 110%;
		}

	.form-control {
		font-size: 120%;	
		}	

	#login-logo {
		width: 90%;
		height: 100%;
		top: 3%;
		left: 5%;
		background-size: contain;
		}

}


/*
██╗      █████╗ ███╗   ██╗██████╗ ███████╗ ██████╗ █████╗ ██████╗ ███████╗
██║     ██╔══██╗████╗  ██║██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝
██║     ███████║██╔██╗ ██║██║  ██║███████╗██║     ███████║██████╔╝█████╗  
██║     ██╔══██║██║╚██╗██║██║  ██║╚════██║██║     ██╔══██║██╔═══╝ ██╔══╝  
███████╗██║  ██║██║ ╚████║██████╔╝███████║╚██████╗██║  ██║██║     ███████╗
╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚══════╝
*/


@media all and (orientation: landscape) {

	#login-wrapper {
		position: relative;
		top: 0;
		width: 100%;
		height: 100%;
		}

	#login-inner-wrapper {
		position: relative;
		margin: auto;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0;
		right: 0;
		bottom: 0;
		}	

	.col-sm-6.col-sm-offset-3 {	
		padding-top: 0;
		padding-left: 49%;
		padding-right: 6%;
		}

	.col-sm-6.col-sm-offset-3 h1 {
		font-size: 150% !important;
		margin-bottom: 10px;
		}

	#login-button {
		padding: 4px 15px 6px;
		font-size: 100%;
		}		

	.form-control {
		font-size: 100%;
		}	

	#login-logo {
		width: 40%;
		height: 60%;
		top: 20%;
		left: 4%;
		background-size: contain;
		background-position: center;
		}

}