@font-face {
    font-family: 'Helvetica neue';
    src: url(phantomfont/Open_Sans/OpenSans-Light.ttf);
}

.leaflet-top.leaflet-left,
.leaflet-control-layermenu.leaflet-control,
#legends-collapser,
#start-pane{

}

.cartocss-toolbar-button{
	display: none !important;
	opacity: 0 !important;
}

