
/* systemapic.com */
/* original rules */

:focus { 
	outline: none !important; 
	border: 0 !important 
	}
	
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ebeced;
	color: $ecolor2;
	line-height: 1.4;
	font-family: $font;
	font-size: 14px;
	text-align: left;
	}
	
#app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 400px;
/* 	top: 120px; */
	height: 100%;
	}

.q-editor-container {
	position: absolute;
	height: 100%;
	width: 400px;
	background-color: $ecolor2;
	}

.q-editor-menu {
	width: 100px;
	height: 100%;
	background-color: $ecolor1;
	margin: 0;
	padding: 0;
	position: absolute;
	}

.q-editor-menu-item {
	text-align: center;
	height: 70px;
	position: relative;
	cursor: pointer;
	z-index: 200;
	}

.q-editor-menu-item a {
	width: 100%;
	font-size: 90%;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	bottom: 0px;
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	line-height: 5;
	text-decoration: none;
	}

.q-editor-menu .active {

	}


#menuslider {
	width: 100px;
	height: 70px;
	background-color: $ecolor2 !important;
	top: 0px;
	position: absolute;	
	border-right: 1px dashed rgba(255,255,255,0.1);
	}


.active a {
	color: rgb(0,255,255) !important;
	}

.red {
	}

.red a {
	color: rgb(0,255,255) !important;
	}

.green {
	background-color: green;
	}

.q-editor-content-item {
	position: absolute;
	width: 300px;
	height: 100%;
	left: 100px;
	display: none;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 1;
	top: 0;
	}

.margined {
	}

.eightyWidth {
	background: rgba(0,0,0,0.3) !important;
	color: white !important;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	padding: 6px !important;
	height: 30px !important;
	margin-bottom: 10px !important;
	margin-top: 0 !important;
	}

label {
	margin-bottom: 0px !important;
	}


.editor-client-edit-wrapper label:nth-child(1) {
	margin-top: 10px;
	}

.large-label {
	margin-bottom: 10px !important;
	font-size: 20px !important;
	}

#editor-map-baseurl {
	text-align: center;
	}


.content-title {
	color: white;
	font-size: 20px;
	margin: 10px;
	}

h3, h4 {
	color: white;
	}






/* editor */
#editor {
	position: absolute;
	width: 300px;
	background: $ecolor2;
	height: 100%;
	}

#editor-clients,
.project-inner-wrapper {
	border-top: 1px solid;
	padding-top: 10px;	
	}

.editor-projects-container,
.editor-clients-container,
.editor-map-item-wrap {
	padding: 5px;
	margin-bottom: 3px;
	position: relative;
	margin-top: 8px;
	border-radius: 0px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	background-color: $translight;
	width: 280px;
	}
	
#editor-clients-container-new {
	background-color: rgba(255, 255, 255, 0.15);
}	

#editor-client-item-new {
	height: 69px;
	width: 280px;
	text-align: center;
	padding: 0;
	}

#editor-client-item-new h5 {
	padding: 0;
	text-align: center;
	font-size: 200%;
	}


.editor-projects-container,
.editor-map-item-wrap {
	min-height: 80px;
	}

.editor-clients-container {
	min-height: auto !important;
	background-color: #0F1A1E;
	}	
	
.editor-map-item-wrap {
	margin-bottom: 1px;
	margin-top: 1px;
	}	

.editor-map-item-wrap:last-child {
	margin-top: 10px;
	}
	
.editor-clients-new-wrapper {
	overflow: hidden;	
	}
	
.editor-map-item-wrap {
	min-height: 0;
	}	

#editor-map-initpos-coordinates,
#editor-map-bounds-coordinates {
	position: relative;
	top: 15px;
	height: 0;
	overflow: hidden;	
	}

.coordinates_open {
	height: 192px !important;
	}

.bounds_open {
	height: 220px !important;
	}

.editor-clients-container:hover > .editor-client-edit-toggle {
	display: block !important;
	}
	
#editor-projects-container-new {
	padding-bottom: 47px;	
	margin-bottom: 10px;
	}	

.editor-client-title {
	position: relative;
	color: white;
/* 	min-height: 57px; */
	left: -20px;
	width: 273px;
	}

.editor-client-title img {
	max-width: 50px;
	max-height: 50px;
	position: absolute;
	left: 6px;
	top: 0px;
	}


h5 {
	position: relative;
	font-size: 150%;
	color: white;
	margin-top: 0;
	font-weight: 500;
	width: 100%;
	text-align: left;
	text-shadow: 1px 1px black;
	}
	
.editor-client-title h5 {
	top: 5px;
	padding-left: 60px;
	text-shadow: none;
	font-size: 140%;
	font-weight: 100;
	margin: 0;
	height: 18px;
	}

#editor-project-item-new h5 {
	padding-top: 10px;
	}

.editor-client-project {
	position: relative;
	width: 49%;
	border: 1px solid red;
	color: white;
	}

.editor-client-project img {
	max-width: 100px;
	max-height: 100px;
	border: 2px solid black;
	}

.editor-wrapper {
	color: white;
	width: 310px;
	height: 100%;
	overflow-y: scroll;
	padding-right: 16px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0px;
	}

.fullpage-documents .editor-wrapper,
.data-library .editor-wrapper { 
	width: auto;
	}

.editor-wrapper h3 {
	text-align: center;
	font-weight: 100;
	font-size: 320%;
	margin-top: 0;
	}

.editor-wrapper h4 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
/* 	opacity: 0.5; */
	opacity: 1;
	font-size: 150%;
	font-weight: 100;
	}

.documents-container-title {
	font-weight: 100;
	font-size: 320%;
	margin: 10px;
	margin-left: 30px;
	font-family: $font;
	}

.documents-folders h4 {
	margin-top: 0px;
	margin-bottom: 15px;
	opacity: 0.5;
	font-weight: 100;
	text-align: left;
	}

.editor-projects-item {
	color: white;
	overflow: hidden;
	height: 131px;
	width: 131px;
	left: 0px;
	margin: 4px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background: white;
	}

.swipe_left {
	left: -300px !important;
	}

.editor-projects-item:hover {
	color: gainsboro;
	}

.editor-projects-item img {
	width: auto;
	position: absolute;
	height: 200px;
	}

.editor-projects-item h5 {
	position: absolute;
	left: 0px;
	word-wrap: break-word;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	padding: 12px;
	padding-top: 9px;
	opacity: 0;
	font-family: $font;
	font-weight: 100;
	font-size: 174%;
	text-align: center;
	}

.editor-projects-item:hover > h5 {
	opacity: 1;
	}
.editor-projects-item:hover > .project-edit-button,
.list:hover > .project-edit-button {
	opacity: 1;
}


.editor-header-item img {
	max-width: 200px;
	}

.editor-map-item-wrap {
	padding: 10px;
	}


.editor-map-item-wrap input {
	background: rgba(0,0,0,0.3) !important;
	padding: 7px !important;
	color: white !important;	
	font-weight: 200;
	}

.list_view .editor-projects-item {
	width: 270px !important;
	background: $ecolor1;
	height: 41px !important;
	}

.list_view .editor-projects-item img {
	width: 50px !important;
	height: 41px !important;
	}

.list_view .editor-projects-item h5 {
	color: white !important;
	left: 0px !important;
	height: 41px !important;
	padding-left: 60px !important;
	opacity: 1 !important;
	background: none !important;	
	text-shadow: none !important;
	font-size: 140% !important;
	z-index: 2344;
	text-align: left;
	}
	
.list_view .editor-projects-item:hover h5 {
	color: gainsboro !important;
	}

/* header */
#header {
	position: absolute;
	top: 0px;
	left: 400px;
	height: 120px;
	width: 100%;
/* 	background: white; */
	background: rgba(255,255,255,0.9);
	z-index: 10;
	box-shadow: 0px 0px 5px black;
	}


#headerResizer { 
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 6px;
	cursor: ns-resize;
//	background: rgba(255,255,255,0.5)
	}

#header .header-logo {
	position: relative;
	height: 120px;
	max-width: 200px;
	color: white;	
	margin-right: 20px;
	float: left;
	max-height: inherit;
	}

.header-logo img {
	position: relative;
	max-height: inherit;
	}

.header-logo img:hover {
	opacity: 0.5;
	}

/*
.header-title { 
	border: 0px;
//	background: white;
	background: transparent;
	font-size: 25px;
//	border: 1px solid white;
	}
*/

.header-title {
	border: 0px;
	background: transparent;
	font-size: 40px;
	font-weight: 100;
	}


/*
.header-subtitle {
	border: 0px;
	background: transparent;
	font-size: 15px;
//	border: 1px solid white;
	display: block;
}
*/

.header-subtitle {
	border: 0px;
	background: transparent;
	display: block;
	position: relative;
	top: -8px;
	font-style: italic;
	color: #666;
	font-size: 16px;
	font-weight: 200;
	}

/* when hovering on editable textbox in header */
.editable:hover {
	}



.headerResizerDisabled { 
	cursor: default !important;
	}

#header input {
  outline: none;
//  padding: 3px 0px 3px 3px;
//  margin: 5px 1px 3px 0px;
  }
 
#header input:focus  {
//  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
//  padding: 3px 0px 3px 3px;
//  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  }

#layers-wrapper {
	width: 280px;
	}

.new-client,
#new-project-button,
#editor-map-initpos-button,
#editor-map-bounds {
	height: 32px;
	text-align: center;
	line-height: 2.2;
	margin-bottom: 10px;
	color: #666;
	background: white;
	cursor: pointer;
//	width: 280px;
	}

.new-client,
#editor-map-initpos-button,
#editor-map-bounds {
	width: 280px;
	}

#editor-map-initpos-button,
#editor-map-bounds {
	border: 0px;
	width: 230px;
	line-height: 1;
	margin: 0;
	border-radius: 0;
	font-family: $font;
	font-size: 120%;
	font-weight: 200;
	}


.dropdown-button,
#editor-map-initpos-more,
#editor-map-bounds-more,
.project-edit-button {
	background-image: url(evil_sprite.png);
	background-repeat: no-repeat;
	background-position: 4px 8px;
	position: absolute;
	right: 15px;
	top: 50px;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	}
	
.jbutton {
	top: 13px !important;
	right: 10px !important;	
	color: transparent !important;
	opacity: 0;
	}	
	
.editor-clients-container:hover > .jbutton {
	opacity: 1 !important;
	}
	
#editor-map-initpos-more,
#editor-map-bounds-more {
	top: 15px;
}
	
#new-project-button {
	display: inline-block;
	padding-left: 36px;
	padding-right: 36px;
	}

.sort-by-clients-projects {
	display: inline-block;
	vertical-align: top;
	}
	
#editor-projects-sort-by-left {
	border: none !important;
	border-radius: 0 !important;
	}	

#editor-projects-sort-by-right {
	border: none !important;
	border-left: 1px solid !important;
	border-radius: 0 !important;
}

.new-client-container {
	position: relative;
	top: -27px;	
	padding-bottom: 15px;
	}

// #editor-client-confirm-button,
#editor-project-confirm-button,
#editor-project-cancel-button,
.editor-client-delete-button {
	bottom: 12px;
	position: absolute;
	left: 50px;
	background: #C80000;
	text-align: center;
	border: none;
	border-radius: 3px;
	line-height: 1.8;
	height: 18px;
	font-size: 80%;
	color: white;
	width: 50px;
	cursor: pointer;
	}
	
#editor-client-confirm-button {
	width: 110px;
	bottom: 11px;
	top: auto;	
	}
	
#editor-client-cancel-button {
	width: 110px;
	bottom: 11px;
	top: auto;
	right: 20px;
	}	



// #editor-client-confirm-button,
#editor-project-confirm-button {	
	left: 20px !important;
	background: white !important;
	color: black !important;	
	bottom: 17px !important;	
	}

// #editor-client-cancel-button,
#editor-project-cancel-button {
//	left: 75px !important;
//	bottom: 17px !important;	
	}


	
.microbutton {
//	position: relative;
//	display: inline-block;
//	background: white;
//	width: 19px;
//	float: right;
//	border-radius: 19px;
//	height: 19px;
//	top: 6px;
	}

	
.microbutton,
.editor-client-edit-toggle,
.microbutton_red {
	width: 34px;
	height: 32px;

	top: 45px;
	left: 20px;
	
	position: absolute;
	background: #FAFAFA;
	text-align: center;
	border: none;
	border-radius: 0px;
	font-size: 14px;
	line-height: 2.3;
	color: #666;
	cursor: pointer;
	z-index: 1000;
	}
	
.microbutton_red {
	bottom: 12px;
	left: 50px;
	top: auto;
	left: auto;
	color: white;
	
	background: #C80000;
	box-shadow: 0 0 0 2px white inset;	
	}
	
.editor-project-delete-button {
	width: 80px;
	right: 0px;
	position: absolute;
	left: auto;
	bottom: -35px;
	}

	
	
.editor-client-edit-toggle {
	right: 8px;
	left: auto;
	bottom: 8px;
	top: auto;	
	}
	
#editor-project-colors {
	position: absolute;
	bottom: -35px;
	width: 120px;
	left: 0;
	top: auto;
	}		
	
.editor-client-save-button {
	background: white;
	color: #333;
	left: 12px;	
	}		
		
.editor-client-cancel-button {
	background: white;
	color: #333;
	left: 65px;	
	}

.editor-client-delete-button {
	left: 200px !important;
	}


.project-edit-button {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 102px !important;
	right: 7px;
	opacity: 0;	
	z-index: 9999;
	}

.box .project-edit-button {
	top: 102px !important;
	right: 7px;
	}

.list .project-edit-button {	
	top: 10px !important;
	right: 7px;
	}
	
.editor-client-edit-wrapper {
	display: none;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid rgba(255,255,255,0.5);
	margin-top: 14px;
	padding-top: 10px;
	padding-bottom: 40px;
	position: relative;
	left: -10px;
	width: 261px;	
	display: block !important;
	height: 0 !important;
	overflow: hidden !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;	
	top: 5px !important;
	opacity: 0 !important;	
	}

.client-editor-open {
	height: 229px !important;
	opacity: 1 !important;
	}


#select-provider {
	width: 150px;
	}

ul#checked {
	width: 100px;
	list-style: none;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	height: 40px;
	float: right;
	}

ul#checked li p {
	display: block;
	margin-bottom: 20px;
	background: -moz-linear-gradient(19% 75% 90deg,#3095C7, #14539C); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14539C), to(#3095C7));
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #555555;
	width: 90px;
	position: relative;
	height: 22px;
	}

ul#checked p:before {
	content: "Vector";
	padding-left: 5px;
	color: #fff;
	font-size: 12px;
	text-shadow: #093B5C 0px -1px 1px;
	}

ul#checked p:after {
	content: "Raster";
	padding-left: 6px;
	line-height: 23px;
	color: #fff;
	font-size: 12px;
	text-shadow: #093B5C 0px -1px 1px;
	}

.check { 
	display: block;
	width: 45px;
	height: 20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: -moz-linear-gradient(19% 75% 90deg,#FFFFFF, #A1A1A1);
	background: #fff -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1A1A1), to(#FFFFFF));
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0px;
	left: 0px;
	}

input[type=checkbox] {
	display: none;
	}

input[type=checkbox]:checked + label.check {
	top: 0px;
	left: 44px;
	}

input[type=checkbox] + label.check {
	top: 0px;
	left: 0px;
	}

label.info {
	position: absolute;
	color: #000;
	top:0px;
	left: 100px;
	line-height: 32px;
	width: 200px;
	}
/* END - iphone style flip switch - END */


.active {
	}
	
.dropzone-pane {
	width: 100px;
	height: 100px;
	border: white solid 1px;
	}

.sources-item {
	border: 2px solid white;
	margin: 5px;
	overflow: hidden;
	}
	
.disabled {
	color: rgb(66, 66, 66) !important;
	}

path {
	stroke-width: 1.5px;
	}

path:hover {
	fill-opacity: .7;
	}

.sources-pane-project .sources-item {
	background-color: red;
	}

.new {
	background-color: green !important;
	}
	
.sources-add-to-layer {
	background: yellow;
	color: black;
	border: 1px solid black;
	}

.q-editor-menu-item .users {
	border-top: 1px solid white;
	}




/*custom select box*/
.select-elem {
	width: 100%;
	background: $ecolor1;
	padding: 4px;	
	margin-bottom: 1px;
	}

.select-elem:hover {
	background: #444444;
	}

.select-title {
	width: 210px;
	border: 1px solid white;
	padding: 4px;
	height: 32px;
	text-align: center;
	color: #666;
	background: white;
	cursor: pointer;
	font-size: 120%;
	font-weight: 200;
	overflow: hidden;
	}

.select-wrap {
	}

.select-elems {
	display: none;
	margin-top: 8px;
	}

/*map controls*/
.controls-item {
	height: 32px;
	margin-bottom: 10px;
	color: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.3);
	cursor: pointer;
	border: 0px;
	line-height: 1;
	border-radius: 0;
	font-family: $font;
	font-size: 100%;
	font-weight: 200;
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	}

.controls-title {
	padding: 8px;
	}
	
.controls-item.active {
	background-color: white;
	color: rgba(0,0,0,0.7);
	font-weight: 600;
	}










.menucollapser {
	width: 100%;
	top: 5px;
	right: 52px;
	left: auto;
	text-transform: uppercase;
	text-align: center;
	background: white;
	height: 27px;
	line-height: 2.2;
	font-weight: 900;
	border-bottom: 1px solid #CACACA;
	}
	
#inspector-header {
	top: -9px !important;
	position: relative;
	right: 0;
	border-top: 1px solid #CACACA;
	}
	

#collapse-description {
	}
	
#bhattan1 {
	position: absolute;
	top: 3px;
	left: 0px;
	cursor: pointer;
	background-position: -26px 8px;
	background-color: transparent;
	}

#bhattan2 {
	position: absolute;
	top: 4px;
	right: 37px;
	cursor: pointer;
	background-position: -26px 8px;
	background-color: transparent;
	}




#uncollapse {
	background: white;
	top: 5px;
	position: relative;
	left: 8px;
	text-align: center;
	line-height: 2;
	font-weight: 500;
	cursor: pointer;
	margin: 0;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

.uncollapser-uncollapsed {
	float: left;
	width: 150px;
	height: 24px;	
	left: 8px !important;
	margin-bottom: 5px !important;
	}



.uncollapse-killer {
	width: 0;
	height: 0;
	left: 208px !important;
	margin: 0;
	}


	
	

// Override Leaflet Controllers
	
.leaflet-left .leaflet-control {
	margin-left: 3px;
	padding-left: 3px;
	}	
	
.leaflet-bar {
	border-radius: 0;
	padding-left: 0 !important;
	}
	
.leaflet-control-scale {
	margin: 0 !important;
	}

.leaflet-top.leaflet-right {
	right: 233px;
	top: 7px;
	max-width: 300px;
	border: 0;
	text-align: left;
	}

/*mouseposition control*/
.leaflet-container .leaflet-control-mouseposition {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0 5px;
	margin:0;
	color: #333;
	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-right: 1px;
	margin-top: 2px;	
	}

.leaflet-control-scale-line {
	background-color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	vertical-align: top;
	margin: 1px;
	border: 0px !important;
	}	
		
.leaflet-control-scale-line:not(:first-child) {
	border: 0px;
	margin-top: 0px;
	position: relative;
	top: 1px;
	}	
	
.leaflet-control-layermenu {
	width: 100%;
	height: 100%;
	right: 0;
	margin: 0 !important;	
	box-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
	}	

.leaflet-bottom.leaflet-right {
	overflow: visible;
	top: -24px;
	width: 220px;
	right: 7px;
	padding-bottom: 129px;
	margin: 0;
	height: 100%;
	padding-top: 31px;
	}

.leaflet-control-attribution {
	position: fixed;
	right: 2px;
	bottom: 2px;
	}
	
.leaflet-bar a:first-child,
.leaflet-bar a:last-child,
.leaflet-control-styleeditor-interior {
	border-radius: 0px !important;
	}	
	
.leaflet-control-inspect {
	width: 100%;
	border-top: 1px dashed #A9A9A9;
	left: 10px;
	height: 147px;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
	}	
	
.editor-project-edit-super-wrap {	
	background: rgba(255,255,255,0.2);
	height: 231px;
	width: 270px;
	opacity: 1;
	position: relative;
	left: 4px;
	padding: 10px;
	margin-bottom: 10px;
	top: 0px;
	overflow: hidden;
	}
	
/*
.editor-project-edit-super-wrap:before {
	content: '';
	position: absolute;
	top: -9px;
	width: 20px;
	height: 20px;
	background: white;
	}
	
.editor-project-edit-super-wrap.left:before {
	left: 56px;
	}	
	
.editor-project-edit-super-wrap.right:before {
	right: 56px;
	}		
*/
	
	
// The left side, yo...

.leaflet-top.leaflet-left {
	height: 100%;
	text-align: right;
	width: 320px;
	}
	
.leaflet-top .leaflet-control {
	margin-top: 7px;	
	}	
	
.leaflet-control-description {
	width: 100%;
	height: 100%;
	position: absolute;
	padding-right: 37px;
	padding-bottom: 13px;
	-webkit-box-sizing: border-box;
	z-index: -2;
	}	
	
#description-control-inner-content {
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}	

#description-control-inner-content-box {
	background: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
	}

.leaflet-control-zoom,
.leaflet-draw, 
.leaflet-control-styleeditor {
	float: right;
	}



.leaflet-control-layermenu {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
	overflow: hidden;
	}



// Legends
.leaflet-bottom.leaflet-left {
	width: 100%;
	}
	
.leaflet-control-legends {
	width: 100%;
	bottom: -3px;
	}
	
#legends-control-inner-content {
	width: 100%;
	bottom: -3px;
	padding-left: 287px;
	padding-right: 237px;
	}	
	
.legends-push-left {
	padding-left: 0px !important;
	}
	
.legends-push-right {
	padding-right: 10px !important;
	}		
	
#legends-inner {
	width: 100%;
	height: 120px;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);	
	}	
	
#legends-collapser {
	background-position: -26px 8px;
	background-color: transparent;
	top: -3px;
	cursor: pointer;
	}

#legends-opener {
	text-align: center;
	background: white;
	height: 100%;
	line-height: 2;
	font-weight: 900;	
	cursor: pointer;
	}

#open-layers {
	position: absolute;
	top: 29px;
	right: 0px;
	background: white;
	text-align: center;
	line-height: 2;
	font-weight: 500;
	cursor: pointer;
	margin: 0;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}
	
.layer-opener-opened {
	right: auto;
	left: -120px;
	}
	
.close-layer-opener {
	width: 0px;
	height: 0px;
	}	
	
.show {
	display: block;
	}

.swipe_out_up {
	top: -200px;
	opacity: 0;
	display: block;
	}
	
.swipe_out {
	top: 200px;
	opacity: 0;
	display: block;
	}
	
#polse {
	position: absolute;
	top: 10px;
	left: 370px;
	z-index: 4000;	
	cursor: pointer;
	}