// The list to the left
#documents-folder-list {
	margin-top: 30px;
	}

.documents-folder-item,
#documents-new-folder {
	background: none;
	border: none;
/* 	letter-spacing: 1px; */
	font-weight: 100;
	font-size: 150%;
	width: 75%;
	margin: 4px;
	margin-left: 30px;
	font-family: $font;
	color: gainsboro;	
	cursor: pointer;	
	}
		
#documents-new-folder {
	width: 50px;
	height: 50px;
	}

#documents-new-folder:hover,
.documents-folder-item:hover {
	color: white;
	}

	
.fullpage-documents {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(63, 70, 82, 1);
	z-index: 3400;
	display: none;
	left: 100px;	
	padding-right: 84px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

#documents-container-rightpane {
	position: absolute;
	font-weight: 100;
	padding: 20px;
	font-family: $font;
	position: absolute;
	left: 300px;
	height: 100%;
	color: gainsboro;
	font-size: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	padding-right: 440px;
	-webkit-box-sizing: border-box;
	top: 45px;
	}

	


.text-menu .options {
	padding-top: 1px !important;
	width: 215px !important;
	}

.text-menu.options.url-mode .file {
	display: none;
	}

.text-menu.active {
	z-index: 1500;
	}

#documents-container-leftpane {
	position: absolute;
	font-weight: 100;
	margin: 10px;
	font-family: $font;
	position: absolute;
	width: 300px;
	top: 36px;
	}



.underline {
	text-decoration: underline;
	}
	
	
.grande-project-files {
	width: 181px;
	top: 36px;
	position: absolute;
	left: 0px;
	}	
	
.grande-project-files-btn {
	width: 30px !important;
	height: 16px !important;
	background-color: white !important;
	position: absolute !important;
	top: 37px !important;
	right: 0px !important;
	border-radius: 3px !important;	
	cursor: pointer;
	}
	
.grande-project-files-btn:before {	
	content: 'OK';
	width: 100%;
	height: 100%;
	color: black;
	position: absolute;
	text-align: center;
	font-size: 11px;
	font-weight: 900;
	}