.large-label {
/*
	margin-bottom: 10px !important;
	font-size: 20px !important;
*/
	}

#editor-map-baseurl {
/* 	text-align: center; */
	}

.content-title {
/*
	color: white;
	font-size: 20px;
	margin: 10px;
*/
	}

#editor {
/*
	position: absolute;
	width: 300px;
	background: $ecolor2;
	height: 100%;
*/
	}

	
	

.editor-client-project {
/*
	position: relative;
	width: 49%;
	border: 1px solid red;
	color: white;
*/
	}

.editor-client-project img {
/*
	max-width: 100px;
	max-height: 100px;
	border: 2px solid black;
*/
	}













	
	

	


// #editor-client-confirm-button,



// #editor-client-confirm-button,

// #editor-client-cancel-button,
#editor-project-cancel-button {
//	left: 75px !important;
//	bottom: 17px !important;	
	}


	
.microbutton {
//	position: relative;
//	display: inline-block;
//	background: white;
//	width: 19px;
//	float: right;
//	border-radius: 19px;
//	height: 19px;
//	top: 6px;
	}

	

	


	
	
	
#editor-project-colors {
/*
	position: absolute;
	bottom: -35px;
	width: 120px;
	left: 0;
	top: auto;
*/
	}		
	




	


#select-provider {
/* 	width: 150px; */
	}



/* END - iphone style flip switch - END */


	






/*custom select box*/


/*map controls*/
